@charset "utf-8";
/* MINDsLab UX/UI팀. YMJ. 20200910 */

/* main-Service Title Area */
.maumUI .svc_sta {display:block; position:relative; top:0; width:100%;     transform:translate(0,0); transition:all 0.3s ease-out;}

/* main-visual영역 */
.maumUI .svc_sta .svc_visual {display:block; overflow:hidden; position:relative; width:100%; height:300px; text-align:center;}
.maumUI .svc_sta .svc_visual:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(25,42,57,0.7); z-index:10;}
.maumUI .svc_sta .svc_visual dl {display:inline-block; position:relative; margin:80px 0 0 0; color:#fff; z-index:20;}
.maumUI .svc_sta .svc_visual dl dt {display:block; margin:0 0 5px 0; font-size:40px; font-weight:700; line-height:54px; letter-spacing:-1px;}
.maumUI .svc_sta .svc_visual dl dd {display:block; font-size:28px; line-height:36px;}
.maumUI .svc_sta .svc_visual .bg_img {position:absolute; top:0; left:0; width:100%; transition:all 0.5s ease-out;}
.maumUI .svc_sta .svc_visual .bg_img img {width:100%;}

/* header-lnb */
.maumUI .svc_sta .lnb {display:block; clear:both; overflow:hidden; position:absolute;  bottom:0;  width:100%; min-height:56px; padding:0 35px; text-align:center; border-top:1px solid rgba(245,246,250,0.2); background:rgba(25,42,57,0.5); box-sizing:border-box; transition:all 0.3s ease-out; z-index:10;}
.maumUI .svc_sta .lnb h2 {display:none; float:left; height:33px; margin:10px 0 0 0; color:#121f3e; font-size:18px; font-weight:700; line-height:31px;}
.maumUI .svc_sta .lnb ul.nav {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav li {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav li a {display:block; position:relative; width:200px; height:100%; padding:0; color:rgba(255,255,255,0.7); font-size:16px; font-weight:400; text-align:center; line-height:55px; border-radius:0; transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav li a:hover {color:rgba(255,255,255,1.0); background:rgba(255,255,255,0.15); transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav li a.active {color:#fff; background:rgba(255,255,255,0.15); }
.maumUI .svc_sta .lnb ul.nav li a.active:before {content:''; position:absolute; top:0; left:0; width:100%; height:3px; background:#fff;}

.maumUI .svc_sta .lnb ul.nav_etc {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav_etc li {display:inline-block; margin:0 10px;}
.maumUI .svc_sta .lnb ul.nav_etc li a {display:block; position:relative; height:100%; padding:0 15px; color:rgba(255,255,255,0.7); font-size:16px; font-weight:400; line-height:55px; letter-spacing:-0.25px; border-radius:0; background:rgba(255,255,255,0); transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav_etc li a:hover {color:rgba(255,255,255,1.0); background:rgba(255,255,255,0.15); transition:all 0.3s ease-out;}

/* header-scroll transform */
.maumUI.transform #header .maum_sta {position:fixed; top:0; left:0; width:100%; height:40px; background:rgba(17,29,39,1.0); transition:all 0.3s ease-out; z-index:50;}
.maumUI.transform #header .maum_sta h1 {width:50px; margin:2px 0 0 20px; background:url("../images/logo_maumAi_w.svg") 50% 50% no-repeat; background-size:100% auto;}
.maumUI.transform #header .maum_sta .maum_gnb {margin:0 0 0 40px;}
.maumUI.transform #header .maum_sta .maum_gnb .nav li {margin:0 20px 0 0;}
.maumUI.transform #header .maum_sta .maum_gnb .nav li a {height:40px; color:#fff; font-size:12px; font-weight:500; line-height:38px;}
.maumUI.transform #header .maum_sta .maum_gnb .nav li a:hover {color:#3599ff; transition:all 0.3s ease-out;}

.maumUI.transform #header .maum_sta .maum_etc {margin:5px 20px 0 0;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li {margin:0 0 0 10px;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a {height:30px; color:#fff; font-size:12px;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico {width:30px; background-size:16px 16px !important;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li.active>a.btn_ico {background-color:rgba(255,255,255,0.1) !important;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico.user {background:url("../images/ico_user_w.svg") 50% 50% no-repeat;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico.lang {background:url("../images/ico_lang_w.svg") 50% 50% no-repeat;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico.app {background:url("../images/ico_app_w.svg") 50% 50% no-repeat;}
.maumUI.transform #header .maum_sta .maum_etc .nav>li>a.btn_ico.mindsLab {background:url("../images/ico_mindsLab_w.svg") 50% 50% no-repeat}

.maumUI.transform.trans #header .svc_sta {position:fixed; top:40px; width:100%; min-width:1280px; height:55px; transform:translate(0,0); transition:all 0.3s ease-out;}
.maumUI.transform.trans #header .svc_sta .svc_visual{position:absolute; top:-300px;}
.maumUI.transform.trans #header .svc_sta .lnb {background:#fff; box-shadow:0 0 12px rgba(25,42,57,0.25);}
.maumUI.transform.trans #header .svc_sta .lnb h2 {display:inline-block;}
.maumUI.transform.trans #header .svc_sta .lnb h2 a {display:block; margin:0; color:#121f3e; font-size:18px; font-weight:700; line-height:31px; transition:all 0.3s ease-out;}
.maumUI.transform.trans #header .svc_sta .lnb h2 a:hover {color:#3599ff; transition:all 0.3s ease-out;}
.maumUI.transform.trans #header .svc_sta .lnb a {width:auto; margin:0 20px; color:#99a3ae; font-size:14px;}
.maumUI.transform.trans #header .svc_sta .lnb a:hover {color:#121f3e;}
.maumUI.transform.trans #header .svc_sta .lnb a.active {color:#3599ff;}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc {float:right; margin:10px 0 0 0;}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc a {height:36px; margin:0 0 0 15px; color:#121f3e; padding:0 15px;font-size:13px; line-height:34px; border:1px solid rgba(0,0,0,0.1); border-radius:4px;}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc a:hover {color:#3599ff; border:1px solid #3599ff;}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc a.btn_rou_pstive {color:#fff; background:#3599ff;}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc a.btn_rou_pstive:hover {border:1px solid rgba(0,0,0,0.2);}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc li {margin:0;}

/* container */
.maumUI #container {display:table; width:100%; height:100%; padding:0; background:#f5f7f9;}
.maumUI.transform.trans #container {padding:95px 0 0 0;}

/* container-snb */
.maumUI #container .snb {display:table-cell; width:280px; min-width:250px; padding:0; vertical-align:top; border-right:1px solid #eceef3; box-sizing:border-box; background:#fff;}
.maumUI #container .snb .bgBox {display:block; padding:20px; border-bottom:1px solid #eceef3; background:#fff;}
.maumUI #container .snb .bgBox a {display:block; height:46px; color:#fff; font-size:15px; font-weight:700; text-align:center; line-height:44px; border-radius:4px; background:#3599ff;}
.maumUI #container .snb .bgBox a span {display:inline-block; margin:0 7px 0 0; opacity:0.7;}
.maumUI #container .snb .navBox {padding:25px 10px;}
.maumUI #container .snb .navBox .nav_tit {display:block; margin:0 0 7px 0; padding:0 10px; color:#98a7b7;}
.maumUI #container .snb ul.nav {display:block;}
.maumUI #container .snb ul.nav li {display:block; margin:0 0 5px 0; font-size:11px; border-bottom:1px solid #f4f6fb;}
.maumUI #container .snb ul.nav li a {display:block; min-height:32px; padding:10px; color:#121f3e; font-size:14px; border-radius:4px; box-sizing:border-box; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a span {display:inline-block; margin:0 7px 0 0; color:#abb0bf; opacity:0.7; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a:hover {color:#3599ff; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a:hover span {color:#3599ff; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a.active {padding:12px 20px 12px 10px; color:#3599ff; background:#f2f6ff;}
.maumUI #container .snb ul.nav li a.active span {color:#3599ff;}

/* container-contents */
.maumUI #container .contents {display:table-cell; width:calc(100% - 280px); padding:30px; text-align:center; vertical-align:top; box-sizing:border-box;}

/* main-서비스설명 */
.svc_disb {display:block; position:relative; width:100%; padding:60px 0; text-align:center; background:#fff;}
.svc_disb dl {display:block; position:relative; color:#121f3e;}
.svc_disb dl dt {display:block; margin:0 0 30px 0; font-size:30px; font-weight:600; line-height:40px; letter-spacing:-1px;}
.svc_disb dl dd {display:block; color:#5b6875; font-size:17px; line-height:28px;}

.svc_disb .lst {display:inline-block; margin:70px 0 0 0;}
.svc_disb .lst li {display:inline-block; width:270px; margin:0 15px;}
.svc_disb .lst li .ico {display:block; height:70px; margin:0 0 30px 0;}
.svc_disb .lst li .ico img {height:100%;}
.svc_disb .lst li .tit {display:block; margin:0 0 20px 0; font-size:22px; font-weight:700;}
.svc_disb .lst li .txt {display:block; color:#5b6875; font-size:15px; line-height:24px; word-break:keep-all;}

.svc_disb .btnBox {margin:70px 0 0 0;}
.svc_disb .btnBox a {padding:10px 30px; color:#fff; font-size:16px; font-weight:700; border:none; background:#3599ff;}

/* main-커리큘럼 */
.bg_grayBox {display:block; position:relative; width:100%; padding:70px 0; text-align:center; background:#f5f7f9;}
.bg_grayBox dl {display:block; position:relative; margin:0 0 50px 0; color:#121f3e;}
.bg_grayBox dl dt {display:block; margin:0 0 30px 0; font-size:28px; font-weight:600; line-height:38px; letter-spacing:-1px;}
.bg_grayBox dl dd {display:block;}
.bg_grayBox dl dd .lst_olBox {display:block;}
.bg_grayBox dl dd .lst_olBox li {display:inline-block; margin:0 15px; vertical-align:top;}
.bg_grayBox dl dd .lst_olBox li a {display:block; width:370px; min-height:320px; padding:25px; border-radius:15px; box-sizing:border-box; background:#fff; box-shadow:0 0 0 rgba(47,68,81,0.1); transition:all 0.3s ease-out;}
.bg_grayBox dl dd .lst_olBox li a:hover {box-shadow:0 0 20px rgba(47,68,81,0.2); transition:all 0.3s ease-out;}
.bg_grayBox dl dd .lst_olBox li a .num {display:block; color:#98a7b7; font-size:15px; font-weight:700; text-align:left;}
.bg_grayBox dl dd .lst_olBox li a .ico {display:inline-block; width:60px; height:60px; margin:0 0 15px 0; padding:15px; border-radius:100px;}
.bg_grayBox dl dd .lst_olBox li a .ico img {width:100%; height:100%;}
.bg_grayBox dl dd .lst_olBox li a .tit {display:block; margin:0 0 20px 0; color:#121f3e; font-size:22px; font-weight:700; line-height:30px; letter-spacing:-0.5px;}
.bg_grayBox dl dd .lst_olBox li a .txt {display:block; color:#5b6875; font-size:15px; line-height:24px; word-break:keep-all;}

.bg_grayBox dl dd .lst_olBox li a.active {margin:0 0 0 0; background:#3599ff; box-shadow:0 0 20px rgba(47,68,81,0.3); }
.bg_grayBox dl dd .lst_olBox li a.active .ico {background:#fff;}
.bg_grayBox dl dd .lst_olBox li a.active .num {color:rgba(0,0,0,0.3);}
.bg_grayBox dl dd .lst_olBox li a.active .tit {color:#fff;}
.bg_grayBox dl dd .lst_olBox li a.active .txt {color:rgba(255,255,255,0.7);}

/* main-강의목록 */
.courseBox {display:inline-block; position:relative; width:1180px; padding:45px 70px; border-radius:15px; box-sizing:border-box; background:#fff;}
.courseBox h4 {display:block; margin:0 0 20px 0; color:#121f3e; font-size:28px; font-weight:500; text-align:left; line-height:38px;}
.courseBox h4 span {display:inline-block; margin:0 0 0 10px; color:#98a7b7; font-size:13px;}
.courseBox .lst {display:block;}
.courseBox .lst >li {display:block; overflow:hidden; margin:0 0 15px 0; border:1px solid #e1e5ea; border-radius:5px;}
.courseBox .lst >li> a {display:block; position:relative; padding:15px 40px; color:#121f3e; font-size:18px; text-align:left; line-height:28px;}
.courseBox .lst >li> a:hover {color:#3599ff; background:#f2f6ff; transition:all 0.3s ease-out;}
.courseBox .lst >li >a:after {content:''; position:absolute; top:18px; right:35px; width:24px; height:24px; border-radius:30px; background:url(../images/arw_bottom_bk.png) 50% 50% no-repeat;}
.courseBox .lst li a .num {display:inline-block; margin:0 10px 0 0; color:#98a7b7;}
.courseBox .lst li a .tit {display:inline-block;}
.courseBox .lst li .lst_hide {display:none; padding:0; text-align:left; background:#f5f7f9;}
.courseBox .lst li .lst_hide li {display:block; font-size:16px; border-bottom:1px solid #f4f7fb;}
.courseBox .lst li .lst_hide li:last-child {border-bottom:none;}
.courseBox .lst li .lst_hide li a {display:block; padding:13px 50px 13px 52px; font-size:15px; line-height:20px; background:#fff; transition:all 0.3s ease-out;}
.courseBox .lst li .lst_hide li a:hover {color:#3599ff; transition:all 0.3s ease-out;}
.courseBox .lst li .lst_hide li a strong {display:inline-block; margin:0 10px 0 0; color:#98a7b7; font-weight:400;}

.courseBox .lst >li.active {border:1px solid #3599ff;}
.courseBox .lst >li.active >a {color:#3599ff; font-weight:700; background:#f2f6ff;}
.courseBox .lst >li.active >a:after {transform:rotate(180deg);}
.courseBox .lst >li.active >a .num {color:#121f3e;}
.courseBox .lst li.active .lst_hide {display:block;}

/* sub-강의제목 */
.lect_tit {display:block; clear:both; overflow:hidden; margin:20px 20px 25px 20px;}
.lect_tit h3 {float:left; margin:0 0 10px 0; color:#121f3e; font-size:32px; font-weight:400; text-align:left; line-height:38px; letter-spacing:-1px;}
.lect_tit h3 strong {margin:0 10px 0 0; font-weight:700; letter-spacing:-2px; text-transform:uppercase;}
.lect_tit h3 .en_type {display:inline-block; margin:1px 0 0 10px; padding:3px 15px; color:#000; font-size:12px; line-height:18px; border-radius:20px; vertical-align:top;}
.lect_tit h3 .en_type.ft_clr_stt {color:#7c71e1; background:#d7d3ff;}
.lect_tit p {display:block; color:#99a3ae; font-size:14px;}

.lect_tit .lect_tab {float:right;}
.lect_tit .lect_tab li {float:left; margin:0 0 0 10px;}
.lect_tit .lect_tab li a {display:block; padding:9px 20px; color:#55a8fd; border:1px solid #d7dee7; border-radius:5px; background:#fff;}
.lect_tit .lect_tab li a.active {color:#fff; background:#55a8fd;}

/* sub-학습목표 */
.lect_objt {display:table; width:calc(100% - 40px); margin:0 20px 60px 20px; padding:25px 35px; color:#38434e; font-size:17px; text-align:left; line-height:26px; border-radius:4px; box-sizing:border-box; background:#fff;}
.lect_objt dt {display:table-cell; width:10%; min-width:100px; color:#7d8a98;}
.lect_objt dd {display:table-cell; word-break:keep-all;}

/* sub-강의내용 */
.lect_cont {display:inline-block; width:calc(100% - 25%); min-width:900px; margin:0 20px;}
.lect_cont .pdfBox {display:block; overflow:hidden; width:100%; height:600px; margin:0 0 70px 0; border-radius:4px;}
.lect_cont .videoBox {display:block; overflow:hidden; margin:0 0 70px 0; border-radius:4px;}

/* sub-강의내용(첨부파일) */
.attachBox {display:block; overflow:hidden; margin:0 0 50px 0; text-align:left; border-radius:7px; background:#fff; box-shadow:0 0 2px rgba(0,0,0,0.1);}
.attachBox p {display:block; margin:0 0 20px 0; padding:12px 20px; color:#fff; font-size:16px; background:#616e7b;}
.attachBox p span {display:inline-block; margin:0 0 0 7px; color:#fff; font-size:13px; opacity:0.5;}
.attachBox h4 {display:block; margin:0 0 15px 0; padding:5px 20px 0 20px; font-size:15px; line-height:22px;}
.attachBox h4 span {display:inline-block; padding:4px 5px; color:#fff; font-size:11px; line-height:16px; vertical-align:top; border-radius:20px; background:#121f3e;}
.attachBox .attach {display:block; margin:0 0 20px 0; padding:0 20px;}
.attachBox .attach dl {display:block; clear:both; overflow:hidden; margin:0 0 15px 0; font-size:13px;}
.attachBox .attach dl dt {display:block; margin:0 0 10px 0; padding:0 30px; color:#121f3e; font-size:14px;}
.attachBox .attach dl dd {display:block; clear:both; overflow:hidden;}
.attachBox .attach dl dd ol {display:block; color:#77889a;}
.attachBox .attach dl dd ol li {float:left; width:50%; margin:0 0 10px 0; padding:0 30px; box-sizing:border-box;}
.attachBox .attach dl dd ol li .playerBox {margin:5px 0 0 0;}
.attachBox .attach dl dd ol li video {display:block; width:100%; margin:5px 0 0 0; border-radius:5px; box-sizing:border-box;}

/* sub-player */
.playerBox {display:table; width:100%; min-width:400px; height:100%; padding:7px 5px; color:#333; line-height:24px; border:1px solid #e0e5ea; border-radius:5px; box-sizing:border-box;}
.playerBox button {width:100%; height:100%; border:none; background:#ccc; box-sizing:border-box;}
.playerBox button span {display:block; overflow:hidden; text-indent:-999px;}
.playerBox>span {height:100%; font-size:11px; box-sizing:border-box;}
.playerBox>div{display:table-cell; position:relative; height:100%; padding:0 5px; text-align:center; vertical-align:middle; box-sizing:border-box;}

.playerBox .player_button {width:60px; padding:0 15px 0 5px; text-align:center;}
.playerBox .player_button button {display:block; font-size:11px; line-height:20px; text-indent:0; border:none; border-radius:3px;}
.playerBox .player_button button.btn_player_speedDown {background:#fff url("../images/ico_player_speedDown_db.png") 50% 50% no-repeat; background-size:45%;}
.playerBox .player_button button.btn_player_play {background:#fff url("../images/ico_player_play_db.png") 50% 50% no-repeat; background-size:30%;}
.playerBox .player_button button.btn_player_play.pause {background:#fff url("../images/ico_player_pause_db.png") 50% 50% no-repeat; background-size:33%;}
.playerBox .player_button button.btn_player_speedUp {background:#fff url("../images/ico_player_speedUp_db.png") 50% 50% no-repeat; background-size:45%;}

.playerBox .player_speed {width:30px;}
.playerBox .player_speed span {display:inline-block; height:16px; padding:0 7px; color:#fff; font-size:11px; line-height:16px; border-radius:10px; background:#9ca4b9;}

.playerBox .player_bar {}
.playerBox .player_bar .player_bar_streaming {display:flex; position:relative; height:12px; margin:0; flex-basis:0; flex-grow:1; cursor:pointer;}
.playerBox .player_bar .player_bar_streaming:before {content:''; position:absolute; top:5px; width:100%; height:4px; border-radius:10px; background-color:#c2c8d8;}
.playerBox .player_bar .player_bar_streaming > em {position:absolute; left:0; top:5px;}
.playerBox .player_bar .player_bar_streaming .player_bar_loaded {height:4px; background:#e0e5ea; z-index:1;}
.playerBox .player_bar .player_bar_streaming .player_bar_played {flex-direction:row-reverse; height:4px; border-radius:10px; background:#3599ff; z-index:2;}
.playerBox .player_bar .player_bar_streaming .player_bar_played:after {content:''; display:flex; position:absolute; top:-4px; right:-1px; border:2px solid #fff; width:12px; height:12px; margin-right:-5px; border-radius:6px; box-shadow:0 0 4px rgba(30,40,109,0.5); background:#8f969c; box-sizing:border-box; transition:all 0.2s ease-out;}
.playerBox.playing .player_bar .player_bar_streaming .player_bar_played:after {background:#3599ff; transition:all 0.2s ease-out;}

.playerBox .player_time {width:90px; font-size:11px;}
.playerBox .player_time .current {color:#3599ff; margin:0 3px 0 0;}
.playerBox .player_time .duration {color:#787a8a;}

.playerBox .player_volume {width:100px;}
.playerBox .player_volume .player_bar_button {display:flex; align-items:center; width:24px; height:24px; cursor:pointer;}
.playerBox .player_volume .player_bar_button a {position:relative; width:6px; height:8px; vertical-align:middle; background:#718292;}
.playerBox .player_volume .player_bar_button a:before, .playerBox .player_volume .player_bar_button a:after {content:''; position:absolute;}
.playerBox .player_volume .player_bar_button a:before {top:-4px; left:0; width:0; height:0; border-top:7px solid transparent; border-right:8px solid #718292; border-bottom:9px solid transparent; /*! border-left:none; */}
.playerBox .player_volume .player_bar_button a:after {top:-2px; left:10px; width:6px; height:6px; border:6px double #718292; border-width:6px 6px 0 0; border-radius:0 12px 0 0; transform:rotate(45deg);}
.playerBox.muted .player_volume .player_bar_button a {background-color:#4f5669;}
.playerBox.muted .player_volume .player_bar_button a:before {border-right:9px solid #4f5669;}
.playerBox.muted .player_volume .player_bar_button a:after {display:none;}

.playerBox .player_volume .player_bar_adjust {position:absolute; top:50%; right:5px; margin:-2px 0 0 0;}
.playerBox .player_volume .player_bar_adjust span {display:flex; overflow:hidden; position:relative; width:60px; height:4px; border-radius:5px; background-color:#c2c8d8; cursor:pointer;}
.playerBox .player_volume .player_bar_adjust span em {position:absolute; top:0; left:0; height:4px; background-color:#3599ff;}

/* sub-contents button */
.lect_btn {display:block; margin:20px 0; text-align:right;}
.lect_btn li {margin:10px 0 0 0;}
.lect_btn li a {display:inline-block; padding:12px 20px; color:#fff; font-size:14px; border-radius:4px; background:#4c5865; transition:all 0.3s ease-out;}
.lect_btn li a:hover {background:#3599ff; transition:all 0.3s ease-out;}

/* color */
.ft_point01 {color:#3599ff;}


/* layerpopup */
#lyr_aiAonsultant_more {width:800px;}

.landscapeBox {display:block; padding:50px 50px 30px 50px; background:#fff;}
.landscapeBox dt {display:block; padding:0 0 15px 0; color:#121f3e; font-size:14px; font-weight:700; line-height:24px; text-align:center;}
.landscapeBox dd {display:block;}
.landscapeBox dd .lst {display:inline-block; clear:both; overflow:hidden; width:1180px;  margin:20px 0 0 0;}
.landscapeBox dd .lst li {float:left; width:50%; margin:0 0 20px 0; color:#5b6875; font-size:16px;}
.landscapeBox dd .lst li img {display:inline-block; width:40px; height:40px; margin:0 10px 0 0; vertical-align:middle;}

.portraitBox {display:block; margin:0 0 25px 0; padding:10px 20px 50px 20px; background:#fff;}
.portraitBox dt {display:block; padding:0 0 15px 0; color:#121f3e; font-size:14px; font-weight:700; line-height:24px; text-align:center;}
.portraitBox dd {display:block;}
.portraitBox dd .lst {display:block; clear:both; overflow:hidden;}
.portraitBox dd .lst li {float:left; width:25%; padding:0 15px; color:#5b6875; font-size:13px; text-align:center; letter-spacing:-0.5px; box-sizing:border-box;}
.portraitBox dd .lst li img {width:70px; height:70px;}
.portraitBox dd .lst li span {display:block; margin:5px 0 0 0; vertical-align:middle;}

.bg_grayBox .lot_half {display:inline-block; clear:both; overflow:hidden; width:1040px; margin:0; background:#f5f7f9;}
.bg_grayBox .lot_half .landscapeBox {display:inline-block; float:left; width:calc(50% - 30px); margin:0 0 0 30px; padding:0; text-align:left; box-sizing:border-box; background:none;}
.bg_grayBox .lot_half .landscapeBox:first-child {margin:0 30px 0 0;}
.bg_grayBox .lot_half .landscapeBox dt {margin:0 0 5px 0; color:#3599ff; font-size:22px; font-weight:500; line-height:28px; text-align:center;}
.bg_grayBox .lot_half .landscapeBox dd {padding:0 15px; border:1px solid #e1e5ea; border-radius:7px; background:#fff;}
.bg_grayBox .lot_half .landscapeBox dd ul.lst {display:block;}
.bg_grayBox .lot_half .landscapeBox dd ul.lst li {display:block; float:none; width:100%;}

/* footer */
#footer  {position:relative;}
.stn_inquiry .cont_box .inquiry_box input, .stn_inquiry .cont_box .inquiry_box textarea {height:30px;border:none; border-bottom:1px solid #b6c5d1;}
#footer .stn_inquiry .cont_box .info_box p a.co_link {color:#b6c5d1;}