/* 공통 */
html,body {font-size: 16px; line-height: normal;}
body > * {font-family: "Noto Sans KR",'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',"dotum", sans-serif;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, legend, em, span {font-family: "Noto Sans KR",'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',"dotum", sans-serif; letter-spacing: -0.6px;}
#wrap {min-width:1280px;}
#container {width: 100%;}
.text_hide {overflow: hidden; line-height: 0; font-size: 0; text-indent: -999px;}
/* -------------------- mobile -------------------- */
@media screen and (max-width:768px) {
    html,body {font-size: 1rem;}
    #wrap {width: auto; min-width: 320px;}
    #container {overflow: hidden;}
}
.btn_primary {display: inline-block; padding: 10px 42px; border-radius: 20px; background-color: rgba(255,255,255,0.9); box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15); font-size: 15px; color: #5b6ae2; transition: background-color 0.2s;}
.btn_primary.small {padding: 7px 15px; border-radius: 17px; font-size: 12px;}
.btn_primary.large {padding: 10px 62px; border-radius: 24px; font-size: 20px;}
.btn_primary.blue {background-color: rgba(105,121,248,0.9); color: #fff;}
.btn_primary:hover,
.btn_primary:focus,
.btn_primary:active {background-color: rgba(255,255,255,1.0); color: #5b6ae2;}
.btn_primary.blue:hover,
.btn_primary.blue:focus,
.btn_primary.blue:active {background-color: rgba(105,121,248,1.0); color: #fff;}
/* stn */
.stn {padding: 60px 0; text-align: center;}
/* //stn */
/* content */
.content {display: inline-block; width: 955px; text-align: left;}
.content .content_tit {text-align: center;}
.content .content_tit .tit {font-size: 45px; line-height: 45px; letter-spacing: -1px; color: #fff;}
.content .content_tit .desc {margin-top: 20px; font-size: 17px; line-height: normal; color: #fff;}
/* //content */
/* top banner */
.top_banner_area {display: none; position: relative; height: 60px; background: #2a3153; text-align: center;}
.top_banner_area .banner_inner {display: inline-block; width: 1154px; height: 100%; padding: 8px 0; color: #fff; box-sizing: border-box;}
.banner_inner img,
.banner_inner span,
.banner_inner em,
.banner_inner a,
.banner_inner .text_box {display: inline-block; vertical-align: middle;}
.banner_inner > img {margin-right: 20px;}
.banner_inner .text_box {margin-right: 20px;}
.banner_inner .text_box span {font-weight: 500; color: #fff;}
.banner_inner .text_box em {font-weight: 500; color: #08bdba;}
.banner_inner .join {padding: 6px 15px; border-radius: 3px; background: #08bdba; font-size: 14px; font-weight: 500; color: #fff;}
.banner_inner .banner_close {display: block; float: right; margin-top: 7px;}
.banner_inner .banner_close span {margin-right: 4px; vertical-align: middle; font-size: 13px; font-weight: 100; color: #fff;}
#wrap.top_banner .top_banner_area {display: block;}
/* //top banner */

/* .maumUI.visual_header and top banner */
.maumUI.top_banner.visual_header #header {top: 60px; margin-top: 10px;}
/* -------------------- mobile -------------------- */
@media screen and (max-width:768px) {
    #wrap.top_banner.visual_header #header {position: fixed; top: 50px; height: 50px; margin-top: 0;}
    #wrap.top_banner.visual_header.transform #header {top: 0;}
    #wrap.top_banner.visual_header.maum_aside_open #header {top: 0;}
    #wrap.top_banner.visual_header.maum_aside_open #header h1 {background-image: url(../images/logo_maumAi_clr.svg);}
}
/* //리뉴얼 헤더 */
/* 메인 푸터 */
#footerLanding {background: #0c1329; text-align: center;}
#footerLanding .footer_inner {overflow: hidden; display: inline-block; width: 1154px; padding: 60px 0; text-align: left;}
#footerLanding .footer_inner .col {float: right; width: 50%; text-align: right;}
#footerLanding .footer_inner .col:last-child {text-align: left;}
#footerLanding .footer_inner .col .col_inner {overflow: hidden;}
#footerLanding .footer_inner .sns,
#footerLanding .footer_inner .links {float: right;}
#footerLanding .footer_inner address {line-height: 20px; font-size: 13px; color: #fff;}
#footerLanding .footer_inner .copyright {margin-top: 25px; line-height: 20px; font-size: 13px; color: #fff; opacity: 0.7;}
#footerLanding .footer_inner .contact a {display: inline-block; width: 200px; padding: 10px 0; border-radius: 18px; background: rgba(144,156,255,0.1); font-size: 14px; font-weight: 500; color: #fff; text-align: center;}
#footerLanding .footer_inner .contact a + a {margin-left: 5px;}
#footerLanding .footer_inner .contact a img,
#footerLanding .footer_inner .contact a span {vertical-align: middle;}
#footerLanding .footer_inner .contact a img {display: inline-block; margin-right: 6px;}
#footerLanding .footer_inner .sns {margin-left: 26px;margin-top:17px;}
#footerLanding .footer_inner .sns a {display: inline-block; width: 33px; height: 33px; border: 1px solid #d2d8f7; border-radius: 50%; box-sizing: border-box; vertical-align: baseline; text-align: center;}
#footerLanding .footer_inner .sns a + a {margin-left: 15px;}
#footerLanding .footer_inner .links {margin-top: 20px;}
#footerLanding .footer_inner .links a {display: inline-block; line-height: 20px; font-size: 13px; color: #fff; opacity: 0.8;}
#footerLanding .footer_inner .links a + a {margin-left: 30px;}
/* -------------------- mobile -------------------- */
@media screen and (max-width:768px) {
    #footerLanding .footer_inner {width: auto; padding: 30px;}
    #footerLanding .footer_inner .col {float: none; width: auto; text-align: left;}
    #footerLanding .footer_inner .sns,
    #footerLanding .footer_inner .links {float: none;}
    #footerLanding .footer_inner .contact a {display: block; font-size: 0.875rem;}
    #footerLanding .footer_inner .contact a + a {margin: 15px 0 0 0;}
    #footerLanding .footer_inner .sns {margin-left: 0; margin-top: 20px;}
    #footerLanding .footer_inner .links a {font-size: 0.825rem;}
    #footerLanding .footer_inner address {margin-top: 16px; line-height: 1.25rem; font-size: 0.825rem;}
    #footerLanding .footer_inner .copyright {margin-top: 4px; font-size: 0.75rem;}
}
/* //메인 푸터 */
/* 공통 푸터 */
iframe[name="footerFrame"] {width: 100%;}
/* //공통 푸터 */
/* swiper common */
.swiper-container {width: 100%; padding: 0; white-space: initial;}
.swiper-wrapper,
.swiper-slide {height: auto;}
.swiper-pagination {top: auto; margin: 0; height: auto; border-radius: 0;}
.swiper-pagination .swiper-pagination-bullet {outline: none;}
.swiper-pagination-bullet {height: auto;}
.swiper-pagination-bullet + .swiper-pagination-bullet {margin: 0;}
.swiper-pagination-bullet-active {width: auto; background-color: #9e9e9e;}
.swiper-pagination.common_paging {position: static; left: auto; bottom: auto; margin-top: 30px;}
.swiper-pagination.common_paging .swiper-pagination-bullet {display: inline-block; width: 26px; height: 7px; border-radius: 4px; background: #fff; opacity: 0.3;}
.swiper-pagination.common_paging .swiper-pagination-bullet + .swiper-pagination-bullet {margin-left: 5px;}
.swiper-pagination.common_paging .swiper-pagination-bullet.swiper-pagination-bullet-active {width: 40px; opacity: 1;}
/* //swiper common */
/* layer */
.lyr_bg_dim {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 999;}
.lyrPlayBox {display: none; position: fixed; top: 50%; left: 50%; width: 1000px; min-height: 150px; border-radius: 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); transform: translate(-50%, -50%); z-index: 9999;}
#lyr_video_player {display: block;}
#lyr_video_player .lyr_ct {position: relative; width: 1000px; padding-bottom: 56.25%;}
#lyr_video_player .lyr_ct iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#lyr_video_player .btn_lyr_close {display: inline-block; position: absolute; top: -40px; right: 0; width: 40px; height: 40px;}
#lyr_video_player .btn_lyr_close .html_code {display: block; height: 100%; line-height: 28px; font-size: 56px; color: #fff;}
/* //layer */
/* section 비주얼 */
.stn.visual {background: radial-gradient(circle at 101% 101%, rgba(28, 217, 255, 0.8), #0bd6ff, #2ddbff 6%, #8190ff 51%, #8190ff 60%, #005299 110%)}
.stn.visual {position: relative; padding: 70px 0 0 0;}
.stn.visual .visual_bg {position: absolute; top: 0; left: 0; width: 100%; z-index: 1;}
.stn.visual .content {position: relative; text-align: center; z-index: 2;}
.stn.visual .content img {width: 500px; margin-left: 80px;}
.stn.visual .content .visual_tit {position: absolute; top: 130px; left: 100px;}
.stn.visual .content .visual_desc {position: absolute; top: 132px; right: -95px; text-align: left;}
.stn.visual .content .visual_tit span {display: block; font-size: 34px; font-weight: 100; letter-spacing: -1.5px; color: #fff;}
.stn.visual .content .visual_tit span:last-child {line-height: 1; font-size: 58px; font-weight: 700; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);}
.stn.visual .content .visual_desc span {display: block; font-size: 35px; letter-spacing: -1px; color: #fff; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);}
.stn.visual .content .btn_primary.large {position: absolute; left: calc(50% - 98px); bottom: 48px; background: #1db6cc; transition: box-shadow 0.2s;}
.stn.visual .content .btn_primary.large:hover {box-shadow: 1px 2px 6px 0 rgba(0,0,0,0.3);}
/* //section 비주얼 */
/* section products */
.stn.products {position: relative; background: radial-gradient(circle at 101% 0%, rgba(28, 217, 255, 0.8), #0bd6ff, #2ddbff 6%, #8190ff 51%, #8190ff 60%, #005299 110%)}
.stn.products:before {content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; background: rgba(17,12,37,0.1);}
.stn.products .stn_tit,
.stn.products .content {position: relative;}
.stn.products .content .product {overflow: hidden;}
.stn.products .content .product .img_box {float: right;}
.stn.products .content .product .text_box {float: left;}
.stn.products .content .product .sub_tit {display: block; font-size: 24px; color: #fff; opacity: 0.9;}
.stn.products .content .product .tit {display: block; font-size: 53px; font-weight: 500; color: #fff;}
.stn.products .content .product .tit img {display: inline-block; margin-bottom: 10px; vertical-align: bottom;}
.stn.products .content .product .tit span {display: inline-block; margin-bottom: 10px; font-size: 30px; vertical-align: bottom;}
.stn.products .content .product .desc {display: block; width: 360px; margin-top: 10px; line-height: 28px; font-size: 16px; color: #fff;}
.stn.products .content .product .btn_primary {margin-top: 20px; background: rgba(255,255,255,0.9);}
.stn.products .content .product .btn_primary:hover {margin-top: 20px; background: rgba(255,255,255,1.0); color: #5b6ae2;}
.stn.products .product_list {display: inline-block; border-radius: 20px; background: rgba(255,255,255,0.2); box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);}
.stn.products .product_list li {display: inline-block;}
.stn.products .product_list a {display: block; padding: 9px 70px; border-radius: 20px; font-size: 15px; color: #fff; cursor: pointer; background-color: rgba(255,255,255,0); transition: background-color 0.2s, color 0.2s;}
.stn.products .product_list li.active a {background-color: rgba(255,255,255,0.9); box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15); color: #5b6ae2;}
#swiper-products {position: relative; padding-top: 30px; text-align: center;}
#swiper-products .swiper-wrapper {margin-top: 48px; text-align: left;}
#swiper-products .swiper-slide {display: none;}
#swiper-products .swiper-slide .product {opacity: 0;}
#swiper-products .swiper-slide.custom_active {display: block;}
#swiper-products .swiper-slide.custom_active .product {animation-name: swiperProductEffect; animation-duration: 0.3s; animation-fill-mode: forwards;}
@keyframes swiperProductEffect {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#swiper-products .swiper-pagination {display: none; position: static; bottom: auto; left: auto;  width: auto; border-radius: 20px; background: rgba(255,255,255,0.2);}
#swiper-products .product_title .swiper-pagination-bullet {display: inline-block; padding: 9px 70px; border-radius: 20px; background: transparent; font-size: 15px; color: #fff; cursor: pointer;}
#swiper-products .product_title .swiper-pagination-bullet-active {background: rgba(255,255,255,0.9); box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15); color: #5b6ae2;}

#swiper-products .common_paging {background: none;}
#swiper-products .common_paging .swiper-pagination-bullet {overflow: hidden; text-indent: -999px;}
/* //section products */
/* section edge */
.stn.edge {background: url(../images/new/bg_edge.jpg) no-repeat 0 0; background-size: cover;}
.stn.edge .btn_primary {margin-top: 30px;}
/* //section edge */
/* section apis */
.stn.apis {overflow: hidden; position: relative; background: radial-gradient(circle at 94% -17%, #4cb1e9, #6a9ce9 11%, #727aff 26%, #5973ff 49%, #074d98 97%);}
.stn.apis .apis_bg {position: absolute; left: 0; bottom: 0; width: 100%;}
.stn.apis .content_tit {float: left; width: 210px; margin-top: 30px; text-align: left;}
.stn.apis .cont {float: right; width: 640px;}
.stn.apis .content_tit .desc {line-height: 24px;}
.stn.apis .content_tit .btn_primary {margin-top: 20px; opacity: 0.9;}
.stn.apis .swiper-wrapper {height: 540px;}
.stn.apis .swiper-pagination {display: none;}
.stn.apis .api {position: relative; width: 200px; height: 230px; margin-top: 30px; padding: 40px 15px 60px 20px; border-radius: 5px; box-sizing: border-box; background: rgba(255,255,255,0.85); box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);}
.stn.apis .api .img_box {position: absolute; top: -30px; left: 70px; width: 60px; height: 60px; padding-top: 11px; border-radius: 50%; text-align: center; box-sizing: border-box;}
.stn.apis .api .img_box img {height: 36px;}
.stn.apis .api .tit {font-size: 15px; font-weight: 700; color: #333b60;}
.stn.apis .api .sub_tit {font-size: 12px; color: #414853; letter-spacing: -0.4px;}
.stn.apis .api .desc {height: 80px; margin-top: 10px; font-size: 14px; color: #333b60;}
.stn.apis .api .btn_box {margin-top: 6px; text-align: center;}
.stn.apis .api .btn_primary {padding: 7px 12px; box-shadow: none;}
.stn.apis .api .btn_primary + .btn_primary {margin-left: 5px;}
.stn.apis .swiper-slide:nth-child(1) .api .img_box {background: #e77787;}
.stn.apis .swiper-slide:nth-child(1) .api .btn_primary {border: 1px solid #e77787; color: #e77787;}
.stn.apis .swiper-slide:nth-child(2) .api .img_box {background: #7d71d1;}
.stn.apis .swiper-slide:nth-child(2) .api .btn_primary {border: 1px solid #7d71d1; color: #7d71d1;}
.stn.apis .swiper-slide:nth-child(3) .api .img_box {background: #1db6cc;}
.stn.apis .swiper-slide:nth-child(3) .api .btn_primary {border: 1px solid #1db6cc; color: #1db6cc;}
.stn.apis .swiper-slide:nth-child(4) .api .img_box {background: #7d71d1;}
.stn.apis .swiper-slide:nth-child(4) .api .btn_primary {border: 1px solid #7d71d1; color: #7d71d1;}
.stn.apis .swiper-slide:nth-child(5) .api .img_box {background: #53a8ff;}
.stn.apis .swiper-slide:nth-child(5) .api .img_box img {width: 33px;}
.stn.apis .swiper-slide:nth-child(5) .api .btn_primary {border: 1px solid #53a8ff; color: #53a8ff;}
.stn.apis .swiper-slide:nth-child(6) .api .img_box {background: #1db6cc;}
.stn.apis .swiper-slide:nth-child(6) .api .btn_primary {border: 1px solid #1db6cc; color: #1db6cc;}
/* //section apis */
/* section maumdata */
.stn.maumdata {background: url(../images/new/bg_maumdata.jpg) no-repeat 0 0; background-size: cover;}
.stn.maumdata .content_tit .btn_primary {margin-top: 27px; opacity: 0.8;}
.stn.maumdata .data_box {height: 354px; padding: 25px 25px 80px 25px; border-radius: 5px; background: rgba(36,55,108,0.9); box-sizing: border-box; text-align: center;}
.stn.maumdata .data_box .tit {font-size: 18px; font-weight: 500; color: #fff;}
.stn.maumdata .data_box img {display: inline-block; margin-top: 10px;}
.stn.maumdata .data_box .sub_tit {margin-top: 10px; font-size: 14px; color: #fff;}
.stn.maumdata .data_box .desc {height: 60px; margin-top: 10px; font-size: 14px; color: #fff; opacity: 0.8; word-break: keep-all;}
.stn.maumdata .data_box .btn_primary {margin-top: 10px; padding: 9px 44px; border: 1px solid #6979f8; background-color: rgba(105, 121, 248, 0.3); color: #fff; transition: background-color 0.2s;}
.stn.maumdata .data_box .btn_primary:hover {background-color: rgba(105, 121, 248, 0.6); color: #fff;}
#swiper_maumdata {margin-top: 40px;}
#swiper_maumdata .swiper-slide:nth-child(2) .data_box {margin-top: 40px;}
#swiper_maumdata .swiper-pagination {display: none;}
/* //section maumdata */
/* section success */
.stn.success {padding: 60px 0 120px 0; background: #141e3d;}
.stn.success .logo {display: inline-block; position: relative; width: 222px; height: 97px; border-radius: 5px; background: #c9d6ff; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1)}
.stn.success .logo img {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
#swiper_success {margin: 40px 0 90px 0; padding-bottom: 62px;}
#swiper_success .swiper-wrapper {overflow: hidden; height: 222px;}
#swiper_success.more .swiper-wrapper {height: auto;}
#swiper_success .swiper-slide {text-align: center;}
#swiper_success .btn_box {position: absolute; left: 0; bottom: 0; width: 100%; text-align: center;}
#swiper_success .btn_box:before {content: ''; display: block; position: absolute; top: 50%; left: 0; width: 100%; border: 1px dashed #5b6ae2; opacity: 0.5;}
#swiper_success .btn_box .btn_success_more {position: relative; background-color: #5b6ae2;}
#swiper_success .swiper-pagination {display: none;}
.stn.success .cards {overflow: hidden; position: relative; border-radius: 6px; background: #141e3d url(../images/new/bg_banner03.png) no-repeat 0 0; background-size: cover; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);}
.stn.success .cards:before {content: ''; display: block; position: absolute; top: 26px; left: 50%; width: 1px; height: calc(100% - 40px); background: rgba(209,214,255,0.3);}
.stn.success .card {float: left; width: 50%; padding: 35px 0 33px 0; text-align: center;}
.stn.success .card .tit {font-size: 24px; font-weight: 500; color: #fff;}
.stn.success .card .desc {margin-top: 10px; font-size: 14px; color: #fff;}
.stn.success .card .btn_primary {margin-top: 15px;}
/* //section success */
/* section inquiry */
.stn.inquiry {padding-bottom: 135px;}
.stn.inquiry .content {text-align: center;}
.stn.inquiry .inquiry_box {overflow: hidden; display: inline-block; width: 810px; margin-top: 30px; border-radius: 10px; background: rgba(51,59,96,0.3); box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.1); text-align: left;}
.stn.inquiry .inquiry_box .inner {padding: 20px 80px 40px 80px;}
.stn.inquiry .inquiry_box .dual {overflow: hidden;}
.stn.inquiry .inquiry_box .dual .my_info {width: calc(50% - 25px);}
.stn.inquiry .inquiry_box .dual .my_info:first-child {float: left;}
.stn.inquiry .inquiry_box .dual .my_info:last-child {float: right;}
.stn.inquiry .inquiry_box .my_info {overflow: hidden; margin-top: 20px;}
.stn.inquiry .inquiry_box .my_info label,
.stn.inquiry .inquiry_box .my_info input[type="text"],
.stn.inquiry .inquiry_box .my_info input[type="tel"],
.stn.inquiry .inquiry_box .my_info input[type="email"],
.stn.inquiry .inquiry_box .my_info textarea {display: block; line-height: 20px; font-size: 14px;}
.stn.inquiry .inquiry_box .my_info label {float: left; width: 50px; line-height: 40px; color: #fff;}
.stn.inquiry .inquiry_box .my_info input[type="text"],
.stn.inquiry .inquiry_box .my_info input[type="tel"],
.stn.inquiry .inquiry_box .my_info input[type="email"],
.stn.inquiry .inquiry_box .my_info textarea {float: left; width: calc(100% - 50px); padding:0 10px; border-radius: 5px; box-sizing: border-box; background-color: rgba(255,255,255,0.9); color: #333b60;}
.stn.inquiry .inquiry_box .my_info input[type="text"],
.stn.inquiry .inquiry_box .my_info input[type="tel"],
.stn.inquiry .inquiry_box .my_info input[type="email"] {height: 40px;}
.stn.inquiry .inquiry_box .my_info textarea {height: 160px; padding:10px;}
.stn.inquiry .inquiry_box .my_info input::placeholder,
.stn.inquiry .inquiry_box .my_info textarea::placeholder {color: rgba(51,59,96,0.5);}
.stn.inquiry .submit_agree {margin: 5px 0 30px 0; line-height: 0;}
.stn.inquiry .submit_agree input[type="checkbox"] + label {display: block; position: relative; padding-left: 78px; line-height: 18px; font-size: 13px; color: #fff; cursor: pointer; user-select: none;}
.stn.inquiry .submit_agree input[type="checkbox"] + label:before {content: ''; display: block; position: absolute; top: 0; left: 50px; width: 18px; height: 18px; border-radius: 2px; background: rgba(255,255,255,0.9);}
.stn.inquiry .submit_agree input[type="checkbox"]:checked + label:after {content: ''; display: block; position: absolute; top: 0; left: 50px; width: 18px; height: 18px; background: url(../images/new/ico_check.svg) no-repeat 0 0; background-size: cover;}
.stn.inquiry .submit_agree .agree_contents {margin-top: 4px; padding-left: 78px; line-height: 15px; font-size: 11px; color: #fff;}
.stn.inquiry .btn_box {text-align: center;}
.stn.inquiry .btn_box .btn_primary.large {margin: 0 auto; color: #333b60;}
.stn.inquiry .contact {overflow: hidden; background-color: rgba(51,59,96,0.6);}
.stn.inquiry .contact a {display: block; float: left; width: 50%; height: 48px; line-height: 48px; font-size: 14px; font-weight: 500; color: #fff; text-align: center;}
.stn.inquiry .contact a img {display: inline-block; margin-right: 10px; vertical-align: middle;}
.stn.inquiry .contact a span {vertical-align: middle;}

/* //section inquiry */
/* -------------------- mobile -------------------- */
@media screen and (max-width:768px) {
    /*
    10px - 0.6rem
    11px - 0.7rem
    12px - 0.75rem
    13px - 0.825rem
    14px - 0.875rem
    15px - 0.95rem
    16px - 1rem
    17px - 1.05rem
    20px - 1.25rem
    21px - 1.325rem
    22px - 1.375rem
    24px - 1.5rem
    30px - 1.875rem
    36px - 2.25rem
    */
    .btn_primary {font-size: 1rem; border-radius: 26px;}
    .btn_primary.small {font-size: 0.75rem; border-radius: 22px;}
    .btn_primary.large {font-size: 1.25rem; border-radius: 30px;}
    .stn {padding: 25px 30px; background-position: 100% 100%; background-size: cover;}
    .content {width: 100%;}
    .content .content_tit .tit {font-size: 1.875rem;}
    .content .content_tit .desc {display: block; margin: 12px auto 0; line-height: 1.5rem; font-size: 1.05rem; word-break: keep-all;}
    /* top banner */
    .top_banner_area {height: 50px;}
    .top_banner_area .banner_inner {width: auto;}
    .banner_inner > img {width: 37px; margin-right: 5px;}
    .banner_inner .text_box {margin-right: 10px;}
    .banner_inner .text_box span,
    .banner_inner .text_box em {font-size: 0.7rem;}
    .banner_inner .banner_close {display: none;}
    .banner_inner .join {overflow: hidden; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 0; background: none; text-indent: -999px;}
    /* //top banner */
    /* layer */
    #lyr_video_player.lyrPlayBox {width: calc(100% - 40px);}
    #lyr_video_player .lyr_ct {width: 100%;}
    /* //layer */
    /* section 비주얼 */
    .stn.visual {padding-top: 45px; background: radial-gradient(circle at 120% 70%, rgba(28, 217, 255, 0.5), #0bd6ffa8, #2ddbffbd 6%, #8190ff 54%, #6c77f5 82%);}
    .stn.visual .visual_bg {width: auto; height: 100%; top: auto; bottom: -15%; left: 50%; transform: translate(-50%, 0);}
    .stn.visual .content .visual_tit {position: static; top: auto; left: auto;}
    .stn.visual .content .visual_desc {position: static; top: auto; right: auto; text-align: center;}
    .stn.visual .content .visual_tit span {font-size: 1.325rem;}
    .stn.visual .content .visual_tit span:last-child {font-size: 2.25rem;}
    .stn.visual .content .visual_desc {position: absolute; top: 72px; left: 50%; width: 100%; transform: translate(-50%, 0);}
    .stn.visual .content .visual_desc span {display: inline-block; font-size: 1rem;}
    .stn.visual .content img {width: 270px; margin-left: 40px;}
    .stn.visual .content .btn_primary.large {left: calc(50% - 80px); bottom: 20px; width: 160px; padding: 10px 0; font-size: 1.05rem;}
    /* //section 비주얼 */
    /* section products */
    .stn.products {background: radial-gradient(circle at 110% 70%, rgba(28, 217, 255, 0), #0bd6ffa8, #2ddbffd9 6%, #8190ffeb 54%, #6c77f5 82%);}
    .stn.products .content .product {text-align: center;}
    .stn.products .product_list {display: none;}
    .stn.products .content .product .img_box {float: none; display: inline-block;}
    .stn.products .content .product .img_box img {width: 205px;}
    .stn.products .content .product .text_box {float: none;}
    .stn.products .content .product .tit {font-size: 1.825rem;} /*희진맴 확인*/
    .stn.products .content .product .sub_tit {margin-top: 10px; font-size: 1.25rem;}
    .stn.products .content .product .desc {width: auto;}
    .stn.products .content .product .tit img {width: 123px;}
    .stn.products .content .product .tit span {margin-bottom: 4px; font-size: 1.5rem;}
    .stn.products .content .product .desc {line-height: 1.375rem; font-size: 0.825rem;}
    #swiper-products {padding-top: 15px;}
    #swiper-products .swiper-wrapper {margin-top: 15px;}
    #swiper-products .swiper-slide {display: block;}
    #swiper-products .swiper-slide .product {opacity: 1;}
    #swiper-products .swiper-slide.custom_active {display: block;}
    #swiper-products .swiper-slide.custom_active .product {animation: none;}
    #swiper-products .swiper-pagination {display: inline-block; width: 100%;}
    #swiper-products .product_title .swiper-pagination-bullet {width: 33.3%; padding: 10px 0; font-size: 0.75rem;}
    /* //section products */
    .stn.edge {background-position: 30%;}
    .stn.edge .content .content_tit .desc {width: 240px;}
    /* section apis */
    .stn.apis {padding: 30px 20px;}
    .stn.apis .apis_bg {display: none;}
    .stn.apis .content_tit {float: none; width: auto; margin: 0; text-align: center;}
    .stn.apis .content_tit .desc {width: 220px;}
    .stn.apis .cont {float: none; width: auto;}
    .stn.apis .api {width: 100%; min-width: 200px;}
    .stn.apis .api .img_box {left: 50%; transform: translate(-50%, 0);}
    .stn.apis .api .desc {word-break: keep-all;}
    #swiper_api {margin-top: 20px;}
    #swiper_api .swiper-wrapper {height: auto}
    .stn.apis .swiper-pagination {display: block;}
    /* //section apis */
    /* section maumdata */
    .stn.maumdata .content .content_tit .desc {width: 265px;}
    #swiper_maumdata {margin-top: 20px;}
    #swiper_maumdata .swiper-slide:nth-child(2) .data_box {margin: 0;}
    #swiper_maumdata .swiper-pagination {display: block;}
    /* //section maumdata */
    /* section success */
    .stn.success {padding: 30px;}
    .stn.success .logo {width: 100%;}
    #swiper_success {margin: 22px 0 60px 0; padding: 0;}
    #swiper_success .btn_box {display: none;}
    #swiper_success .swiper-wrapper,
    #swiper_success.more .swiper-wrapper {height: auto;}
    #swiper_success .swiper-pagination {display: block;}
    .stn.success .cards {background: none; border-radius: 0;}
    .stn.success .cards:before {display: none;}
    .stn.success .card {float: none; display: block; width: auto; padding: 20px 16px; border-radius: 6px;}
    .stn.success .card + .card {margin-top: 15px;}
    .stn.success .card:first-child {background: url(../images/new/bg_banner01.png) no-repeat 0 0; background-size: cover;}
    .stn.success .card:last-child {background: url(../images/new/bg_banner02.png) no-repeat 0 0; background-size: cover;}
    .stn.success .card .tit {line-height: 1rem; font-size: 1rem;}
    .stn.success .card .desc {margin-top: 5px; font-size: 0.6rem;}
    .stn.success .card .btn_primary {font-size: 1rem;}
    /* //section success */
    /* section inquiry */
    .stn.inquiry {padding: 30px 0 0 0;}
    .stn.inquiry .content_tit .desc {width: 300px;}
    .stn.inquiry .inquiry_box {width: auto; margin: 0; border-radius: 0;  background: 0; box-shadow: none;}
    .stn.inquiry .inquiry_box .inner {padding: 5px 30px 40px 30px;}
    .stn.inquiry .inquiry_box .dual .my_info:first-child {float: none; width: auto;}
    .stn.inquiry .inquiry_box .dual .my_info:last-child {float: none; width: auto;}
    .stn.inquiry .inquiry_box .my_info {margin-top: 15px;}
/*//여기 확인*/
    .stn.inquiry .inquiry_box .my_info label,
    .stn.inquiry .inquiry_box .my_info input[type="text"],
    .stn.inquiry .inquiry_box .my_info input[type="tel"],
    .stn.inquiry .inquiry_box .my_info input[type="email"],
    .stn.inquiry .inquiry_box .my_info textarea {font-size: 0.825rem;}
    .stn.inquiry .submit_agree {margin: 10px 0 20px 0;}
    /*여기*/
    .stn.inquiry .submit_agree input[type="checkbox"] + label {padding-left: 78px; font-size: 0.825rem;}
    .stn.inquiry .submit_agree input[type="checkbox"] + label:before {left: 50px;}
    .stn.inquiry .submit_agree input[type="checkbox"]:checked + label:after {left: 50px;}
    .stn.inquiry .submit_agree .agree_contents {line-height: 0.95rem; font-size: 0.7rem;}
    .stn.inquiry .btn_box .btn_primary.large {padding: 10px 44px;}
    .stn.inquiry .contact {display: none;}
    /* //section inquiry */
}
@media screen and (max-width:480px) {
    .stn.success .logo img {width: 70%;}
    .stn.success .logo.vertically img {width: auto; height: 70%;}
}
@media screen and (max-width:340px) {
    .stn.maumdata .data_box .desc {word-break: break-all;}
}