/*에코마인 페이지*/

.ecomins_top {background:url("../../common/images/bg-ecomins.png") 50% 50% no-repeat;background-size: 100% 250px;}
.ecomins_top .academy_top_area h1 {padding:55px 0 0 0;font-size: 25px;font-weight: normal;line-height: normal;letter-spacing: -0.5px;color: #ffffff;}
.ecomins_top .academy_top_area img{width:211px;margin: 11px 0 0;}
.academy_top .tab_menu{border-top: 1px solid rgba(255, 255, 255, 0.4);box-sizing: border-box;}
.academy_top .tab_menu ul li{width:50%;}
.ecominds_main {text-align: center; }
.ecominds_main p {font-size: 17px;font-weight: normal;line-height: normal;letter-spacing: -0.57px;text-align: center;color: #192a39;padding: 50px 0 20px;}
.ecominds_main a {display: inline-block;clear:both; margin: 0 0 50px 0;padding:0 30px;height:55px;line-height: 55px; border-radius: 5px;background-color: #14b6cb;color:#fff;font-size: 16px;font-weight: 500;letter-spacing: -0.25px;}
.ecominds_main h4 {padding:52px 0 2px 0; height:37px;line-height: 37px; font-size: 25px;font-weight: 500;letter-spacing: normal;text-align: center;color: #002b49;}
.ecominds_main h4 + span {opacity: 0.7;font-size: 16px;line-height: normal;text-align: center;color: #2c3f51;}
.ecominds_main .ecominds_box .consultant { width: 100%;height: 730px;background-color: #f3f5fb;text-align: center;}
.ecominds_main .ecominds_box .consultant ul {width:1220px;margin:26px auto 25px;overflow: hidden;}
.ecominds_main .ecominds_box .consultant ul li {float:left;width: 400px;height: 215px;margin:0 10px 25px 0; border-radius: 3px;border: solid 1px #cfd5eb;box-sizing: border-box;}
.ecominds_main .ecominds_box .consultant ul li:first-child {background:#fff url("../../common/images/bg_eco1.svg") 50% 17px no-repeat;}
.ecominds_main .ecominds_box .consultant ul li:nth-child(2) {background:#fff url("../../common/images/bg_eco2.svg") 50% 21px no-repeat;}
.ecominds_main .ecominds_box .consultant ul li:nth-child(3) {background:#fff url("../../common/images/bg_eco3.svg") 50% 24px no-repeat;margin:0 0 25px 0;}
.ecominds_main .ecominds_box .consultant ul li:nth-child(4) {background:#fff url("../../common/images/bg_eco4.svg") 50% 26px no-repeat;}
.ecominds_main .ecominds_box .consultant ul li:nth-child(5) {background:#fff url("../../common/images/bg_eco5.svg") 50% 26px no-repeat;}
.ecominds_main .ecominds_box .consultant ul li:nth-child(6) {background:#fff url("../../common/images/bg_eco6.svg") 50% 27px no-repeat;margin: 0 0 25px 0;}
.ecominds_main .ecominds_box .consultant ul li h5 {padding:80px 0 0;font-size: 16px;line-height: normal;letter-spacing: -0.13px;text-align: center;color: #002b49;}
.ecominds_main .ecominds_box .consultant ul li h5 span { display:block;font-weight: normal;}
.ecominds_main .ecominds_box .consultant ul li p {font-size: 14px;line-height: 1.57;letter-spacing: -0.11px;text-align: center;color: #576068;padding:9px 0 0;}

.ecominds_main .benefits_box p{padding:50px 0;}
.ecominds_main .benefits_box .benefit_list {background:#f3f5fb;height:484px;}
.ecominds_main .benefits_box .benefit_list > div { width: 1218px;height: 100%;margin: 0 auto;background: url("../../common/images/img_landing_ecominds.svg") left 253px top 113px no-repeat; background-size: 280px;}
.ecominds_main .benefits_box .benefit_list > div ul {width:50%;float:right;margin:22px 11px 0 0;text-align: left;}
.ecominds_main .benefits_box .benefit_list > div ul li {height: 66px;font-size: 15px;font-weight: normal;line-height: normal;letter-spacing: -0.12px;color: #002b49;padding:0 0 0 44px;}
.ecominds_main .benefits_box .benefit_list > div ul li strong {display: block; font-weight:500;}
.ecominds_main .benefits_box .benefit_list > div ul li:first-child {background: url("../../common/images/bg_eco_benefit01.svg") 0 0 no-repeat;}
.ecominds_main .benefits_box .benefit_list > div ul li:nth-child(2) {background: url("../../common/images/bg_eco_benefit02.svg") 0 0 no-repeat;}
.ecominds_main .benefits_box .benefit_list > div ul li:nth-child(3) {background: url("../../common/images/bg_eco_benefit03.svg") 0 0 no-repeat;}
.ecominds_main .benefits_box .benefit_list > div ul li:nth-child(4) {background: url("../../common/images/bg_eco_benefit04.svg") 0 0 no-repeat;}
.ecominds_main .benefits_box .benefit_list > div ul li:nth-child(5) {background: url("../../common/images/bg_eco_benefit05.svg") 0 0 no-repeat;}
.ecominds_main .benefits_box .scope { width: 1218px;margin:0 auto 50px;padding:0 104px;box-sizing: border-box;}
.ecominds_main .benefits_box .scope dl {text-align: left;}
.ecominds_main .benefits_box .scope dl dt { padding: 28px 0 5px 0;font-size: 17px;letter-spacing: -0.23px;color: #192a39;}
.ecominds_main .benefits_box .scope dl dt em{font-size: 15px;margin:0 10px 0 0;letter-spacing: -0.23px;color: #14b6cb;}
.ecominds_main .benefits_box .scope dl dd {padding:0 0 25px 20px;opacity:0.9;font-size: 15px;line-height: normal;letter-spacing: -0.2px;color: #192a39;}
.ecominds_main .benefits_box .scope dl dd small {display: block;font-size:12px;}
.ecominds_main .benefits_box .scope a {margin:15px 0 80px 0;}
.ecominds_main .benefits_box .stn_landing_cont .item_set .item_cont {width:100%;margin:0 0 0 18px;}
.ecominds_main .benefits_box .stn_landing_cont .item_set .item_lst > li {min-width:140px;}
.ecominds_main .benefits_box .stn_landing_cont .item_set .item_lst > li:first-child:before {display: none;}
.ecominds_main .benefits_box .stn_landing_cont .item_set .item_lst > li:nth-child(2) {width:322px;}
.ecominds_main .benefits_box .stn_landing_cont .item_set.bg_blue ul.item_lst > li dl:before {display: none;}
.ecominds_main .benefits_box .stn_landing_cont .item_set.bg_blue ul.item_lst > li {border: solid 2px #e0eaf2; height: 300px;}
.ecominds_main .benefits_box .stn_landing_cont .item_set.bg_blue ul.item_lst > li dl dt:after {display: none;}
.ecominds_main .benefits_box .stn_landing_cont .item_set.bg_blue ul.item_lst > li dl dt:before {display: none;}
.ecominds_main .benefits_box .stn_landing_cont .item_set.bg_blue ul.item_lst > li.last_box{border:none;}
.ecominds_main .benefits_box .stn_landing_cont .item_set .item_lst > li .inner_box .long_box:before{content: '';display: block;position: absolute;top: 27px;left: -20px;width:18px;height:0;border: 0.5px dashed #89969f;z-index: 10;}
.ecominds_main .benefits_box .stn_landing_cont .item_set.bg_blue ul.item_lst li dl.long_box dt:after {display: block;position: absolute;top: 25px;left: -4px;width: 4px;height: 4px;border-radius: 4px;border: 1px solid #89969f;background: #fff;z-index: 20;}
.ecominds_main .benefits_box .stn_landing_cont .item_set.bg_blue ul.item_lst li dl.long_box dt:before {content: '';display: block;position: absolute;top: 25px;left:-20px;width: 4px;height: 4px;border-radius: 4px;border: 1px solid #89969f;background: #fff;z-index: 20;}

.ecominds_main .benefits_box .stn_landing_cont .item_set.bg_blue .item_title, .stn_landing_cont .item_set.bg_blue dt.blue {background-color: #14b6cb !important;}
.ecominds_main .benefits_box .landing_ico { clear: both;overflow: hidden;}
.ecominds_main .benefits_box .landing_ico .img {float:left;}
.ecominds_main .benefits_box .landing_ico em {float: left;}
/*.ecominds_main .benefits_box .stn_landing_m {display: block; margin: 0;}*/
/*.ecominds_main .benefits_box .stn_landing_m .stn_landing_cont .item_set .item_lst > li + li {margin:0 0 0 20px;}*/

.ecominds_main .familyCo_box {}
.ecominds_main .familyCo_box p {padding:50px 0;font-weight:500;}
.ecominds_main .familyCo_box h5{padding:10px 0 ; font-size: 20px;font-weight: normal;line-height: 1.6;letter-spacing: -0.4px;color:#002b49;}
.ecominds_main .familyCo_box h5 strong {display: block;font-weight: bold;}
.ecominds_main .familyCo_box h5 div.link {float:right;}
.ecominds_main .familyCo_box div.link a{padding:0 20px;margin:0;height: 40px;border-radius: 3px;background-color: #14b6cb; font-size: 14px;font-weight: 500;line-height: 40px;letter-spacing: -0.44px;color: #ffffff;}
.ecominds_main .familyCo_box div.link a + a {margin:0 0 0 11px;}
.ecominds_main .familyCo_box .bg{background: #f3f5fb}
.ecominds_main .familyCo_box .intro_box {clear:both;width: 1218px;margin:0 auto; height:250px;}
.ecominds_main .familyCo_box .intro_box .fl {float: left;width:50%;text-align: right; padding: 0 44px 0 0;box-sizing: border-box;}
.ecominds_main .familyCo_box .intro_box .fl img {width:153px;margin:50px 0 0 0;}
.ecominds_main .familyCo_box .intro_box .fr {float: left;width:50%;text-align: left;padding: 0 0 0 62px;box-sizing: border-box;}
.ecominds_main .familyCo_box .intro_box .intro_img {float:left;width:50%;text-align: left;padding: 0 0 0 62px;box-sizing: border-box;}
.ecominds_main .familyCo_box .intro_box .intro_img a {width:auto;height:73px;background: none;padding:0;}
.ecominds_main .familyCo_box .intro_box .intro_img a img{width:auto;height:100%;}
.ecominds_main .familyCo_box .intro_box.dekyo_box {height:279px;}
.ecominds_main .familyCo_box .intro_box.dekyo_box .fl img {width:80px;margin:40px 0 0 0;}
.ecominds_main .familyCo_box .intro_box.dekyo_box .intro_img img {width: 445px;margin: 24px 0 0 0;}
.ecominds_main .familyCo_box .intro_box.twip_box {height:258px;}
.ecominds_main .familyCo_box .intro_box.twip_box .fr img {width:107px;margin:42px 0 0 0;}
.ecominds_main .familyCo_box .intro_box.twip_box .intro_img img {width:274px; margin:24px 0 0 0; float:right;}

.ecominds_main .familyCo_box .intro_box.redtie_box {position:relative; height:286px;width:1038px;padding: 42px 0 0;box-sizing: border-box;}
.ecominds_main .familyCo_box .intro_box.redtie_box .fl {padding:0;}
.ecominds_main .familyCo_box .intro_box.redtie_box .fl img {width:231px;margin:17px 0 0 0;}
.ecominds_main .familyCo_box .intro_box.redtie_box .fr {padding:0;}
.ecominds_main .familyCo_box .intro_box.redtie_box .fr h5 {padding: 0 0 0 18px;}
.ecominds_main .familyCo_box .intro_box.redtie_box .swiper-container {width: 958px;padding: 30px 0 0 60px; height: 103px;margin: 0 auto;;box-sizing: border-box;}
.ecominds_main .familyCo_box .intro_box.redtie_box .swiper-container + p {display: block;padding:20px 0 0 0; font-weight:normal; font-size: 14px;letter-spacing: -0.44px;text-align: center;color: #002b49;}
.ecominds_main .familyCo_box .intro_box.redtie_box  ul {height: 100%;}
.ecominds_main .familyCo_box .intro_box.redtie_box  ul li{height:100%;display: inline-block;margin: 0 14px 0 0;}
.ecominds_main .familyCo_box .intro_box.redtie_box  ul li a {background: none;padding:0; height: 100%;}
.ecominds_main .familyCo_box .intro_box.redtie_box  ul li a img {width:100%;height:100%;object-fit: contain;}
.ecominds_main .familyCo_box .intro_box.redtie_box .swiper-button-prev {position:absolute; left:0;top: 155px;cursor: pointer; width: 40px;height: 40px;line-height: 40px;color: #fff;font-size: 14px;border-radius: 3px;background-color: #14b6cb;}
.ecominds_main .familyCo_box .intro_box.redtie_box .swiper-button-next {position:absolute; right:0;left:unset; top: 155px;cursor: pointer; width: 40px;height: 40px;line-height: 40px;color: #fff;font-size: 14px;border-radius: 3px;background-color: #14b6cb;}



.ecominds_main .familyCo_box .intro_box.fanmeet_box {height:278px;}
.ecominds_main .familyCo_box .intro_box.fanmeet_box .intro_img {padding: 23px 44px 0 0; text-align: right;}
.ecominds_main .familyCo_box .intro_box.fanmeet_box .intro_img img{width:483px;}
.ecominds_main .familyCo_box .intro_box.fanmeet_box .fr img {width:80px;padding: 40px 0 0;}
.ecominds_main .familyCo_box .intro_box.neo_box {height:272px;}
.ecominds_main .familyCo_box .intro_box.neo_box .intro_img img{width:356px;padding: 26px 0 0 0;}
.ecominds_main .familyCo_box .last_box {height:300px;}
.ecominds_main .familyCo_box .last_box h5 {padding:60px 0 28px 0; font-weight: bold;letter-spacing: -0.4px;color: #1f2e3b;}
.ecominds_main .familyCo_box .last_box .family_logo {margin:0 0 60px 0; display: flex;justify-content: center;align-items: center;}
.ecominds_main .familyCo_box .last_box .family_logo img:first-child {width:101px;margin: 0 50px 0 0;}
.ecominds_main .familyCo_box .last_box .family_logo img:nth-child(2) {width:112px;margin: 0 31px 0 0;}
.ecominds_main .familyCo_box .last_box .family_logo img:nth-child(3) {width:122px;margin: 0 31px 0 0;}
.ecominds_main .familyCo_box .last_box .family_logo img:nth-child(4) {width:84px;margin: 0 32px 0 0;}
.ecominds_main .familyCo_box .last_box .family_logo img:nth-child(5) {width:126px;margin: 0 31px 0 0;}
.ecominds_main .familyCo_box .last_box .family_logo img:nth-child(6) {width:60px; margin: 0 20px 0 0;}
.ecominds_main .familyCo_box .last_box .family_logo img:nth-child(7) {width:87px;margin: 0 31px 0 0;}
.ecominds_main .familyCo_box .last_box .family_logo img:nth-child(8) {width:99px;}

/* Mobile Layout */
@media screen and (max-width:760px) {
    .ecomins_top{padding: 30px 0 0 0;}
    .ecomins_top .academy_top_area h1 {padding:0; font-size: 1.6rem;}
    .ecomins_top .academy_top_area img {width: 153px;}
    .ecominds_main h4 {font-size:1.5rem; height: 30px;line-height: 30px;}
    .ecominds_main h4 + span {font-size:1rem;}
    .ecominds_main p {font-size:1.2rem; padding: 50px 15px 20px;}
    .ecominds_main .ecominds_box .consultant {height:auto;}
    .ecominds_main .ecominds_box .consultant ul {width:100%;padding:0 15px; margin: 26px auto 15px; box-sizing: border-box;}
    .ecominds_main .ecominds_box .consultant ul li {float:unset; width:100%;}
    .ecominds_main .ecominds_box .consultant ul li p {font-size:1rem;}
    .ecominds_main .benefits_box p {padding:50px 15px;}
    .ecominds_main .benefits_box .benefit_list {height:auto;    overflow: hidden;}
    .ecominds_main .benefits_box .benefit_list > div {width:100%;padding: 0 15px;box-sizing: border-box; background: url(../../common/images/img_landing_ecominds.svg) 50% 20px no-repeat;background-size: 60%;}
    .ecominds_main .benefits_box .benefit_list h4 {padding:270px 0 0;}
    .ecominds_main .benefits_box .benefit_list > div ul {width:100%;float:unset; margin: 22px 0;}
    .ecominds_main .benefits_box .benefit_list > div ul li {height:auto; font-size:1.1rem;padding: 0 0 10px 44px; margin: 0 0 10px 0;}
    .ecominds_main .benefits_box .benefit_list > div ul li:last-child {border-bottom:none;}

    .ecominds_main .benefits_box .scope {width:100%; padding: 0 15px;}
    .ecominds_main .benefits_box .scope dl dd {font-size:1.1rem;}
    .ecominds_main .benefits_box .stn_landing_cont {display: none;}
    .ecominds_main .benefits_box .stn_landing_m {display: block; margin: 0;}
    .ecominds_main .benefits_box .stn_landing_m .stn_landing_cont{display: block; }
    .ecominds_main .benefits_box .stn_landing_m.mobile .stn_landing_cont .item_set ul.item_lst {padding:0;}
    .ecominds_main .familyCo_box h5 {font-size:1.2rem; word-break: keep-all;}
    .ecominds_main .familyCo_box h5 strong {display: inline;}
    .ecominds_main .familyCo_box p {padding:50px 15px;}
    .ecominds_main .familyCo_box .intro_box {width:100%; height: auto;}
    .ecominds_main .familyCo_box .intro_box .fl {float:unset;width:100%;padding:0 15px;box-sizing: border-box;}
    .ecominds_main .familyCo_box .intro_box .fr {float:unset;width:100%;padding:0 15px;box-sizing: border-box;}
    .ecominds_main .familyCo_box .intro_box .intro_img {width:100%;float:unset;padding: 0 0 20px 0;text-align: center;}
    .ecominds_main .familyCo_box .intro_box.dekyo_box {height:auto;}
    .ecominds_main .familyCo_box .intro_box.dekyo_box .intro_img img {width:90%;}
    .ecominds_main .familyCo_box .intro_box.twip_box {height:auto;}
    .ecominds_main .familyCo_box .intro_box.twip_box .intro_img {padding:0;}
    .ecominds_main .familyCo_box .intro_box.twip_box .intro_img img {width:90%;float:none;}
    .ecominds_main .familyCo_box .intro_box.twip_box .fr {padding:0 15px 20px;}
    .ecominds_main .familyCo_box .intro_box.redtie_box {width:100%; padding: 20px 0 0;}
    .ecominds_main .familyCo_box .intro_box.redtie_box h5 strong {display: block;}
    .ecominds_main .familyCo_box .intro_box.redtie_box .fl {text-align: center;}
    .ecominds_main .familyCo_box .intro_box.redtie_box .fr {padding:10px 0 0;}
    .ecominds_main .familyCo_box .intro_box.redtie_box .swiper-container {width:calc(100% - 80px);height:100px; padding:10px 0 0 0;}
    .ecominds_main .familyCo_box .intro_box.redtie_box .swiper-container + p {padding:0 15px;font-size:1.2rem;}
    .ecominds_main .familyCo_box .intro_box.fanmeet_box {height:auto;}
    .ecominds_main .familyCo_box .intro_box.fanmeet_box .intro_img {width:90%;padding:0; margin: 20px auto 0;}
    .ecominds_main .familyCo_box .intro_box.fanmeet_box .intro_img img {width:100%}
    .ecominds_main .familyCo_box .intro_box.fanmeet_box .fr {padding:0 15px 20px;}
    .ecominds_main .familyCo_box .intro_box.fanmeet_box .fr img {padding: 25px 0 0;}
    .ecominds_main .familyCo_box .intro_box.neo_box {height:auto;}
    .ecominds_main .familyCo_box .intro_box.neo_box .intro_img {padding:20px 0;}
    .ecominds_main .familyCo_box .intro_box.neo_box .intro_img img {width:85%;padding: 0;}
    .ecominds_main .familyCo_box .last_box .family_logo img:first-child,
    .ecominds_main .familyCo_box .last_box .family_logo img:nth-child(2),
    .ecominds_main .familyCo_box .last_box .family_logo img:nth-child(3),
    .ecominds_main .familyCo_box .last_box .family_logo img:nth-child(4),
    .ecominds_main .familyCo_box .last_box .family_logo img:nth-child(5),
    .ecominds_main .familyCo_box .last_box .family_logo img:nth-child(6),
    .ecominds_main .familyCo_box .last_box .family_logo img:nth-child(7),
    .ecominds_main .familyCo_box .last_box .family_logo img:nth-child(8) {width:11%;margin:0 0 0 5px;}
    .ecominds_main .familyCo_box .last_box .family_logo img:nth-child(8) {margin:0 5px 0 5px;}
    .ecominds_main .familyCo_box .last_box {height:auto;}
    .ecominds_main .familyCo_box .last_box h5 {font-size:1.5rem;}

    .ecominds_main .benefits_box .stn_landing_cont .item_set.bg_blue ul.item_lst > li {height:auto;}
}