@charset "utf-8";
/* MINDsLab UX/UI팀. YMJ. 20200910 */

/* -------------------- Scroll Transform -------------------- */
.maumUI.transform #header {position:fixed; background:rgba(0,0,0,0.6); transition:all 0.2s ease-out;}
.maumUI.transform #header .maum_sta {height:40px; transition:all 0.2s ease-out;}
.maumUI.transform #header h1 {width:50px; margin:2px 0 0 30px; background:url("../../common/images/logo_maumAi_w.svg") 50% 50% no-repeat; background-size:100% auto;}
.maumUI.transform .maum_gnb {margin:0 0 0 40px;}
.maumUI.transform .maum_gnb .nav li {margin:0 20px 0 0;}
.maumUI.transform .maum_gnb .nav li a {height:40px; color:#fff; font-size:12px; font-weight:500; line-height:38px;}
.maumUI.transform .maum_gnb .nav li a.go_employees {font-size: 12px;border-radius: 3px;background: #ffffff;color: #002b49;height: 28px;line-height: 28px;margin: 6px 0 0 0;padding: 0 10px;}
.maumUI.transform .maum_gnb .nav li a.go_employees:hover {color: #002b49;}
.maumUI.transform .maum_etc {margin:5px 30px 0 0;}
.maumUI.transform .maum_etc .nav>li {margin:0 0 0 10px;}
.maumUI.transform .maum_etc .nav>li>a {height:30px; color:#fff; font-size:12px;line-height: 30px;}
.maumUI.transform .maum_etc .nav>li>a.btn_ico {width:30px; background-size:16px 16px !important;}
.maumUI.transform .maum_etc .nav>li.active>a.btn_ico {background-color:rgba(255,255,255,0.1) !important;}
.maumUI.transform .maum_etc .nav>li>a.btn_ico.user {background:url("../../common/images/ico_user_w.svg") 50% 50% no-repeat;}
.maumUI.transform .maum_etc .nav>li>a.btn_ico.lang {background:url("../../common/images/ico_lang_w.svg") 50% 50% no-repeat;}
.maumUI.transform .maum_etc .nav>li>a.btn_ico.app {background:url("../../common/images/ico_app_w.svg") 50% 50% no-repeat;}
.maumUI.transform .maum_etc .nav>li>a.btn_ico.mindsLab {background:url("../../common/images/ico_mindsLab_w.svg") 50% 50% no-repeat}

/* swiper */
.main_cont .swiper-container {width:100%; height:700px;}
.main_cont .swiper-object {position:absolute; bottom:200px; left:50%; width:1280px; height:20px; box-sizing:border-box; transform:translate(-50%,0); z-index:10;}

.main_cont .swiper-slide { background-color:#fff; background-position:right 50%; background-repeat:no-repeat; background-size:cover;}
.main_cont .swiper-slide .bgBox {position:relative; width:100%; height:100%;}
.main_cont .swiper-slide .bgBox:after {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(15,20,38,0.4);}
.main_cont .swiper-slide .bgBox video {position:absolute; top:50%; left:50%; width:120%; height:auto; transform:translate(-50%,-50%);}
.main_cont .swiper-slide.swiper-slide-active .bgBox video {width:100%; height:auto; transition:all 10s ease-out;}

.main_cont .swiper-slide .imgBox {position:relative; width:100%; height:100%; text-align:right;}
.main_cont .swiper-slide .imgBox:after {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(15,20,38,0.1);}
.main_cont .swiper-slide .imgBox img {position:absolute; top:50%; left:50%; width:140%; height:auto; transform:translate(-50%,-50%);}
.main_cont .swiper-slide.swiper-slide-active .imgBox img {width:120%; height:auto; transition:all 7s ease-out;}

.main_cont .swiper-slide .infoBox {clear:both; overflow:hidden; position:absolute; top:50%; left:50%; width:1280px; height:400px; box-sizing:border-box; border-radius:7px; transform:translate(-50%,-50%);}
.main_cont .swiper-slide .infoBox .fl {float:left; width:calc(60% - 20px); height:100%; margin:0 20px 0 0; padding:36px 40px; border-radius:7px; box-sizing:border-box;}
.main_cont .swiper-slide .infoBox .fr {float:left; width:calc(40% - 20px); height:100%; margin:0 0 0 20px; padding:0 0 0 0; border-radius:7px; box-sizing:border-box;}

.main_cont .swiper-slide .infoBox.bg_clr {background:#2a2a2a96;}
.main_cont .swiper-slide .infoBox .fl.bg_clr {background:#2a2a2a96;}
.main_cont .swiper-slide .infoBox .fr.bg_clr {background:#2a2a2a96;}

.main_cont .swiper-slide .infoBox .category {display:block; margin:0 0 15px 0; color:#fff; font-size:12px; opacity:0.8;}
.main_cont .swiper-slide .infoBox .tit {display:block; overflow:hidden; max-height:95px; margin:0 0 15px 0; color:#fff; font-size:35px; font-weight:700; line-height:50px; letter-spacing:-1px; word-break:keep-all; text-transform:uppercase; text-shadow:0 1px 1px rgba(0,0,0,0.5); box-sizing:border-box;}
.main_cont .swiper-slide .infoBox .txt {display:block; overflow:hidden; max-height:50px; color:#fff; font-size:15px; line-height:25px; word-break:keep-all; text-shadow:0 1px 1px rgba(0,0,0,0.5); opacity:0.8; box-sizing:border-box;}
.main_cont .swiper-slide .infoBox .btn {display:block; padding:20px 0 0 0;}
.main_cont .swiper-slide .infoBox a {display:inline-block; min-width:80px; height:40px; margin:0 10px 0 0; padding:0 20px; line-height:38px; box-sizing:border-box;}
.main_cont .swiper-slide .infoBox a:last-child {margin:0;}

.main_cont .swiper-slide .infoBox .fr>img {width:100%; height:100%;}
.main_cont .swiper-container .swiper-pagination-bullet {float:left; overflow:hidden; width:16px; height:16px; margin:0 0 0 10px; outline:none !important; border-radius:30px;}
.main_cont .swiper-pagination-bullet {background:none;}
.main_cont .swiper-pagination-bullet .timer {position:relative; width:16px; height:16px; border-radius:30px; cursor: pointer;}
.main_cont .swiper-pagination-bullet .timer:after {content:''; overflow:hidden; position:absolute; top:50%; left:50%; width:10px; height:10px; border-radius:100%; background:#cdcdcd; transform:translate(-50%,-50%);}
.main_cont .swiper-pagination-bullet-active .timer {background:#fff;}
.main_cont .swiper-pagination-bullet-active .timer:after {content:''; position:absolute; width:16px; height:16px; border-radius:100%; background:#fff;}
.main_cont .swiper-pagination-bullet.swiper-pagination-bullet-active:before {animation-duration: 10s;}
@keyframes timer {
100% {transform:rotate(360deg);}
}
@keyframes mask {
0%     {background:#6a6a6a; transform:rotate(0deg);}
50%    {background:#6a6a6a; transform:rotate(-180deg);}
50.01% {background:#fff; transform:rotate(0deg);}
100%   {background:#fff; transform:rotate(-180deg);}
}

.main_cont .swiper-button-prev {left:40px;}
.main_cont .swiper-button-next {left:60px; right:auto;}
.main_cont .swiper-button-prev, .main_cont .swiper-button-next {top:22px; width:12px; height:20px; color:#cdcdcd; outline:none !important; transition:all 0.3s ease-out;}
.main_cont .swiper-button-prev:hover, .main_cont .swiper-button-next:hover {color:#fff; transition:all 0.3s ease-out;}
.main_cont .swiper-button-prev:after, .main_cont .swiper-button-next:after {font-size:14px;}

.main_cont .swiper-pagination {/*right:0; padding:0 55% 0 0;*/left:30px;top: unset;width: auto;height: auto;margin: 0;}

video::-webkit-media-controls {display:none;}
/* Could Use thise as well for Individual Controls */
video::-webkit-media-controls-play-button {}
video::-webkit-media-controls-volume-slider {}
video::-webkit-media-controls-mute-button {}
video::-webkit-media-controls-timeline {}
video::-webkit-media-controls-current-time-display {}



/* -------------------- mobile -------------------- */
@media screen and (max-width: 768px) {
.main_cont .swiper-container {height:380px;}
.main_cont .swiper-object {bottom:30px; left:0; width:100%; height:20px; transform:translate(0,0);}
.main_cont .swiper-slide .infoBox {top:0; left:0; width:100%; height:auto; transform:translate(0,0);}
.main_cont .swiper-slide .infoBox .category {margin:0 0 10px 0;}
.main_cont .swiper-slide .infoBox .fl {display:block; float:none; width:100%; margin:0; padding:36px 20px 20px 20px;}
.main_cont .swiper-slide .infoBox .fr {display:block; float:none; width:100%; margin:0; padding:0 20px;}
.main_cont .swiper-slide .infoBox .fr iframe {width:100%; height:250px;}
.main_cont .swiper-slide .infoBox .fr img {width:100%; height:250px;}
.main_cont .swiper-slide .infoBox .tit {max-height:100%; font-size:22px; line-height:28px;}
.main_cont .swiper-slide .infoBox .txt {max-height:100%; font-size:14px; line-height:20px;}
.main_cont .swiper-pagination {padding:0 20px 0 0;}
.main_cont .swiper-button-prev {left:20px;}
.main_cont .swiper-button-next {left:50px;}

.main_cont .swiper-slide .bgBox video {position:absolute; top:50%; left:50%; width:120%; height:auto; transform:translate(-50%,-50%);}
.main_cont .swiper-slide.swiper-slide-active .bgBox video {width:100%; height:auto; transition:all 7s ease-out;}

.main_cont .swiper-slide .imgBox img {position:absolute; top:50%; left:50%; width:330%; height:auto; transform:translate(-50%,-50%);}
.main_cont .swiper-slide.swiper-slide-active .imgBox img {width:230%; height:auto; transition:all 7s ease-out;}

}

@media screen and (max-width:700px) {
.main_cont .swiper-slide .bgBox video {position:absolute; top:50%; left:50%; width:auto; height:140%; transform:translate(-50%,-50%);}
.main_cont .swiper-slide.swiper-slide-active .bgBox video {width:auto; height:100%; transition:all 7s ease-out;}
}
