@charset "UTF-8";
/* MINDsLab. MRS. 20200316 */
#gitple-launcher-tooltip {background-color: #fff !important;color:#000 !important;}
.gitple-launcher-tooltip-close:before, .gitple-launcher-tooltip-close:after {background-color:#000 !important;}

/* -------------------- header -------------------- */
#header {position:relative; width:100%; height:80px; text-align:center; border-bottom:1px solid #cfd5eb; box-sizing:border-box; background:#fff; z-index:99;}
#header .group_flex {display:inline-block; clear:both; width:1220px; padding:0 59px; text-align:right; box-sizing:border-box;}
#header  h1 {float:left; margin:17px 0 0 0;}
#header  h1 a {display:block; width:114px; height:46px;}
#header  h1 a img {width:100%; height:100%;}
#header .sta {float:right; height:80px;}
.gnb {display:inline-block; height:100%; vertical-align:top;}
.gnb ul.nav {}
.gnb ul.nav li {}
.gnb ul.nav li a {float:left; height:24px; margin:27px 25px 0 0; color:#002b49; font-size: 16px; font-weight: 500; line-height:24px;}

/* service menu  */
#menu {display:inline-block;float:none; position:relative; width:145px; margin:19px 10px 0 0; vertical-align:top;}
#menu > ul {height:auto;border: 1px solid #002b49;border-radius: 3px;}
#menu > ul li p{line-height: 44px;font-size:14px;font-weight:500;color:#002c49;display: block;border-radius: 3px 3px 0 0; text-align: center;box-sizing: border-box;cursor: pointer;}
#menu > ul li p em.fa-angle-up {display: none;}
#menu > ul.active {height:auto ;border: 1px solid #002c49; }
#menu > ul.active li p {background: #fff;color:#1f2e3b; }
#menu > ul.active li p em.fa-angle-down {display: none;}
#menu > ul.active li p em.fa-angle-up {display: inline-block;}
#menu > ul.active li.active a {color:#14b6cb;}
#menu ul.dropdown-menu {display: none;width: 100%;box-sizing:border-box; border-radius: 0 0 3px 3px;background:#fff;padding:4px 0 8px;border-top: 1px dotted #cfd5eb;}
#menu ul.dropdown-menu li{display: block;text-align: center;color:#1f2e3b;font-size:14px;height:30px;line-height: 30px; transition: all 0.3s ease-in-out;}
#menu ul.dropdown-menu li:hover a {display: block;color:#14b6cb;transition: all 0.3s ease-out;}
#menu ul.dropdown-menu a {width:100%;color:#1f2e3b;font-size:14px; letter-spacing: -0.31px; border: none;height:30px;line-height: 30px;}

/* Language  */
.sta .lang_box {display:inline-block; margin:23px 0 0 ;}
.sta .lang_box span {display: block;height:14px;line-height: 14px;margin:0 0 9px 0; font-size: 14px;font-weight: 500;letter-spacing: -0.2px;color: #1f2e3b; opacity: 0.9;}
.sta .lang_box span a{opacity: 0.4;color:#1f2e3b;font-weight: 400;}

/* 모바일 메뉴 */
.aside {display:block; overflow:auto; position:fixed; top:0; right:0; width:0; height:100%; z-index:1000;background-color: #f5f6fa; box-shadow:3px 0 7px #000;}
.aside .aside_top {display:block;height:145px;box-sizing: border-box; padding:20px 44px 0;background: #fff;}
.aside .aside_top h1 {float:left;text-align:center;margin: 8px 0 0 10px;}
.aside .aside_top h1 a{display: block;}
.aside .aside_top h1 img {height:100%;}
.aside .aside_top a.btn_sign { display: block;width:100%;margin:20px auto;box-sizing: border-box; height:42px; border:1px solid #002b49;border-radius: 3px;text-align: center;line-height: 42px;font-size: 14px;color: #002b49;}
.aside .aside_mid {display:block; padding:50px 44px; height: calc(100% - 212px);overflow: auto;}
.aside .aside_mid .m_nav {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li h2 {display:block; font-size:1.4rem; font-weight: 500;line-height: 2.67;letter-spacing: -0.35px;text-align: center;color: #002b49;}
.aside .aside_mid .m_nav li h2 em {font-size:13px;}
.aside .aside_mid .m_nav li h2 span {display:block; color:#999; font-size:15px; font-weight:500; line-height:45px; text-align:center;}
.aside .aside_mid .m_nav li ul.m_lst {display:block;  border: solid 1px #d2dde4;padding:8px 0; background: #fff;}
.aside .aside_mid .m_nav li ul.m_lst li {display:block;text-align: center;}
.aside .aside_mid .m_nav li ul.m_lst li h3 {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a {display:block; height:32px; padding:0 18px; font-size:1.2rem; font-weight:normal;background-color:#fff; line-height:32px;letter-spacing: -0.3px;text-align: center;color: #002b49;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span {display:inline-block; padding:0 0 0 30px; background-size:20px !important;}
.aside .aside_mid .m_nav li ul.m_lst li.active a {color: #14b6cb;}
.aside .aside_btm {display:block; padding: 0 25px 28px 0;}
.aside .aside_btm ul {clear:both; text-align: center;overflow:hidden;}
.aside .aside_btm ul li {display:inline-block; margin-right:32px; text-align:center;}
.aside .aside_btm ul li:last-child{margin:0;}
.aside .aside_btm ul li span {font-size: 14px;font-weight: 500;font-stretch: normal;letter-spacing: -0.31px;text-align: center;color: #002b49;}
.aside .aside_btm ul li span a {  color: #002b49;opacity: 0.3;}

.bg_aside {display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,1.0); opacity:1.0; z-index:100;}

/* header_햄버거버튼 */
.btn_header_ham {display:none; width:50px; height:50px; position:absolute; top:10px; right:0; z-index:1000; border:none; box-sizing:border-box; background:none; opacity:0.6; cursor:pointer;transition: all 0.3s ease-out; }
.btn_header_ham.active {position:fixed;right:0; opacity:1.0; }
.hamburger_icon {position:relative; top:50%; left:50%; margin:-1px 0 0 -13px; width:25px; height:3px; background:#fff; border-radius:3px; }
.hamburger_icon, .hamburger_icon:before {display:block; width:25px; height:3px; border-radius:3px; background-color:rgb(0, 44, 73);}
.hamburger_icon:after {display:block; top:9px; right:0; width:15px; height:3px; border-radius:3px; background-color:rgb(0, 44, 73);}
.hamburger_icon:before, .hamburger_icon:after {position:absolute; content:"";}
.hamburger_icon:before {top:-9px;background-color:rgb(0, 44, 73);}

.btn_header_ham.fixed_ham .hamburger_icon,
.btn_header_ham.fixed_ham .hamburger_icon:before,
.btn_header_ham.fixed_ham .hamburger_icon:after {background-color:#002b49;}


#container {height: calc(100% - 80px);}
/* -------------------- contents -------------------- */
.contents {position: relative;height: 100%;min-width: 1220px;box-sizing: border-box;padding: 80px 0 125px;background-color: #f5f6fa;overflow: hidden;text-align: center;}
.contents > h1 {margin: 0 0 6px 0;font-size: 30px;font-weight: 500;line-height: 0.97;letter-spacing: -0.6px;text-align: center;color: #002b49;}
.contents > h1 + h5 {font-size: 25px;font-weight: 300;line-height: 1.65;letter-spacing: -0.5px;text-align: center;color: #002b49;}


/* -------------------- ai builder-------------------- */
.contents .stn {position: relative;height:calc(100% - 70px);}
.contents .stn .cont_box {display: inline-block;min-width: 1220px;position: absolute;left: 50%;top: 50px;transform: translate(-50%, 0);}
.contents .stn .cont_box .fl_box{position:relative; float:left; width:670px;height:410px;  }
.contents .stn .cont_box .fl_box .cont_area { width: 100%; min-width: auto; padding: 30px 0; box-sizing: border-box;display: grid; justify-content: center;}
.contents .stn .cont_box .fl_box .cont_area .api_set { display: grid;clear:both;margin: 0 0 56px 0; grid-template-rows: repeat(1, 80px);  grid-template-columns: 180px 80px 320px;}
.contents .stn .cont_box .fl_box .cont_area .api_set .api_show{ position:relative;grid-column: 2 / 2; width: 80px; height: 80px;  border-radius: 5px;   box-shadow: 2px 2px 5px 0 rgba(166, 171, 189, 0.4); border: solid 1px #cfd5eb;line-height: 80px; font-size: 17px; font-weight: bold; background-color: #fff;padding:5px;box-sizing: border-box;}
.contents .stn .cont_box .fl_box .cont_area .api_set .api_show em {display: none; position: absolute;right: -9px;top: -9px;font-size: 11px; color: #002c49; cursor: pointer;width: 17px; height: 17px; box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2); background-color: #fff;border-radius: 17px;line-height: 17px;}
.contents .stn .cont_box .fl_box .cont_area .api_set .api_show div.api_bot{width:100%;height:100%;}
.contents .stn .cont_box .fl_box .cont_area .api_set .api_show div.api_bot span { display: block; margin: 0 0 5px 0;color: #002c49;font-size:11px;font-weight: 500;letter-spacing: -0.38px; width: 100%;height: 18px; vertical-align: top; line-height: initial;}
.contents .stn .cont_box .fl_box .cont_area .api_set .api_show div.api_bot img {width:auto;height:40px;}
.contents .stn .cont_box .fl_box .cont_area .api_set .api_show .spinner {display: none;}
.contents .stn .cont_box .fl_box .cont_area .api_set .api_show.api_progress {border:1px solid #1e286d;}
.contents .stn .cont_box .fl_box .cont_area .api_set .api_show.api_progress span {opacity: 0.2;}
.contents .stn .cont_box .fl_box .cont_area .api_set .api_show.api_progress img {opacity: 0.2;}
.contents .stn .cont_box .fl_box .cont_area .api_set .api_show.api_progress .spinner {display: block;position:absolute; width: 100%;height: 100%; padding: 24px 0; box-sizing: border-box;top: 6px;left: 0;}
.contents .stn .cont_box .fl_box .cont_area .api_set .api_show.api_progress .spinner > strong {animation: spin linear 2s infinite;display: block;font-size:20px;}
.contents .stn .cont_box .fl_box .cont_area .api_set:not(:first-child) .api_show:before {content: '';position:absolute;top: -63px;right: -128px;background: url(../image/path_bot.svg) 50% 50% no-repeat; width: 193px; height: 70px;display: table-cell; vertical-align: middle; z-index: 1;}

.contents .stn .cont_box .fl_box .cont_area .api_set .input_show {position:relative; align-self: auto;justify-self: end; margin: 0 56px 0 0;z-index:1;}
.contents .stn .cont_box .fl_box .cont_area .api_set .input_show:after {content: '';position:absolute;top: 36px;right: -62px; background: url(../image/line_path.svg) 50% 50% no-repeat;height: 10px;width: 69px;z-index: 1;}
.contents .stn .cont_box .fl_box .cont_area .api_set .input_show p, .contents .stn .cont_box .fl_box .cont_area .api_set .output_show > div.output p { margin: 0; width: 100%; box-sizing: border-box;letter-spacing: -0.94px;color: #7d71d1; position: absolute;bottom: 6px;left: 0;}
.contents .stn .cont_box .fl_box .cont_area .api_set .input_show > div.input {position:relative; display: inline-block; min-width: 80px; height: 80px; max-width: 260px; padding: 5px; box-sizing: border-box; border-radius: 5px; box-shadow: 2px 2px 5px 0 rgba(166, 171, 189, 0.4); border: solid 1px #cfd5eb; background-color: #fff; letter-spacing: -0.41px;color: #002c49;}
.contents .stn .cont_box .fl_box .cont_area .api_set .input_show > div.input.audiobox {background:#fff url(../image/mic.svg) 50% 35px no-repeat;}
.contents .stn .cont_box .fl_box .cont_area .api_set .output_show {position:relative;align-self: center; justify-self: left; margin: 0 0 0 56px;}
.contents .stn .cont_box .fl_box .cont_area .api_set .output_show:before{content: ''; position: absolute; top: 36px;left: -62px; background: url(../image/line_path.svg) 50% 50% no-repeat;z-index: 1;height: 10px;width: 69px;}
.contents .stn .cont_box .fl_box .cont_area .api_set .output_show > div.output {position:relative; min-width: 80px;height: 80px;max-width:260px;padding:5px 10px; box-sizing: border-box;border-radius: 5px; box-shadow: 2px 2px 5px 0 rgba(166, 171, 189, 0.4); border: solid 1px #cfd5eb; background-color: #fff;}
.contents .stn .cont_box .fl_box .cont_area .api_set .output_show > div.output.textbox {background:#fff url(../image/text.svg) 50% 50% no-repeat; }
.contents .stn .cont_box .fl_box .cont_area .api_set .output_show > div.output.textbox.blue {background:#fff url(../image/text3.svg) 50% 50% no-repeat;overflow: auto; }
.contents .stn .cont_box .fl_box .cont_area .api_set .output_show > div.output.textbox.blue p {color: rgb(44, 172, 229);}
.contents .stn .cont_box .fl_box .cont_area .api_set .output_show > div.output.audiobox {position:relative; background:#fff url(../image/play.svg) 50% 50% no-repeat;cursor: pointer;}
.contents .stn .cont_box .fl_box .cont_area .api_set .output_show > div.output .textarea { width:100%;height:68px; overflow: auto;text-align: left; padding: 0 5px; box-sizing: border-box;vertical-align: middle;display: table-cell;letter-spacing: -0.41px;color:#002c49; }
.contents .stn .cont_box .fl_box .cont_area .api_set .output_show > div.output span.recordingtxt {position: absolute;bottom: 7px;left: 50%;margin: 0 0 0 -17px;color: #7d71d1;font-size: 11px;}

.recording {position:absolute; top: 14px; left:0; right:0; margin:auto; width:93px; height:40px;background: #f4f5fb;padding:10px;box-sizing: border-box;}
.recording span {display:block; float:left;width:3px; height:10%; margin-top:9px; margin-right:2px; border-radius:30px; animation-duration:2.0s; animation-iteration-count:infinite; animation-timing-function:linear;}

.recording span:last-child {margin-right:0;}
.recording span:nth-child(1)  {animation-delay:1.4s;}
.recording span:nth-child(2)  {animation-delay:1.2s;}
.recording span:nth-child(3)  {animation-delay:1.0s;}
.recording span:nth-child(4)  {animation-delay:0.8s;}
.recording span:nth-child(5)  {animation-delay:0.6s;}
.recording span:nth-child(6)  {animation-delay:0.4s;}
.recording span:nth-child(7)  {animation-delay:0.2s;}
.recording span:nth-child(8)  {animation-delay:0s;}
.recording span:nth-child(9)  {animation-delay:0.2s;}
.recording span:nth-child(10) {animation-delay:0.4s;}
.recording span:nth-child(11) {animation-delay:0.6s;}
.recording span:nth-child(12) {animation-delay:0.8s;}
.recording span:nth-child(13) {animation-delay:1.0s;}
.recording span:nth-child(14) {animation-delay:1.2s;}
.recording span:nth-child(15) {animation-delay:1.4s;}

.recording span {animation-name:stt_record; background:#5a5ad1;}
@keyframes stt_record {
    0%   {height:10%; margin-top:9px; background:#5a5ad1; }
    50%  {height:100%; margin-top:0; background:#8f5ad1;}
    100% {height:10%; margin-top:9px; background:#5a5ad1;}
}
.contents .stn .cont_box .fr_box{float: left;padding: 10px 0 0 54px;text-align: left;box-sizing: border-box;}
.contents .stn .cont_box .fr_box ul {padding: 0 0 40px 60px;}
.contents .stn .cont_box .fr_box ul li{ height:56px;line-height: 56px;font-size: 18px;font-weight: normal;letter-spacing: -1.3px;color: #002b49;}
.contents .stn .cont_box .fr_box ul li:first-child { line-height: 67px;letter-spacing: -0.66px;color: #5e4df8;font-size:18px;}
.contents .stn .cont_box .fr_box ul li span{display: inline-block;position:relative; margin:0 17px 0 0;text-align: center; width: 24px;height: 24px;line-height:24px;border-radius: 24px;color:#fff;font-size:16px;z-index:0;}
.contents .stn .cont_box .fr_box ul li span:before {content: '';position:absolute; left: 1px;top: 1px; background-color: #5e4df8;width: 24px;height: 24px;border-radius: 24px;z-index: -1;}
.contents .stn .cont_box .fr_box ul li small {display: inline-block; margin:0 10px 0 0; line-height: 1.11;letter-spacing: -1.3px;color: #5e4df8;font-size:18px;}
.contents .stn .cont_box .fr_box a {display: block; margin: 0 0 0 63px; padding:20px 0 0 0;box-sizing: border-box;width: 352px;height: 80px;border-radius: 4px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);border: solid 1px #5e4df8;background-color: #ffffff; line-height: 0.89;font-size:18px;font-weight: bold;letter-spacing: -0.3px;text-align: center;color: #5e4df8;}
.contents .stn .cont_box .fr_box a span {display: block;height: 16px;margin: 11px 0 0 0; font-size: 14px;font-weight: normal;}

/* -------------------- footer -------------------- */
iframe{position: absolute;bottom: 0;width:100%;border:none; height:127px;background-color: #f5f6fa;}
@media all and (max-height:763px) {
    #container {height: 100%;}
    iframe {position:relative;}
}
/*@media all and (max-height:900px) {*/
/*    #container {height: 100%;}*/
/*    iframe {position:relative;}*/
/*}*/

@media all and (max-width:768px) {
    #header {position:fixed;}
    #header .group_flex {width:100%; padding: 0 10px;}
    #header .sta {display: none;}
    .aside {overflow: hidden;}
    .aside .aside_top {height:80px;padding: 10px 0;border-bottom: 1px solid #cfd5eb;}
    .btn_header_ham.active {transition: all 0.3s ease-out; }
    .btn_header_ham.active .hamburger_icon {background:#002b49;transform:rotate(45deg);opacity:0.7;transition: all 0.3s ease-out; }
    .btn_header_ham.active .hamburger_icon:before {display: none;}
    .btn_header_ham.active .hamburger_icon:after {width: 25px;background:#002b49; transform:rotate(90deg) translate(-9px, 0px);}
    .btn_header_ham {display:block;position:fixed;transition: all 0.3s ease-out; }

    #container {height: auto;}
    .contents{height:100%;min-width: unset;padding: 120px 0 100px;}
    .contents > h1 {font-size:1.6rem;letter-spacing: -1px;margin: 0 0 10px 0;}
    .contents > h1 + h5 {font-size:1.2rem;letter-spacing: -0.5px;margin: 0 0 30px 0;}
    .contents .stn{position:relative;top:0;left:0; transform: unset;}
    .contents .stn .cont_box {width:100%;min-width:unset;position: relative; left: unset;top: unset;transform: unset;}
    .contents .stn .cont_box .fl_box {width:94%;float: unset;margin: 0 auto 30px;background:url(../image/img_builder.png) 50% 50% no-repeat;background-size:contain; height: 260px; }
    .contents .stn .cont_box .fl_box.en {width:94%;float: unset;margin: 0 auto 30px;background:url(../image/img_builder_en.png) 50% 50% no-repeat;background-size:contain; height: 260px; }
    .contents .stn .cont_box .fl_box .cont_area {display: none;}
    .landing_en .contents .stn .cont_box .fl_box {background:url(../image/img_builder_en2.png) 50% 50% no-repeat;background-size:contain;}
    .contents .stn .cont_box .fr_box {width:100%;padding: 0 10px;box-sizing: border-box;}
    .contents .stn .cont_box .fr_box ul {padding:0;}
    .contents .stn .cont_box .fr_box ul li{height: 30px;line-height: 30px;font-size: 1rem;font-weight: normal;letter-spacing: -0.5px;}
    .contents .stn .cont_box .fr_box ul li:first-child {line-height: unset;}
    .contents .stn .cont_box .fr_box ul li span {float: left;font-size: 11px;margin: 3px 17px 0 0;}
    .contents .stn .cont_box .fr_box a {float:unset; margin:20px auto 0;width:100%;padding: 15px 0 0 0;font-size: 16px;height: 70px;}

    iframe {position:relative; height:auto;min-height: 155px; background-color: transparent;}
}