@charset "utf-8";

/*Scroll Bar Style*/
::-webkit-scrollbar{width:5px;border-radius:3px;height:6px;}/* 스크롤바의 width */
::-webkit-scrollbar-track{background-color:transparent;}/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb{background-color:rgba(25, 42, 57, 0.3);border-radius:3px;}/* 스크롤바 색 */
::-webkit-scrollbar-button{display:none;}/* 위 아래 버튼 (버튼 없애기를 함) */


/*팝업창 여는 버튼*/
a.btn {display: inline-block; margin: 0 20px 0 0; padding: 10px; height:40px;text-align: center;border:1px solid #ddd;line-height: 40px; transition:all 0.3s ease-out;font-size: 14px;}
a.btn:hover {border:1px solid cornflowerblue;transition:all 0.3s ease-out;color:cornflowerblue;}
.iconarea {margin:100px;text-align: center;}
.iconarea em {display: inline-block;font-size:20px;margin:20px;}
.iconarea a {display: block; color:coral; }


/*공통 팝업창 스타일*/
.pop_bg {position:absolute; top:0; left:0; width:100%; height:100%; background: #101113; opacity: 0.4; z-index: -10;}
.popWrap {position:relative; display: inline-block;max-width: 800px;min-width:300px; overflow: auto;  border-radius:5px; margin:65px auto 0 auto;background: #fff;}
.pop_close {overflow:hidden; position:absolute; top:25px; right:15px; width:22px; height:22px; margin:-11px 0 0 0;line-height: 100px; border:none; background:none; opacity:0.5; cursor:pointer; transition:all 0.3s ease-out;}
.pop_close:hover, .popWrap .pop_common_close:focus {opacity:1.0; transition:all 0.3s ease-out;}
.pop_close:before {content:'';  position:absolute; top:10px; left:50%; width:22px; height:2px; margin:-1px 0 0 -11px; background:#6e7275; transform:rotate(45deg);}
.pop_close:after {content:'';  position:absolute; top:10px; left:50%; width:22px; height:2px; margin:-1px 0 0 -11px; background:#6e7275; transform:rotate(-45deg);}
.btn .btn_blue {display: block; width:104px; height:40px; color:#fff;background: #2575f9; border: none;border-radius: 4px; line-height: 40px;font-size:14px;font-weight: 500; margin: 20px auto;text-align: center;    cursor: pointer; }
.btn .btn_blue:hover {color:#fff;}


/*pop_common*/
.pop_common {display:none; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:1000;}
.pop_common .pop_hd{display:block; height:50px;  text-align: center; background:#192a39;border-radius: 5px 5px 0 0;}
.pop_common .pop_hd h3 {color:#fff; font-size:20px;line-height: 50px;font-weight:400;}
.pop_common .pop_bd {background:rgba(255,255,255,1.0);height: 100%;clear: both;border-radius: 5px;padding: 20px 30px 10px; font-size: 13px;line-height: 22px; overflow: auto;text-align: left;color:#000; max-height: 500px;}


/*pop_confirm*/
.pop_confirm {display:none; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:1000;} 
.pop_confirm .popWrap {max-width:300px;}
.pop_confirm .pop_bd {height:100%; background:rgba(255,255,255,1.0);clear: both;border-radius: 5px;padding:0 20px;}
.pop_confirm .pop_bd em {margin:33px 0 0 0; font-size:30px;color:#9baed1;}
.pop_confirm .pop_bd p{ margin: 10px 0 ;font-size:20px;color: #33516b; line-height: 25px;font-weight: 400;letter-spacing: -0.4px;}
.pop_confirm .pop_bd span {font-size:14px; color: #33516b;margin: 20px 0 0; display: block;padding: 0 0 5px 0; }


/*pop_input*/
.pop_input {display:none; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:1000;}
.pop_input .pop_bd {height:100%; background:rgba(255,255,255,1.0);clear: both;border-radius: 5px;padding:0 40px;}
.pop_input .pop_bd em {margin:33px 0 0 0; font-size:30px;color:#9baed1;}
.pop_input .pop_bd p{ margin: 10px 0 ;font-size:20px;color: #33516b; line-height: 25px;font-weight: 400;letter-spacing: -0.4px;}
.pop_input .pop_bd span.desc {font-size:11px; color: #33516b;margin: 0 0 20px 0; display: block;padding: 0 0 5px 0; border-bottom: 1px solid #697992;}
.pop_input .pop_bd input {width:200px; border-radius: 5px; background: #f5f6fa; border:1px solid #dadff0;height:40px;float:left; box-sizing: border-box;padding: 10px;color: #33516b; }
.pop_input .pop_bd input::placeholder {color:#9e9e9e;}
.pop_input .pop_bd ul li {margin: 0 0 10px 0; overflow: hidden;}
.pop_input .pop_bd ul li:last-child {margin: 0 0 0 0;}
.pop_input .pop_bd ul li span {width:100px; display: inline-block;color:#697992; font-size:14px;text-align: left; float:left; line-height: 40px;}
.pop_input .pop_bd ul li span.input_2line {line-height: 20px;}



/*pop_2btn*/
.pop_2btn {display:none; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:1000;}
.pop_2btn .popWrap {max-width:340px;}
.pop_2btn .pop_bd {height:100%; background:rgba(255,255,255,1.0);clear: both;border-radius: 5px;padding:0 20px;}
.pop_2btn .pop_bd em {margin:33px 0 0 0; font-size:30px;color:#9cafd2;}
.pop_2btn .pop_bd p{ margin: 20px 0;font-size:20px;color: #33516b; line-height: 25px;font-weight: 400;letter-spacing: -0.4px;}
.pop_2btn .pop_bd span {color:#697992; font-size:14px;display: block; margin: 20px 0; word-break: keep-all; word-wrap: break-word;}
.pop_2btn .btn button {display: inline-block; width:104px; height:40px;border:none; color:#fff; border-radius: 5px; line-height: 40px;font-size:14px;font-weight: 500; margin: 18px 0 30px 0;text-align: center; background: #2575f9;cursor: pointer; }
.pop_2btn .btn button:first-child {background: #9baed1;margin: 0 10px 0 0;}



/*pop_simple*/
.pop_simple {display:none; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:1000;}
.pop_simple .pop_bd {height:100%; background:rgba(255,255,255,1.0);clear: both;border-radius: 5px;padding:0 20px;}
.pop_simple .pop_bd em{font-size:30px;color:#2575f9;height: 60px;line-height: 60px; padding: 10px 0 0;}
.pop_simple .pop_bd p {color: #697992; font-size: 14px; line-height: 18px; width:100%; padding:10px 0 ;}
.pop_simple .btn a {height:40px; color:#2575f9; border:1px solid #2575f9; border-radius: 5px;line-height: 40px;font-size:14px;font-weight: 400;margin: 20px 10px 36px 10px;text-align: center; background: #fff; padding: 0 10px; width: 104px;margin:20px auto;display: inline-block;}



/* Mobile Layout */
@media screen and (max-width: 760px) {
	
}

