@charset "utf-8";
/* MINDsLab UX/UI Team. NBR. 20201104 */

/* main-Service Title Area */
.maumUI .svc_sta {display:block; position:relative; top:0; width:100%; transform:translate(0,0); transition:all 0.3s ease-out;}
/* main-visual영역 */
.maumUI .svc_sta .svc_visual {display:block; overflow:hidden; position:relative; width:100%; min-width:1180px; height:300px; text-align:center;}
.maumUI .svc_sta .svc_visual:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(25,42,57,0.7); z-index:10;}
.maumUI .svc_sta .svc_visual h3 {display:inline-block; position:relative; margin:100px 0 0; color:#fff; font-size:40px; font-weight:500; line-height:59px; letter-spacing:-0.5px; z-index:20;}
.maumUI .svc_sta .svc_visual .bg_img {position:absolute; top:0; left:0; width:100%; transition:all 0.5s ease-out;}
.maumUI .svc_sta .svc_visual .bg_img img {width:100%;}

/* header-lnb */
.maumUI .svc_sta .lnb {display:block; clear:both; overflow:hidden; position:absolute; bottom:0;  width:100%; min-width:1180px; min-height:56px; padding:0 35px; text-align:center; border-top:1px solid rgba(245,246,250,0.2); background:rgba(25,42,57,0.5); box-sizing:border-box; transition:all 0.3s ease-out; z-index:10;}
.maumUI .svc_sta .lnb h2 {display:none; float:left; height:33px; margin:10px 0 0 0; color:#121f3e; font-size:18px; font-weight:700; line-height:31px;}
.maumUI .svc_sta .lnb ul.nav {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav li {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav li a {display:block; position:relative; height:100%; padding:0 50px; color:rgba(255,255,255,0.7); font-size:16px; font-weight:400; text-align:center; line-height:55px; border-radius:0; transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav li a:hover {color:rgba(255,255,255,1.0); background:rgba(255,255,255,0.15); transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav li a.active {color:#fff; font-weight:700; background:rgba(255,255,255,0.15);}
.maumUI .svc_sta .lnb ul.nav li a.active:before {content:''; position:absolute; top:0; left:0; width:100%; height:3px; background:#fff;}

.maumUI .svc_sta .lnb ul.nav_etc {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav_etc li {display:inline-block; margin:0;}
.maumUI .svc_sta .lnb ul.nav_etc li a {display:block; position:relative; height:100%; padding:0 50px; color:rgba(255,255,255,0.7); font-size:16px; font-weight:400;text-align:center; line-height:55px; border-radius:0; transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav_etc li a:hover {color:rgba(255,255,255,1.0); background:rgba(255,255,255,0.15); transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav_etc li a.btn_rou_pstive {background:none; transition:all 0.3s ease-out;}
.maumUI .svc_sta .lnb ul.nav_etc li a.btn_rou_pstive:hover {color:rgba(255,255,255,1.0); background:rgba(255,255,255,0.15); transition:all 0.3s ease-out;}

/* header-scroll transform */
.maumUI.transform.trans #header .svc_sta {position:fixed; top:40px; width:100%; height:55px; transform:translate(0,0); transition:all 0.3s ease-out;}
.maumUI.transform.trans #header .svc_sta .svc_visual{position:absolute; top:-300px;}
.maumUI.transform.trans #header .svc_sta .lnb {min-width:1280px; background:#fff; box-shadow:0 0 12px rgba(25,42,57,0.25);}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav {position:absolute; transform:translate(-50%, 0);}
.maumUI.transform.trans #header .svc_sta .lnb h2 {display:inline-block; position:absolute; left:35px;}
.maumUI.transform.trans #header .svc_sta .lnb h2 a {display:block; margin:0; color:#121f3e; font-size:18px; font-weight:700; line-height:31px; transition:all 0.3s ease-out;}
.maumUI.transform.trans #header .svc_sta .lnb h2 a:hover {color:#3599ff; transition:all 0.3s ease-out;}
.maumUI.transform.trans #header .svc_sta .lnb li {}
.maumUI.transform.trans #header .svc_sta .lnb li a {width:auto; margin:0 15px; padding:0; color:#82909e; font-size:14px;}
.maumUI.transform.trans #header .svc_sta .lnb li a:hover {color:#121f3e;}
.maumUI.transform.trans #header .svc_sta .lnb li a.active {color:#3599ff; font-weight:400;}
.maumUI.transform.trans #header .svc_sta .lnb li a.active:before {top:auto; bottom:0; background:#3599ff;}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc {position:absolute; right:35px; margin:10px 0 0 0;}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc a {height:36px; margin:0 0 0 10px; padding:0 20px; color:#3599ff; font-size:13px; line-height:34px; border:1px solid #d0dbe6; border-radius:4px; background:#fff;}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc a:hover {color:#3599ff; border:1px solid #3599ff;}
.maumUI.transform.trans #header .svc_sta .lnb ul.nav_etc a.btn_rou_pstive {color:#fff; border:1px solid rgba(0,0,0,0.1); background:#3599ff;}

/* container */
.maumUI #container {display:table; width:100%; height:100%; padding:0; background:#f5f7f9;}
.maumUI.transform.trans #container {padding:200px 0 0 0;}
.maumUI.transform.trans #container.view {padding:95px 0 0 0;}

/* content-div[common] */
.maumUI #container .content > div {display:block; position:relative; width:100%; padding:50px 0 60px; text-align:center;}
.maumUI #container .content > div > dl > dt {color:#192a39; font-size:20px; font-weight:700;}

/* main-home */
.contents_home {display:block; position:relative; height:45%; min-height:350px; background:url("../images/img_visual01.png") 50% 50% no-repeat; background-size:cover; text-align:center;}
.contents_home:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(25,42,57,0.7); z-index:5;}
.contents_home .msg_greeting {display:block; position:relative; padding:70px 0 30px 0; color:#fff; font-size:30px; font-weight:500; text-align:center; line-height:38px; letter-spacing:-1px; z-index:10;}
.contents_home .msg_greeting span {margin:0 10px 0 0;}

.contents_home .serviceBox {display:inline-block; position:relative; min-width:1200px; margin:0 0 50px 0; border-radius:7px; background:#fff; box-shadow:0 0 30px rgba(25,42,57,0.2); box-sizing:border-box; text-align:left; z-index:10;}
.contents_home .serviceBox .tab_nav {display:block; position:relative; padding:30px 30px 0 30px; }
.contents_home .serviceBox .tab_nav:before {content:''; position:absolute; bottom:0; left:0; width:100%; height:1px; background:#d0dbe6;}
.contents_home .serviceBox .tab_nav.al_c {text-align:center;}
.contents_home .serviceBox .tab_nav li {display:inline-block; position:relative; margin:0 40px 0 0;}
.contents_home .serviceBox .tab_nav li:last-child {margin:0;}
.contents_home .serviceBox .tab_nav li a {display:block; position:relative; height:40px; color:#121f3e; font-size:14px; line-height:32px;}
.contents_home .serviceBox .tab_nav li a:before {content:''; display:inline-block; width:24px; height:24px; margin:0 7px 0 0; box-sizing:border-box; vertical-align:middle;}
.contents_home .serviceBox .tab_nav li:nth-child(1) a:before {background:url("../images/ico_edgeCloud01.svg") 50% 50% no-repeat; background-size:100% 100%;}
.contents_home .serviceBox .tab_nav li:nth-child(2) a:before {background:url("../images/ico_edgeCloud02.svg") 50% 50% no-repeat; background-size:100% 100%;}
.contents_home .serviceBox .tab_nav li:nth-child(3) a:before {background:url("../images/ico_edgeCloud03.svg") 50% 50% no-repeat; background-size:100% 100%;}
.contents_home .serviceBox .tab_nav li:nth-child(4) a:before {background:url("../images/ico_edgeCloud04.svg") 50% 50% no-repeat; background-size:100% 100%;}
.contents_home .serviceBox .tab_nav li:nth-child(5) a:before {background:url("../images/ico_edgeCloud05.svg") 50% 50% no-repeat; background-size:100% 100%;}
.contents_home .serviceBox .tab_nav li:nth-child(6) a:before {background:url("../images/ico_edgeCloud06.svg") 50% 50% no-repeat; background-size:100% 100%;}
.contents_home .serviceBox .tab_nav li a:hover {color:#3599ff; transition:all 0.3s ease-out;}
.contents_home .serviceBox .tab_nav li a.active {color:#3599ff; font-weight:500;}
.contents_home .serviceBox .tab_nav li a.active:after {content:''; position:absolute; bottom:0; left:0; width:100%; height:3px; background:#3599ff; transition:all 0.3s ease-out;}
.contents_home .serviceBox .tab_container {display:block; padding:30px 30px 40px 30px;}
.contents_home .serviceBox .tab_container .tab_content {display:none;}
.contents_home .serviceBox .tab_container .tab_content .productBox {display:block; clear:both; overflow:hidden; position:relative;}
.contents_home .serviceBox .tab_container .tab_content .productBox .txtBox {float:left; width:50%; padding:0 20px; box-sizing:border-box;}
.contents_home .serviceBox .tab_container .tab_content .productBox .txtBox dl {display:block; position:relative;}
.contents_home .serviceBox .tab_container .tab_content .productBox .txtBox dl dt {display:block; margin:0 0 20px 0; padding:30px 0 0 0; color:#121f3e; font-size:26px; line-height:40px; letter-spacing:-1px;}
.contents_home .serviceBox .tab_container .tab_content .productBox .txtBox dl dt span {display:inline-block;}
.contents_home .serviceBox .tab_container .tab_content .productBox .txtBox dl dt .ico {width:40px; height:40px; margin:0 10px 0 0; padding:0; border-radius:7px; box-sizing:border-box; background:#e9eef3;}
.contents_home .serviceBox .tab_container .tab_content .productBox .txtBox dl dt .ico img {width:100%; height:100%;}
.contents_home .serviceBox .tab_container .tab_content .productBox .txtBox dl dd {display:block;}
.contents_home .serviceBox .tab_container .tab_content .productBox .txtBox dl dd.txt {font-size:15px; line-height:24px; word-break:keep-all;}
.contents_home .serviceBox .tab_container .tab_content .productBox .txtBox dl dd.btn {margin:50px 0 0 0;}
.contents_home .serviceBox .tab_container .tab_content .productBox .txtBox dl dd.btn a {display:inline-block; margin:0 10px 0 0; padding:8px 20px; border:1px solid rgba(0,0,0,0.1); border-radius:20px; background:#3599ff; color:#fff; font-size:13px;}

.contents_home .serviceBox .tab_container .tab_content .productBox .imgBox {float:right; width:50%; padding:0 20px; box-sizing:border-box; border-radius:7px; text-align:center;}
.contents_home .serviceBox .tab_container .tab_content .productBox .imgBox.bg {background:#e9eef3;}
.contents_home .serviceBox .tab_container .tab_content .productBox .imgBox img {border-radius:15px;}

.contents_home .serviceBox .tab_container .dashboard {display:block; clear:both; overflow:hidden; width:100%;}
.contents_home .serviceBox .tab_container .dashboard li {float:left; width:calc(20% - 40px); margin:0 20px; text-align:center; box-sizing:border-box; }
.contents_home .serviceBox .tab_container .dashboard li span {display:block; margin:0 0 15px 0; padding:40px 0; border-radius:4px; background:#eaeef3; font-size:36px; font-weight:700; line-height:40px;}
.contents_home .serviceBox .tab_container .dashboard li em {display:block; padding:0; font-size:15px;}

.ft_point_black {color:#192a39;}
.ft_point_red {color:#ff3535;}
.ft_point_orange {color:#ffc135;}
.ft_point_blue {color:#3599ff;}
.ft_point_gray {color:#8e9aa7;}

/* main-서비스설명 */
.svc_disb {background:#f5f6fa;}
.svc_disb .disbBox {display:inline-block; position:relative; color:#121f3e;}
.svc_disb .disbBox p {display:block; font-size:16px; line-height:24px; letter-spacing:-0.2px;}
.svc_disb .disbBox p span {font-weight:500;}
.svc_disb .disbBox .svc_card_list {display:block; color:#5b6875; font-size:17px; line-height:28px;}
.svc_disb .disbBox .svc_card_list {margin:30px 0;}
.svc_disb .disbBox .svc_card_list li {display:inline-block; position:relative; width:300px; height:210px; margin:0 35px; padding:20px 35px 23px; border:1px solid #b0bed5; border-radius:5px; box-sizing:border-box; background:#fff;}
.svc_disb .disbBox .svc_card_list li + li:before {content:'\f067'; font-family:'Font Awesome 5 Free'; color:#192a39; font-size:20px; font-weight:900; position:absolute; top:50%; left:-48px; width:20px; transform:translate(0, -50%);}
.svc_disb .disbBox .svc_card_list li dt {margin:0 0 2px; color:#192a39; font-size:15px; font-weight:500; line-height:22px; letter-spacing:-0.2px;}
.svc_disb .disbBox .svc_card_list li dd {height:calc(100% - 24px); color:rgba(25, 42, 57, 0.7); font-size:14px; letter-spacing:-0.2px; line-height:20px;}
.svc_disb .disbBox .svc_card_list li:nth-child(1) dd {background:url(../images/img_edge_svc01.png) 50% 100% no-repeat; background-size:100%;}
.svc_disb .disbBox .svc_card_list li:nth-child(2) dd {background:url(../images/img_edge_svc02.png) 50% 100% no-repeat; background-size:100%;}
.svc_disb small {color:#192a39; font-size:13px; letter-spacing:-0.2px; opacity:0.8;}

/* main-디바이스 견적요청 */
.bg_whiteBox {background:#fff;}
.bg_whiteBox .dvc_card_list {margin:30px 0;}
.bg_whiteBox .dvc_card_list > li {display:inline-block; width:270px; height:215px; margin:0 17px; border:1px solid #b0bed5; border-radius:3px; box-sizing:border-box; background:#fff; vertical-align:middle; transition:all 0.3s ease-out;}
.bg_whiteBox .dvc_card_list > li:hover {border-color:#468afa;}
.bg_whiteBox .dvc_card_list > li .tit {display:block; margin:10px 0 0; color:#192a39; font-size:15px; font-weight:700; line-height:22px; letter-spacing:-0.2px;}
.bg_whiteBox .dvc_card_list > li .dvc_detail {position:relative; width:100%; height:105px; margin:18px 0;}
.bg_whiteBox .dvc_card_list > li:nth-child(1) .dvc_detail {background:url('../images/img_device01.png') 50% 50% no-repeat; background-size:contain;}
.bg_whiteBox .dvc_card_list > li:nth-child(2) .dvc_detail {background:url('../images/img_device02.png') 50% 50% no-repeat; background-size:contain;}
.bg_whiteBox .dvc_card_list > li:nth-child(3) .dvc_detail {background:url('../images/img_device03.png') 50% 50% no-repeat; background-size:contain;}
.bg_whiteBox .dvc_card_list > li .dvc_detail .specify_list {display:none; position:absolute; top:50%; left:50%; min-width:170px; padding:10px; border:1px solid #b0bed5; border-radius:3px; box-sizing:border-box; background:rgba(255, 255, 255, 0.8); text-align:left; z-index:5; transition:border 0.2s ease-out;}
.bg_whiteBox .dvc_card_list > li .radioBox {display:block; width:100%; margin:0; border-top:1px solid #b0bed5;}
.bg_whiteBox .dvc_card_list > li .radioBox input[type="radio"] + label {padding:0 0 0 34px; color:#192a39; font-size:14px; font-weight:500; line-height:40px;}
.bg_whiteBox .dvc_card_list > li .radioBox input[type="radio"] + label:before {width:18px; height:18px; margin:-10px 0 0; border:1px solid #b0bed5; background:#fff;}
.bg_whiteBox .dvc_card_list > li .radioBox input[type="radio"]:checked + label:before {border:1px solid #468afa;}
.bg_whiteBox .dvc_card_list > li .radioBox input[type="radio"]:checked + label:after {left:5px; width:10px; height:10px; margin:-5px 0 0; background:#468afa;}

/* main-cloud */
.svc_disb .disbBox > dl > dt {color:#192a39; font-size:20px; font-weight:700; letter-spacing:-0.2px;}
.svc_disb .disbBox > dl > dd {overflow:hidden; margin:30px 0 40px; padding:0 0 0 48px;}
.svc_disb .disbBox dd > ul {display:inline-block;}
.svc_disb .disbBox dd .img {display:inline-block; width:285px; margin:45px 40px 0; vertical-align:top;}
.svc_disb .disbBox dd .cloud_list > li {width:356px; height:110px; text-align:left;}
.svc_disb .disbBox dd .cloud_list > li + li {margin:30px 0 0;}
.svc_disb .disbBox dd .cloud_list > li .ico {display:inline-block; width:90px; height:90px; border:1px solid #b0bed5; border-radius:50%; vertical-align:top;}
.svc_disb .disbBox dd .cloud_list.fl > li {width:308px; padding:0 0 0 8px;}
.svc_disb .disbBox dd .cloud_list.fl > li .ico {float:right; margin:0 0 0 20px;}
.svc_disb .disbBox dd .cloud_list.fr > li .ico {margin:0 28px 0 0;}
.svc_disb .disbBox dd .cloud_list.fl li:nth-child(1) .ico {background:#fff url('../images/ico_edgeCloud01.svg') 50% 50% no-repeat;}
.svc_disb .disbBox dd .cloud_list.fl li:nth-child(2) .ico {background:#fff url('../images/ico_edgeCloud02.svg') 50% 50% no-repeat;}
.svc_disb .disbBox dd .cloud_list.fl li:nth-child(3) .ico {background:#fff url('../images/ico_edgeCloud03.svg') 50% 50% no-repeat;}
.svc_disb .disbBox dd .cloud_list.fr li:nth-child(1) .ico {background:#fff url('../images/ico_edgeCloud04.svg') 50% 50% no-repeat;}
.svc_disb .disbBox dd .cloud_list.fr li:nth-child(2) .ico {background:#fff url('../images/ico_edgeCloud05.svg') 50% 50% no-repeat;}
.svc_disb .disbBox dd .cloud_list.fr li:nth-child(3) .ico {background:#fff url('../images/ico_edgeCloud06.svg') 50% 50% no-repeat;}
.svc_disb .disbBox dd .cloud_list li dl {display:inline-block;}
.svc_disb .disbBox dd .cloud_list li dl dt {margin:0 0 10px -8px; color:#192a39; font-size:15px; font-weight:700; line-height:22px;}
.svc_disb .disbBox dd .cloud_list li dl dd li {position:relative; color:#697992; font-size:14px; font-weight:500; line-height:20px; letter-spacing:-0.2px;}
.svc_disb .disbBox dd .cloud_list li dl dd li:before {content:'\2023'; display:inline-block; position:absolute; top:-2px; left:-8px; font-size:20px;}

/* main-고객사례 */
.bg_navyBox {background:#1f2e3b;}
.bg_navyBox dt {color:#fff !important;}
.bg_navyBox .svc_case_list li {display:inline-block; margin:0 30px;}
.bg_navyBox .svc_case_list li .tit {display:block; margin:40px 0 26px; color:#fff; font-size:15px; font-weight:500; line-height:22px; letter-spacing:-0.2px;}
.bg_navyBox .svc_case_list li .img {display:inline-block; position:relative; width:230px; height:230px; border-radius:50%; transition:all 0.3s ease-out;}
.bg_navyBox .svc_case_list li:nth-child(1) .img {background:url('../images/img_svc_case01.png') 50% 50% no-repeat;}
.bg_navyBox .svc_case_list li:nth-child(2) .img {background:url('../images/img_svc_case02.png') 50% 50% no-repeat;}
.bg_navyBox .svc_case_list li:nth-child(3) .img {background:url('../images/img_svc_case03.png') 50% 50% no-repeat;}
.bg_navyBox .svc_case_list li:nth-child(1) .img:hover {background:url('../images/img_svc_case01_over.png') 50% 50% no-repeat;}
.bg_navyBox .svc_case_list li:nth-child(2) .img:hover {background:url('../images/img_svc_case02_over.png') 50% 50% no-repeat;}
.bg_navyBox .svc_case_list li:nth-child(3) .img:hover {background:url('../images/img_svc_case03_over.png') 50% 50% no-repeat;}
.bg_navyBox .svc_case_list li .img span {display:inline-block; position:absolute; bottom:0; left:50%; color:#fff; font-size:14px; line-height:50px; letter-spacing:-0.2px; transform:translate(-50%, 0);}
.bg_navyBox .svc_case_list li .img em {margin:0 0 0 5px;}

/* main-문의하기 */
.svc_disb .disbBox > div {display:inline-block; margin:0 30px; text-align:left; vertical-align:middle;}
.svc_disb .disbBox .img {width:190px;}
.svc_disb .disbBox .img img {width:100%;}
.svc_disb .disbBox .txt span {color:#192a39; font-size:20px; font-weight:700; letter-spacing:-0.2px;}
.svc_disb .disbBox .txt p {margin:20px 0 14px; color:#192a39; font-size:15px; letter-spacing:-0.2px;}

/* button */
.btnBox a {padding:8px 57px; border:1px solid #3599ff; background:#3599ff; color:#fff; font-size:17px; font-weight:500; letter-spacing:-0.2px;}

/* container-snb */
.maumUI #container .snb {display:table-cell; width:200px; min-width:200px; padding:0; vertical-align:top; border-right:1px solid #eceef3; box-sizing:border-box; background:#fff;}
.maumUI #container .snb .bgBox {display:block; padding:20px; border-bottom:1px solid #eceef3; background:#fff;}
.maumUI #container .snb .bgBox a {display:block; height:46px; color:#fff; font-size:15px; font-weight:700; text-align:center; line-height:44px; border-radius:4px; background:#3599ff;}
.maumUI #container .snb .bgBox a span {display:inline-block; margin:0 7px 0 0; opacity:0.7;}
.maumUI #container .snb .navBox {padding:25px 0;}
.maumUI #container .snb .navBox .nav_tit {display:block; margin:0 0 3px 0; padding:0 20px 0 12px; color:#82909e;}
.maumUI #container .snb ul.nav {display:block;}
.maumUI #container .snb ul.nav li {display:block; margin:0 0 5px 0; font-size:11px;}
.maumUI #container .snb ul.nav li a {display:block; min-height:32px; padding:10px 20px; color:#121f3e; font-size:14px; border-radius:0; box-sizing:border-box; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a span {display:inline-block; width:15px; margin:0 7px 0 0; color:#abb0bf; text-align:center; opacity:0.7; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a:hover {color:#3599ff; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a:hover span {color:#3599ff; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a.active {color:#3599ff; font-weight:500; background:rgba(53,153,255,0.08);}
.maumUI #container .snb ul.nav li a.active span {color:#3599ff; opacity:0.5;}
.maumUI #container .snb ul.nav + .nav_tit {margin:25px 0 7px 0;}

/* container-contents */
.maumUI #container .contents {display:table-cell; width:calc(100% - 200px); padding:30px; vertical-align:top; box-sizing:border-box;}

/* container-contents-title */
.maumUI #container .contents .titArea {display:block; margin:0 0 10px 10px;}
.maumUI #container .contents .titArea h3 {display:block; margin:0 0 10px 0; color:#121f3e; font-size:24px; font-weight:700; line-height:28px; letter-spacing:-1px;}

/* table */
.tbl_filterBox {display:block; clear:both; margin:0 5px 0 10px; padding:0; border-radius:4px; box-sizing:border-box;}
.tbl_filterBox .tblSrchBox {display:block; width:100%; margin:0 0 25px 0; padding:10px 10px 5px 10px; border:1px solid #f0f3f7; border-radius:4px; background:#fff; box-sizing:border-box;}
.tbl_filterBox .tblSrchBox .srch_field {display:inline-block; vertical-align:middle;}
.tbl_filterBox .tblSrchBox .srch_field dl {display:inline-block; padding:0 20px 5px 0;}
.tbl_filterBox .tblSrchBox .srch_field dl dt {display:block; padding:0 5px 2px 0; color:#82909e; font-size:12px; font-weight:400;}
.tbl_filterBox .tblSrchBox .srch_field dl dd {display:block;}
.tbl_filterBox .tblSrchBox .srch_field .select {min-height:32px; border:1px solid #adb8c3; border-radius:4px; background-color:#fff; color:#121f3e;}
.tbl_filterBox .tblSrchBox .srch_field .select:focus {border:1px solid #3599ff;}
.tbl_filterBox .tblSrchBox .srch_field .ipt_txt {height:30px; padding:0 7px; border:1px solid #adb8c3; border-radius:4px; color:#121f3e;}
.tbl_filterBox .tblSrchBox .srch_field .ipt_txt:focus {border:1px solid #3599ff;}
.tbl_filterBox .tblSrchBox .srch_field .date {display:inline-block; position:relative;}
.tbl_filterBox .tblSrchBox .srch_field .ipt_date {width:75px; height:30px; padding:0 7px; border:1px solid #adb8c3; border-radius:4px; color:#121f3e;}
.tbl_filterBox .tblSrchBox .srch_field .ipt_date:focus {border:1px solid #3599ff;}
.tbl_filterBox .tblSrchBox .srch_field .ipt_dateTime {width:110px; height:30px; padding:0 7px; border:1px solid #adb8c3; border-radius:4px; color:#121f3e;}
.tbl_filterBox .tblSrchBox .srch_field .ipt_dateTime:focus {border:1px solid #3599ff;}
.tbl_filterBox .tblSrchBox .srch_field .checkBox input[type="checkbox"] + label {padding-left:22px; color:#121f3e;}
.tbl_filterBox .tblSrchBox .srch_field .checkBox input[type="checkbox"]:checked + label:before {border:1px solid #adb8c3; background:#fff; color:#3599ff; font-size:11px; line-height:15px;}
.tbl_filterBox .tblSrchBox .srch_btn {display:inline-block; padding:21px 0 5px 0; vertical-align:top;}
.tbl_filterBox .tblSrchBox .srch_btn button {width:80px; height:32px; padding:0; border:1px solid #d0dbe6; border-radius:4px; background:#fff; color:#525f78; font-size:12px; line-height:30px;}
.tbl_filterBox .tblSrchBox .srch_btn button.btn_clr {border:1px solid rgba(0,0,0,0.1); background:#3599ff; color:#fff;}

.tbl_filterBox .tbl_top {display:block; clear:both; overflow:overlay; min-height:26px; padding:0 0 5px;}
.tbl_filterBox .tbl_top h4 {float:left; padding:5px 0 0 0; color:#525f78; font-size:15px; line-height:24px;}
.tbl_filterBox .tbl_top .infoTxt {display:inline-block; margin:0 0 0 15px; color:#525f78; line-height:26px; vertical-align:top;}
.tbl_filterBox .tbl_top .infoTxt span {color:#121f3e;}
.tbl_filterBox .tbl_top .checkToggle {margin:5px 0 0 0; vertical-align:top;}
.tbl_filterBox .tbl_top .btn_rou_pstive {display:inline-block; height:100%; padding:0 10px; color:#fff; font-size:12px; text-align:center; line-height:30px; vertical-align:middle; border:none; border-radius:3px; box-sizing:border-box; background-color:#3599ff; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_top .btn_rou_pstive span {margin:0 5px 0 0; opacity:0.5;}
.tbl_filterBox .tbl_top .btn_rou_pstive:disabled {background-color:#9faeba; cursor:default;}

.tbl_filterBox .tbl_top .dl_filterOption {display:none; float:left; border-radius:3px; line-height:24px;}
.tbl_filterBox .tbl_top .dl_filterOption dt {display:table-cell; padding:0; color:#98a7c7; font-size:13px; font-weight:500; vertical-align:middle;}
.tbl_filterBox .tbl_top .dl_filterOption dd {display:table-cell; padding:0 0 0 7px; vertical-align:middle;}
.tbl_filterBox .tbl_top .dl_filterOption dd .btn_rou_pstive {float:left; border-radius:30px; box-sizing:border-box; line-height:26px;}
.tbl_filterBox .tbl_top .dl_filterOption dd .ico_reset:before {content:''; display:inline-block; width:11px; height:11px; margin:-2px 3px 0 0; background:url("../images/ico_reset_w.svg") 50% 50% no-repeat; background-size:100% 100%; vertical-align:middle; opacity:0.7;}

.tbl_filterBox .tbl_top .lst_filterSelect {float:left; margin:0;  line-height:24px;}
.tbl_filterBox .tbl_top .lst_filterSelect li {float:left; margin:0 0 0 3px; padding:0 10px; border:none; border:1px solid #d0dbe6; border-radius:30px; box-sizing:border-box; background:#fff; color:#3599ff; line-height:24px;}
.tbl_filterBox .tbl_top .lst_filterSelect li .btn_filter_delete {display:inline-block; overflow:hidden; position:relative; width:11px; height:11px; margin:-4px 0 0 5px; border:none; background:none; vertical-align:middle; line-height:14px; text-indent:-99px; opacity:0.4;}
.tbl_filterBox .tbl_top .lst_filterSelect li .btn_filter_delete:hover {opacity:1.0; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_top .lst_filterSelect li .btn_filter_delete:before {content:''; position:absolute; top:50%; left:0%; width:100%; height:1px; background:#5f6680; border-radius:3px; transform:rotate(45deg);}
.tbl_filterBox .tbl_top .lst_filterSelect li .btn_filter_delete:after {content:''; position:absolute; top:50%; left:0%; width:100%; height:1px; border-radius:3px; background:#5f6680; transform:rotate(-45deg);}

.tbl_filterBox .tbl_mid {display:block; border:1px solid #f0f3f7; background:#fff;}
.tbl_filterBox .tbl_mid .checkBox {min-height:inherit;}
.tbl_filterBox .tbl_mid .tbl_lst {width:100%;}
.tbl_filterBox .tbl_mid .tbl_lst> thead> tr> th {position:relative; padding:10px 5px 10px 10px; color:#fff; text-align:left; line-height:18px; border-bottom:none; background:#525f78;}
.tbl_filterBox .tbl_mid .tbl_lst> thead> tr:first-child> th:first-child {border-radius:4px 0 0 0;}
.tbl_filterBox .tbl_mid .tbl_lst> thead> tr:first-child> th:last-child {border-radius:0 4px 0 0;}
.tbl_filterBox .tbl_mid .tbl_lst> thead> tr> th:last-child {padding:10px;}
.tbl_filterBox .tbl_mid .tbl_lst> thead> tr> th> a {display:inline-block; margin:0 0 0 3px; color:#fff; text-align:center; line-height:18px; opacity:0.4; box-sizing:border-box; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_lst> thead> tr> th> a:hover {color:#3599ff; opacity:1.0; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr> td {position:relative; padding:10px 5px 10px 10px; color:#121f3e; font-size:13px; text-align:left; line-height:16px; letter-spacing:-0.5px; border-bottom:1px solid #f0f3f7; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr:last-child td:first-child {border-radius:0 0 0 4px;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr:last-child td:last-child {border-radius:0 0 4px 0;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr> td:last-child {padding:10px;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr:hover td {background:rgba(53,153,255,0.05); transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr:last-child td {border-bottom:none;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody td.dataNone {color:#7c8ba7; text-align:center; line-height:24px; border-radius:0 0 4px 4px !important; pointer-events:none;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr:hover td.dataNone {background:none;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr.active td {background:rgba(53,153,255,0.3);}
.tbl_filterBox .tbl_mid .tbl_lst tbody td a.btn_line {display:inline-block; padding:6px 10px 7px 10px; color:#525f78; font-size:12px; line-height:14px; border:1px solid #d0dbe6; border-radius:4px; box-sizing:border-box; background:#fff; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_lst tbody td a.btn_line span {margin:0 3px 0 0; font-size:10px; opacity:0.5;}
.tbl_filterBox .tbl_mid .tbl_lst tbody td a.btn_line:hover {color:#55a8fd; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_lst tbody td a.btn_line_s {display:inline-block; margin:0 0 0 7px; padding:6px 7px 7px 7px; color:#454b50; font-size:12px; line-height:14px; border:1px solid #d0dbe6; border-radius:4px; box-sizing:border-box; background:#fff; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_lst tbody td a.btn_line_s span {font-size:11px;}
.tbl_filterBox .tbl_mid .tbl_lst tbody td a.btn_line_s:hover {color:#55a8fd; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_lst tbody td a.btn_line.btn_edge_install { color:#3599ff;}
.tbl_filterBox .tbl_mid .tbl_lst tbody td a.link {float:left; overflow:hidden; color:#3599ff; font-size:13px; line-height:14px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; box-sizing:border-box; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_lst tbody td a.link:hover {text-decoration:underline;}
.tbl_filterBox .tbl_mid .tbl_lst tbody td a.link.w150 {width:150px;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr> td .checkOnlyBox input[type="checkbox"]:checked + label:before {font-size:12px;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr> td .msg_restart {position:absolute; top:0; left:0; width:100%; height:100%; color:#82909e; font-size:10px; text-align:center; background:#fff; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr> td .msg_restart:before {content:''; display:block; width:100%; height:16px; margin:9px 0 2px; background:url("../images/ani_loading.gif") 50% 50% no-repeat; background-size:auto 100%;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr:hover td .msg_restart {background-color:#f5faff; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr.active td .msg_restart {background-color:#c2e0ff; transition:all 0.3s ease-out;}

.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr> td.tbl_edgePlace span {display:inline-block; margin:0 5px 0 0;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr> td.tbl_edgePlace em {display:inline-block; margin:0 5px 0 0; color:#82909e; font-size:12px; font-weight:400;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr> td.tbl_edgePlace strong {display:inline-block; color:#82909e; font-size:12px; font-weight:400;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr> td.tbl_edgePlace i {display:inline-block; color:#82909e; font-size:12px; font-weight:400; font-style:normal;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr.active> td.tbl_edgePlace strong {color:#6f7f90;}
.tbl_filterBox .tbl_mid .tbl_lst> tbody> tr.active> td.tbl_edgePlace i {color:#6f7f90;}

.tbl_filterBox .tbl_mid .tbl_filter {display:none; position:absolute; top:30px; left:-20px; border-radius:4px; box-sizing:border-box; background:#fff; box-shadow:0 0 7px rgba(25,42,57,0.3); z-index:1;}
.tbl_filterBox .tbl_mid .tbl_filter:before {content:''; position:absolute; top:0; left:45px; width:4px; height:4px; border-top:1px solid #e6e9f3; border-left:1px solid #e6e9f3; background:#fff; transform-origin:4px -2px; transform:rotate(45deg);}
.tbl_filterBox .tbl_mid .tbl_filter.active {display:block; top:34px;}
.tbl_filterBox .tbl_mid .tbl_filter dl {display:block; padding:10px; border-bottom:1px solid #f0f3f7;}
.tbl_filterBox .tbl_mid .tbl_filter dl:last-child {margin:0; border-bottom:none;}
.tbl_filterBox .tbl_mid .tbl_filter dl dt {display:block; padding:0 0 4px 0; color:#82909e;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd {display:block; position:relative;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.srch {min-width:150px;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd input {box-sizing:border-box;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd .ipt_txt {display:block; width:100%; height:24px; padding:0 5px; color:#121f3e; font-size:12px; border:1px solid #adb8c3; border-radius:3px; box-sizing:border-box; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd .ipt_txt:focus {border:1px solid #3599ff; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd .ipt_srch {display:block; width:100%; height:24px; padding:0 20px 0 5px; color:#121f3e; font-size:12px; border:1px solid #adb8c3; border-radius:3px; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd .ipt_srch:focus {border:1px solid #3599ff; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd .ipt_srch + .btn_srch {position:absolute; top:1px; right:2px; width:20px; height:20px; margin:0; padding:0; color:#616e7b; font-size:12px; text-align:center; line-height:20px; border:none; background:none; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd .ipt_srch + .btn_srch:hover, .tbl_filterBox .tbl_mid .tbl_filter dl dd .ipt_srch + .btn_srch:focus {color:#3599ff; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.check {min-width:100px;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.check ul {display:block;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.check ul li {display:block; margin:0 0 5px 0;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.check ul li:last-child {margin:0;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.check ul li .checkBox {display:block;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.check ul li .checkBox input[type="checkbox"] + label {display:block; margin:0; padding-left:20px; color:#121f3e; font-size:12px; line-height:15px;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.check ul li .checkBox input[type="checkbox"] + label:hover {color:#3599ff; transition:all 0.3s ease-out;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.check ul li .checkBox input[type="checkbox"] + label:before {top:0; width:15px; height:15px; font-size:11px; line-height:11px;}
.tbl_filterBox .tbl_mid .tbl_filter .btnBox {padding:7px 10px; text-align:right;}
.tbl_filterBox .tbl_mid .tbl_filter .btnBox button {padding:3px 10px; color:#fff; font-size:11px; border:none; background:#3599ff;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.date {min-width:170px;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.date .ipt_txt {display:inline-block; width:80px;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.date .dash {display:inline-block; color:#82909e;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.dateTime {min-width:250px;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.dateTime .ipt_txt {display:inline-block; width:110px;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.dateTime .dash {display:inline-block; color:#82909e;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.perct {min-width:150px; color:#121f3e;}
.tbl_filterBox .tbl_mid .tbl_filter dl dd.perct .ipt_num {display:inline-block; width:38%; height:24px; margin:0 2px 0 0; padding:0 5px; color:#121f3e; font-size:12px; border:1px solid #adb8c3; border-radius:3px; box-sizing:border-box; transition:all 0.3s ease-out;}

.tbl_filterBox .tbl_btm {display:block; clear:both; overflow:hidden; position:relative; min-height:30px; padding:20px 0 0 0;}
.tbl_filterBox .tbl_btm .btnBox {display:inline-block; clear:none; position:relative; vertical-align:top; z-index:10;}
.tbl_filterBox .tbl_btm .btnBox.fl {float:left;}
.tbl_filterBox .tbl_btm .btnBox.fr {float:right;}
.tbl_filterBox .tbl_btm .btnBox a {min-width:60px; margin:0; padding:0 15px; font-size:13px; box-sizing:border-box;}
.tbl_filterBox .tbl_btm .btnBox a span {display:inline-block; margin:0 5px 0 0; opacity:0.5;}
.tbl_filterBox .tbl_btm .btnBox a.disabled {border-color:#9faeba; background:#9faeba; opacity:0.5; pointer-events:none;}
.tbl_filterBox .tbl_btm .pageing {position:absolute; top:23px; width:100%; padding:0;}
.tbl_filterBox .tbl_btm .pageing a {width:20px; height:26px; color:#7c8ba7; line-height:26px; vertical-align:top; box-sizing:border-box;}
.tbl_filterBox .tbl_btm .pageing a.first,.tbl_filterBox .tbl_btm .pageing a.prev,.tbl_filterBox .tbl_btm .pageing a.next,.tbl_filterBox .tbl_btm .pageing a.end {width:26px; border:1px solid #adb8c3; background-color:#fff;}
.tbl_filterBox .tbl_btm .pageing strong {width:26px; height:26px; line-height:26px; vertical-align:top; border:none; box-sizing:border-box;}

/* Edge상태 */
.status_edge {display:block;}
.status_edge span {display:block;}
.status_edge span:before {content:''; display:inline-block; width:8px; height:8px; margin:-2px 3px 0 0; vertical-align:middle; border-radius:10px;}
.status_edge .normal:before {background:#70e472;}
.status_edge .abnormal:before {background:#ffb94f;}
.status_edge .error:before {background:#ff637b;}
.status_edge .not:before {background:#bcc6d0;}

/* CPU/GPU 사용량 */
.status_usage {display:block;}
.status_usage dl {display:inline-block;margin:0 10px 0 0; letter-spacing:0; vertical-align:top;}
.status_usage dl dt {display:block; color:#82909e; font-size:10px; font-weight:400; text-align:center;}
.status_usage dl dd {display:block; font-size:10px; line-height:14px;}
.status_usage dl dd.gauge {overflow:hidden; position:relative; width:50px; height:14px; padding:0 3px; border-radius:10px; background:#e7ecf1;}
.status_usage dl dd.gauge em {position:absolute; top:0; left:0; height:100%; background:#b4bcca;}
.status_usage dl dd.gauge em.safety {background:#70e472;}
.status_usage dl dd.gauge em.warn {background:#ffb94f;}
.status_usage dl dd.gauge em.warning {background:#ff637b;}
.status_usage dl dd.gauge span {position:absolute; top:0; left:0; width:100%; height:100%; text-align:center;}

.aside {display:none; position:relative;width:350px; padding:20px; box-sizing:border-box; background:#fff;}
.aside.active {display:table-cell;}
.aside .titArea {display:block; margin:0 0 10px 0;}
.aside .titArea h3 {display:block; margin:10px 0; color:#121f3e; font-size:22px; font-weight:500; line-height:24px; letter-spacing:-1px;}
.aside .contArea {display:block;}
.aside .contArea .tit {display:block; clear:both; overflow:overlay; min-height:26px; padding:0;}
.aside .contArea .tit h4 {float:left; color:#525f78; font-size:13px; line-height:26px;}
.aside .contArea .cont {display:block;}
.aside .foo_btnBox {display:block; margin:20px 0 0 0; text-align:center;}
.aside .foo_btnBox button {display:inline-block; height:28px; margin:0 3px; padding:0 15px; color:#fff; font-size:12px; line-height:26px; border:none; border-radius:4px; background:#9faeba; box-sizing:border-box;}
.aside .foo_btnBox button.btn_line {height:30px; padding:0 10px; color:#3599ff; border:1px solid #d0dbe6; background:#fff;}
.aside .foo_btnBox button.ft_point {background:#3599ff;}

/* radio */
.aside .radioBox {display:block; clear:both; overflow:hidden; min-height:34px; margin:0;}
.aside .radioBox input[type="radio"] + label{float:left; margin:7px 7px 0 0; padding-left:17px; font-size:13px; line-height:20px;}
.aside .radioBox input[type="radio"] + label:last-child{margin-right:0;}
.aside .radioBox input[type="radio"] + label:before{width:13px; height:13px; margin:-7px 0 0 0; line-height:34px; background:#fff; border:1px solid #d0dbe6;}
.aside .radioBox input[type="radio"] + label:active:before, .aside .radioBox input[type="radio"]:checked + label:active:before{}
.aside .radioBox input[type="radio"]:checked + label:before{background:#fff; border-color:#55a8fd;}
.aside .radioBox input[type="radio"]:checked + label:after{left:5px; width:5px; height:5px; margin:-2px 0 0 0; background:#55a8fd; border-radius:100%;}

.aside .img_loadView {display:block; margin:0 0 5px 0;}
.aside .img_loadView img {width:100%;}
.aside .img_numPlate {display:block; margin:0 0 10px 0;}
.aside .img_numPlate img {width:100%;}

.aside .aside_view {display:none;}
.aside .aside_edit {display:none;}
.aside .aside_modify {display:none;}

.aside .btn_aside_close.ico {overflow:hidden; position:absolute; top:30px; right:20px; width:22px; height:22px; text-indent:-99px; border:none; background:none; transition:all 0.3s ease-out; opacity:0.5; cursor:pointer;}
.aside .btn_aside_close.ico:hover, .aside .btn_aside_close:focus {opacity:1.0; transition:all 0.3s ease-out;}
.aside .btn_aside_close.ico:before {content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; background:#5f6680; border-radius:3px; transform:rotate(45deg);}
.aside .btn_aside_close.ico:after {content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; border-radius:3px; background:#5f6680; transform:rotate(-45deg);}

.tbl_view {width:100%; border-top:2px solid #616e7b; table-layout:fixed;}
.tbl_view tbody th {padding:10px 7px; color:#525f78; font-size:12px; text-align:left; line-height:16px; letter-spacing:-1px; border-bottom:1px solid #e5eaf1; background:#f7f9fb;}
.tbl_view tbody td {padding:10px 7px; color:#121f3e; font-size:13px; text-align:left; line-height:16px; border-bottom:1px solid #e5eaf1;}

.tbl_edit {width:100%; table-layout:fixed;}
.tbl_edit tbody th {padding:5px 7px; color:#525f78; font-size:12px; text-align:left; line-height:16px; letter-spacing:-1px; border-bottom:1px solid #e5eaf1; background:#f7f9fb;}
.tbl_edit tbody td {padding:5px 7px; color:#121f3e; font-size:13px; text-align:left; line-height:16px; border-bottom:1px solid #f0f3f7;}
.tbl_edit tbody tr:first-child th,.tbl_edit tbody tr:first-child td {border-top:2px solid #616e7b;}
.tbl_edit tbody td .ipt_txt {display:block; width:100%; min-height:30px; padding:3px 5px; font-family:inherit; color:#35384d; font-size:13px; line-height:24px; border:1px solid #d0dbe6; border-radius:3px; background:#fff; box-sizing:border-box; transition:all 0.3s ease-out;} 
.tbl_edit tbody td .ipt_txt:focus {border:1px solid #3599ff; transition:all 0.3s ease-out;}
.tbl_edit tbody td .ipt_txt.empty {padding:3px 0; border:1px solid #fff;}
.tbl_edit tbody td .ipt_txt_srch {display:inline-block; overflow:hidden; position:relative; width:80%; height:32px; padding:3px 5px; font-family:inherit; color:#35384d; font-size:13px; line-height:24px; border:1px solid #d0dbe6; border-radius:3px; box-sizing:border-box; background:#f5f7f9; transition:all 0.3s ease-out; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; pointer-events:none;}
.tbl_edit tbody td .ipt_txt_srch:focus {border:1px solid #3599ff; transition:all 0.3s ease-out;}
.tbl_edit tbody td .btn_ipt_srch {display:inline-block; height:32px; padding:6px 10px 7px 10px; color:#454b50; font-size:13px; line-height:14px; vertical-align:top; border:1px solid #d0dbe6; border-radius:4px; box-sizing:border-box; background:#fff; transition:all 0.3s ease-out;}
.tbl_edit tbody td .btn_ipt_srch:hover {color:#3599ff; transition:all 0.3s ease-out;}

.tbl_edit tbody td .ipt_txt_check {display:inline-block; width:64%; height:32px; padding:3px 5px; font-family:inherit; color:#35384d; font-size:13px; line-height:24px; border:1px solid #d0dbe6; border-radius:3px; box-sizing:border-box; background:#fff; transition:all 0.3s ease-out;}
.tbl_edit tbody td .ipt_txt_check:focus {border:1px solid #3599ff; transition:all 0.3s ease-out;}

.tbl_edit tbody td .ipt_txt_unite {display:inline-block; width:auto; height:32px; padding:3px 5px; color:#454b50; font-size:13px; line-height:14px; vertical-align:top; border:1px solid #d0dbe6; border-radius:4px; box-sizing:border-box; background:#fff; transition:all 0.3s ease-out;}
.tbl_edit tbody td .ipt_txt_unite:hover {color:#3599ff; transition:all 0.3s ease-out;}
.tbl_edit tbody td .ipt_txt_unite + span { display:inline-block; line-height:32px;}
.tbl_edit tbody td .select_unite {display:inline-block; min-width:50px; min-height:32px; padding:3px 20px 3px 5px; font-family:inherit; color:#35384d; font-size:13px; border:1px solid #e0e3ea; border-radius:3px; background:#fff url("../images/arw_bottom_bk.png") right 7px top 50% no-repeat; -webkit-appearance:none; -moz-appearance:none; appearance:none; transition:all 0.3s ease-out;}
.tbl_edit tbody td .select_unite:focus {border:1px solid #3599ff; background-color:#fff; transition:all 0.3s ease-out;}
.tbl_edit tbody td .select_unite:disabled {background-color:rgba(11,42,74,0.1); opacity:0.6;}

.tbl_edit tbody td .textArea {display:block; width:100%; min-height:30px; padding:3px 5px; font-family:inherit; color:#35384d; font-size:13px; line-height:24px; border:1px solid #d0dbe6; border-radius:3px; background:#fff; box-sizing:border-box; transition:all 0.3s ease-out;} 
.tbl_edit tbody td .textArea:focus {border:1px solid #3599ff; transition:all 0.3s ease-out;}
.tbl_edit tbody td .ipt_route {display:block; width:100%; min-height:28px; padding:3px 5px; font-family:inherit; color:#35384d; font-size:12px; line-height:16px; border:none; border-radius:3px; background:#fff; box-sizing:border-box;}

.tbl_edit tbody td .ipt_field {display:block; width:100%; min-height:28px; padding:3px 5px; font-family:inherit; color:#35384d; font-size:13px; line-height:24px; border:none; border-radius:3px; background:#fff; box-sizing:border-box; transition:all 0.3s ease-out;}
.tbl_edit tbody td .select {display:block; width:100%; min-height:32px; color:#35384d; font-size:13px; border:1px solid #d0dbe6; border-radius:4px; background:#fff url("../images/arw_bottom_bk.png") right 7px top 50% no-repeat;}
.tbl_edit tbody td .select:focus {border:1px solid #3599ff; transition:all 0.3s ease-out;}
.tbl_edit tbody td .select:disabled {color:#999; background-color:#9faeba; opacity:0.6;}
.tbl_edit tbody td .ipt_msg {display:block; padding:5px 0 0 0; color:#4cd24e; font-size:11px; line-height:14px;}
.tbl_edit tbody td .ipt_msg.success {color:#4cd24e;}
.tbl_edit tbody td .ipt_msg.success:before {content:'\2714\fe0e'; display:inline-block; width:14px; height:14px; margin:0 3px 0 0; color:#fff; font-size:11px; border-radius:10px; text-align:center; line-height:14px; vertical-align:top; box-sizing:border-box; background:#60da2e;}
.tbl_edit tbody td .ipt_msg.fail {color:#ff637b;}
.tbl_edit tbody td .ipt_msg.fail:before {content:'x'; display:inline-block; width:14px; height:14px; margin:0 3px 0 0; color:#fff; font-size:11px; border-radius:10px; text-align:center; line-height:12px; vertical-align:top; box-sizing:border-box; background:#ff637b;}
.tbl_edit tbody td#modify_edgeID .ipt_field {font-size:12px !important;}
.tbl_edit tbody td dl {display:block; margin:0 0 12px 0;}
.tbl_edit tbody td dl:last-child {margin:0;}
.tbl_edit tbody td dl dt {display:block; width:45px; padding:0 0 2px 0; color:#525f78; font-size:11px; text-align:left;}
.tbl_edit tbody td dl dd {display:block;}
.tbl_edit tbody td dl dd .select {display:inline-block; width:25%; min-height:20px; font-size:12px;}

/* 메세지(interaction) */
.msg_check {display:block;}
.msg_check span {display:block; padding:5px 0 0 0; font-size:12px; line-height:16px;}
.msg_check span:before {display:inline-block; width:14px; height:14px; margin:0 3px 0 0; border-radius:20px; font-size:10px; text-align:center; line-height:14px; vertical-align:top;}
.msg_check .usable {color:#03c72d;}
.msg_check .usable:before {content:'\2714\fe0e';  border:1px solid #03c72d; color:#03c72d;}
.msg_check .unusable {color:#e20744;}
.msg_check .unusable:before {content:'x';  border:1px solid #e20744; color:#e20744; line-height:12px;}

/* 실시간 Edge Load */
.cellBox {display:table; width:calc(100% - 10px); height:calc(100% - 40px); margin:0 0 0 10px; border-radius:4px; box-sizing:border-box;}
.cellBox .cellCont {display:block; width:100%; height:calc(100% - 30px); border-radius:4px;}
.cellBox .cellTit {display:block; clear:both; overflow:hidden; min-height:26px; padding:0 0 3px;}
.cellBox .cellTit h4 {float:left; color:#525f78; font-size:15px; line-height:26px;}
.cellBox .cellTit button {float:right; padding:1px 10px; color:#fff; font-size:12px; line-height:24px; border:none; border-radius:3px; background:#9faeba;}

/* 실시간 Edge Load(Edge 목록) */
.cellBox .cellLst {display:table-cell; width:250px; padding:0 40px 0 0; vertical-align:top;}
.cellBox .cellLst .cellCont {overflow:auto; background:#f5f7f9;}
.cellBox .cellLst .cellCont ul.lst {height:100%; padding:10px; box-sizing:border-box;}
.cellBox .cellLst .cellCont ul.lst li {display:block; margin:0 0 7px 0; color:#82909e; text-align:center;}
.cellBox .cellLst .cellCont ul.lst li:last-child {margin:0;}
.cellBox .cellLst .cellCont ul.lst li a {display:block; position:relative; width:230px; padding:7px 10px 7px 50px; text-align:left; border-radius:4px; background:#fff; box-sizing:border-box; transition:all 0.3s ease-out;}
.cellBox .cellLst .cellCont ul.lst li a:before {content:''; position:absolute; top:50%; left:10px; width:30px; height:30px; border-radius:30px; background:rgba(25,42,57,0.2) url("../images/ico_chip_w.svg") 50% 50% no-repeat; background-size:18px; transform:translate(0,-50%);}
.cellBox .cellLst .cellCont ul.lst li a:hover {box-shadow:0 2px 5px rgba(25,42,57,0.1); transition:all 0.3s ease-out;}
.cellBox .cellLst .cellCont ul.lst li a span {display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.cellBox .cellLst .cellCont ul.lst li a span.company {color:#121f3e; font-size:15px; font-weight:500;}
.cellBox .cellLst .cellCont ul.lst li a span.place {color:#82909e; font-size:12px;}
.cellBox .cellLst .cellCont ul.lst li a.active {background:#3599ff; box-shadow:0 2px 5px rgba(25,42,57,0.2);}
.cellBox .cellLst .cellCont ul.lst li a.active:before { background-color:rgba(25,42,57,0.4);}
.cellBox .cellLst .cellCont ul.lst li a.active span {color:#fff;}
.cellBox .cellLst .cellCont ul.lst li a.active span.place {opacity:0.7;}

/* 실시간 Edge Load(Edge 조회) */
.cellBox .cellView {display:table-cell; width:calc(100% - 250px); vertical-align:top;}
.cellBox .cellView .cellCont {}
.cellBox .cellView .cellCont .dlBox {display:block; clear:both; width:100%; padding:10px 20px; border-radius:4px 4px 0 0; box-sizing:border-box; background:#525f78;}
.cellBox .cellView .cellCont .dlBox dl {display:inline-block; margin:0 30px 0 0;}
.cellBox .cellView .cellCont .dlBox dl:last-child {margin:0;}
.cellBox .cellView .cellCont .dlBox dl dt {display:inline-block; padding:0 3px; color:rgba(255,255,255,0.6); text-align:right;}
.cellBox .cellView .cellCont .dlBox dl dd {display:inline-block; padding:0 3px; color:#fff; text-align:left;}
.cellBox .cellView .cellCont .dlBox dl dd .select {min-height:30px; color:#121f3e; border-radius:4px;}
.cellBox .cellView .cellCont .dlBox button {display:inline-block; margin:0 0 0 5px; padding:1px 20px; color:#fff; font-size:12px; line-height:28px; vertical-align:top; border:none; border-radius:4px; background:#3599ff;}
.cellBox .cellView .cellCont .dlBox button.btn_rou_pstive {float:right; padding:1px 10px; color:#3599ff; font-size:12px; line-height:28px; border:none; border-radius:4px; background:#fff;}
.cellBox .cellView .cellCont .videoBox {display:block; position:relative; width:100%; min-height:450px; border:1px solid #d9dfe6; border-radius:0 0 4px 4px; background:#fff; text-align:center;}
.cellBox .cellView .cellCont .videoBox:before {content:''; position:absolute; top:50%; left:50%; width:100px; height:100px; background:url("../images/ico_securityLive_bk.svg") 50% 50% no-repeat; background-size:100% 100%; transform:translate(-50%,-50%); opacity:0.2;}
.cellBox .cellView .cellCont .videoBox .view {display:inline-block; position:relative; top:0; left:0; width:1000px; height:600px; z-index:5;}

.cellBox .cellView .cellCont .infoBox {display:block; clear:both; overflow:hidden; width:100%; padding:5px 0 0 0; box-sizing:border-box;}
.cellBox .cellView .cellCont .infoBox .infoCell {float:left;  box-sizing:border-box;}
.cellBox .cellView .cellCont .infoBox .infoCell:first-child:nth-last-child(1) {width:100%;}
.cellBox .cellView .cellCont .infoBox .infoCell:first-child:nth-last-child(2), .cellBox .cellView .cellCont .infoBox .infoCell:first-child:nth-last-child(2) ~ .infoCell {width:calc(50% - 30px); margin:0 30px 0 0;}
.cellBox .cellView .cellCont .infoBox .infoCell:first-child:nth-last-child(2) ~ .infoCell {margin:0 0 0 30px;}
.cellBox .cellView .cellCont .infoBox .infoCell:first-child:nth-last-child(3), .cellBox .cellView .cellCont .infoBox .infoCell:first-child:nth-last-child(3) ~ .infoCell {width:33.3333%;}
.cellBox .cellView .cellCont .infoBox .infoCell .tit {display:block; clear:both; overflow:hidden; padding:0 5px; text-align:center; line-height:34px;}
.cellBox .cellView .cellCont .infoBox .infoCell .tit h5 {display:inline-block; color:#525f78; font-size:14px; font-weight:700;}
.cellBox .cellView .cellCont .infoBox .infoCell .tit h5 span {opacity:0.4;}
.cellBox .cellView .cellCont .infoBox .infoCell .dlGroup {clear:both; overflow:hidden; border:1px solid #d9dfe6; border-radius:4px; background:#fff;}
.cellBox .cellView .cellCont .infoBox .infoCell .dlGroup dl {clear:both; overflow:hidden; width:100%; line-height:36px; border-bottom:1px solid #e5eaf1;}
.cellBox .cellView .cellCont .infoBox .infoCell .dlGroup dl:last-child {border:none;}
.cellBox .cellView .cellCont .infoBox .infoCell .dlGroup dl dt {float:left; width:15%; min-width:70px; padding:0 15px; color:#525f78; font-size:13px; letter-spacing:-0.5px; background:#f7f9fb;}
.cellBox .cellView .cellCont .infoBox .infoCell .dlGroup dl dd {float:left; padding:0 15px; color:#121f3e; font-size:15px; font-weight:400;}
.cellBox .cellView .cellCont .infoBox .infoCell .dlGroup dl dd span.ft_point {color:#3599ff; font-size:15px; font-weight:500;}

/* layerpopup */
#lyr_inquiry_estimate {width:318px; box-sizing:border-box; background:#fff;}

#lyr_inquiry_estimate .lyrBox {background:#fff;}
#lyr_inquiry_estimate .estimate_tit {padding:20px 40px; background:#f5f6fa;}
#lyr_inquiry_estimate .estimate_tit h3 {margin:0 0 16px; text-align:center;}
#lyr_inquiry_estimate .estimate_dvc {padding:15px; border:1px solid #468afa; border-radius:3px; background:#fff; text-align:center;}
#lyr_inquiry_estimate .estimate_dvc span {display:block; margin:0 0 10px; color:#192a39; font-size:14px; font-weight:500; letter-spacing:-0.2px;}
#lyr_inquiry_estimate .estimate_dvc img {height:60px;}
#lyr_inquiry_estimate .estimate_form {padding:20px 40px;}
#lyr_inquiry_estimate .estimate_form .contact_item + .contact_item {margin:10px 0 0;} 
#lyr_inquiry_estimate .estimate_form .contact_item span {display:inline-block; width:50px; color:#192a39; font-size:14px; line-height:30px; letter-spacing:-0.2px;}
#lyr_inquiry_estimate .estimate_form .ipt_txt {width:calc(100% - 65px); height:30px; padding:0 5px; border:1px solid #d2dae7; border-radius:2px; background:#f5f6fa; transition:all 0.3s ease-out;}
#lyr_inquiry_estimate .estimate_form .ipt_txt:focus {border:1px solid #468afa;}
#lyr_inquiry_estimate .estimate_btn {margin:0 0 30px; text-align:center;}
#lyr_inquiry_estimate .estimate_btn .btn_estimate {padding:7px 25px; border:1px solid #468afa; border-radius:3px; background:#468afa; color:#fff; font-size:13px; font-weight:500; letter-spacing:-0.2px;}
#lyr_inquiry_estimate .estimate_btn .btn_lyr_close {overflow:hidden; position:absolute; top:5px; right:10px; width:20px; margin:0; text-indent:-99px; border:none; background:none; transition:all 0.3s ease-out;}
#lyr_inquiry_estimate .estimate_btn .btn_lyr_close:before {content:'\f00d'; display:inline-block; position:absolute; top:5px; left:5px; width:20px; height:20px; font-family:'Font Awesome 5 Free'; color:#697992; font-size:13px; font-weight:900; text-indent:0;}
#lyr_inquiry_estimate.home {width:600px;}
#lyr_inquiry_estimate.home .estimate_dvc {border:1px solid #d2dae7;}
#lyr_inquiry_estimate.home .estimate_dvc .dvc_card_list {display:block; padding:0;}
#lyr_inquiry_estimate.home .estimate_dvc .dvc_card_list >li { display:inline-block;width:32%; border-right:1px solid #eaecf1; box-sizing:border-box;}
#lyr_inquiry_estimate.home .estimate_dvc .dvc_card_list >li:last-child {border:none;}
#lyr_inquiry_estimate.home .estimate_dvc .dvc_card_list .dvc_detail {position:relative; width:100%; height:70px; margin:10px 0;}
#lyr_inquiry_estimate.home .dvc_card_list > li:nth-child(1) .dvc_detail {background:url(../images/img_device01.png) 50% 50% no-repeat; background-size:70%;}
#lyr_inquiry_estimate.home .dvc_card_list > li:nth-child(2) .dvc_detail {background:url(../images/img_device02.png) 50% 50% no-repeat; background-size:70%;}
#lyr_inquiry_estimate.home .dvc_card_list > li:nth-child(3) .dvc_detail {background:url(../images/img_device03.png) 50% 50% no-repeat; background-size:70%;}
#lyr_inquiry_estimate.home .dvc_card_list > li .dvc_detail .specify_list {display:none; position:absolute; top:50%; left:50%; min-width:140px; padding:10px; border:1px solid #b0bed5; border-radius:3px; box-sizing:border-box; background:rgba(255, 255, 255, 0.8); text-align:left; z-index:5; transition:border 0.2s ease-out;}
#lyr_inquiry_estimate.home .dvc_card_list > li .dvc_detail .specify_list li {color:#82909e; font-size:12px; line-height:16px;}
#lyr_inquiry_estimate.home .dvc_card_list > li .dvc_detail .specify_list li span {color:#121f3e; font-size:12px;}
#lyr_inquiry_estimate.home .estimate_form { clear:both; overflow:hidden;}
#lyr_inquiry_estimate.home .estimate_form .contact_item { float:left; width:50%; margin:0 0 10px 0;}
#lyr_inquiry_estimate.home .estimate_form .contact_item span {padding:0 5px 0 0; text-align:right; box-sizing:border-box;}
#lyr_inquiry_estimate.home .estimate_form .contact_item + .contact_item {margin:0 0 10px 0;}
#lyr_inquiry_estimate.home .estimate_form .ipt_txt {border:1px solid rgba(11,42,74,0.2); background:#fff;}
#lyr_inquiry_estimate.home .estimate_form .ipt_txt:disabled {border:1px solid #e0e3ea; background:#f8f9fc;}
.lyrWrap .lyrBox .lyr_mid .massage {color:#121f3e; font-weight:500;}
.lyrWrap .lyrBox .lyr_mid .massage span {display:block;}

.lyrWrap .lyrBox .lyr_mid .srchBox {display:block; margin:0 0 10px 0; text-align:center;}
.lyrWrap .lyrBox .lyr_mid .srchBox .select {min-height:32px; border:1px solid #adb8c3; border-radius:4px; background-color:#fff;}
.lyrWrap .lyrBox .lyr_mid .srchBox .ipt_txt {height:30px; padding:0 7px; border:1px solid #adb8c3; border-radius:4px; box-shadow:none; color:#121f3e;}
.lyrWrap .lyrBox .lyr_mid .srchBox .btn_ipt_srch {width:35px; height:32px; padding:0; border:1px solid #adb8c3; border-radius:4px; background:#fff; color:#525f78; font-size:12px; line-height:30px;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst {width:100%; background:#fff;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst> thead> tr> th {position:relative; padding:7px 5px 7px 10px; color:#fff; text-align:left; line-height:18px; border-bottom:none; background:#525f78;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst> thead> tr:first-child> th:first-child {border-radius:4px 0 0 0;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst> thead> tr:first-child> th:last-child {border-radius:0 4px 0 0;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst> thead> tr> th:last-child {padding:10px;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst> thead> tr> th> a {display:inline-block; margin:0 0 0 3px; color:#fff; text-align:center; line-height:18px; opacity:0.4; box-sizing:border-box; transition:all 0.3s ease-out;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst> thead> tr> th> a:hover {color:#3599ff; opacity:1.0; transition:all 0.3s ease-out;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst> tbody> tr> td {position:relative; padding:7px 5px 7px 10px; color:#121f3e; font-size:13px; text-align:left; line-height:16px; letter-spacing:-0.5px; border-bottom:1px solid #f0f3f7; transition:all 0.3s ease-out;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst> tbody> tr:last-child td:first-child {border-radius:0 0 0 4px;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst> tbody> tr:last-child td:last-child {border-radius:0 0 4px 0;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst> tbody> tr> td:last-child {padding:10px;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst> tbody> tr:hover td {background:rgba(53,153,255,0.05); transition:all 0.3s ease-out;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst> tbody> tr:last-child td {border-bottom:none;}
.lyrWrap .lyrBox .lyr_mid .tbl_lst> tbody td.dataNone {color:#7c8ba7; text-align:center; line-height:24px; border-radius:0 0 4px 4px !important; pointer-events:none;}
.lyrWrap .lyrBox .lyr_mid .pageing {width:100%; padding:10px 0 0 0;}
.lyrWrap .lyrBox .lyr_mid .pageing a {width:20px; height:26px; color:#7c8ba7; line-height:26px; vertical-align:top; box-sizing:border-box;}
.lyrWrap .lyrBox .lyr_mid .pageing a.first,.lyrWrap .lyrBox .lyr_mid .pageing a.prev,.lyrWrap .lyrBox .lyr_mid .pageing a.next,.lyrWrap .lyrBox .lyr_mid .pageing a.end {width:26px; border:1px solid #adb8c3; background-color:#fff;}
.lyrWrap .lyrBox .lyr_mid .pageing strong {width:26px; height:26px; line-height:26px; vertical-align:top; border:none; box-sizing:border-box;}

/* footer */
#footer  {position:relative;}
.stn_inquiry .cont_box .inquiry_box input, .stn_inquiry .cont_box .inquiry_box textarea {height:30px;border:none; border-bottom:1px solid #b6c5d1;}
#footer .stn_inquiry .cont_box .info_box p a.co_link {color:#b6c5d1;}

/*firefox only hack*/
@-moz-document url-prefix() {.maumUI.transform.trans #container.view {height:calc(100% - 95px);}
}