/* page loading */
#pageldg {display: block; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; text-align: center; background-color: #fff; z-index: 99999999; opacity: 1.0;}
#pageldg:before {content: ''; position: absolute; top: 50%; left: 50%; margin: 0 0 0 -30px; border-radius: 100%; background: radial-gradient(#e9edf3, #fff); opacity: 0; width: 60px; height: 60px; -webkit-animation: pageldg_wave 1.7s 2.5s linear infinite; animation: pageldg_wave 1.7s 2.5s linear infinite; z-index: 444;}
#pageldg span.out_bg {position: absolute; top: 50%; width: 180px; height: 180px; margin: -90px 0 0 -90px; border-radius: 300px; background: #fff; animation: out_bg 1s 0s ease-in-out both; z-index: 555;}
#pageldg span em {overflow: hidden; position: absolute; top: 50%; left: 50%; width: 200px; height: 200px; margin: -100px 0 0 -100px; border-radius: 300px; background: #fff; animation: em_opacity 3s 0.1s ease-in-out both;}
#pageldg span em strong:nth-child(1) {content: ''; position: absolute; bottom: 38%; left: 12%; width: 0%; height: 30%; background: #00aebc; animation: st_move_01 1.5s 0.1s ease-in-out both;} 
#pageldg span em strong:nth-child(2) {content: ''; position: absolute; top: 52%; left: 28%; width: 60%; height: 18%; border-radius: 0; background: #fff; animation: st_move_02 1.5s 1.2s ease-in-out both;}
#pageldg span em strong:nth-child(3) {content: ''; position: absolute; bottom: 48%; right: 15%; width: 20px; height: 0%; background: #00aebc; animation: st_move_03 0.5s 2.0s ease-in-out both;}
#pageldg span em b {content: ''; position: absolute; top: 50%; left: 50%; width: 160px; height: 160px; margin: -80px 0 0 -80px; background: url("../images/ico_pageldg_trans.svg") 50% 50% no-repeat; background-size: cover; z-index: 999;}
.pageldg_hide {-webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-name: pageldg_hide; animation-name: pageldg_hide;}

/* page loading keyframes */
@-webkit-keyframes pageldg_wave {
  0% {-webkit-transform: scale(0); transform: scale(0); opacity: 0;}
  5% {opacity: 1;}
  100% {-webkit-transform: scale(1); transform: scale(50); opacity: 0;}
}
@keyframes pageldg_wave {
  0% {-webkit-transform: scale(0); transform: scale(0); opacity: 0;}
  5% {opacity: 1;}
  100% {-webkit-transform: scale(1); transform: scale(50); opacity: 0;}
}
@-webkit-keyframes out_bg {
  0% {opacity: 0; transform: scale(0);}
  80% {opacity: 0.3; transform: scale(1.2);}
  100% {opacity: 1; transform: scale(1);}
}
@keyframes out_bg {
  0% {opacity: 0; transform: scale(0);}
  80% {opacity: 0.2; transform: scale(1.2);}
  100% {opacity: 1; transform: scale(1);}
}
@-webkit-keyframes st_move_01 {
  0% {width: 0%;}
  100% {width: 50%;}
}
@keyframes st_move_01 {
  0% {width: 0%;}
  100% {width: 50%;}
}
@-webkit-keyframes st_move_02 {
  0% {background: #fff;}
  100% {background: #35384d;}
}
@keyframes st_move_02 {
  0% {background: #fff;}
  100% {background: #35384d;}
}
@-webkit-keyframes st_move_03 {
  0% {height: 0%;}
  100% {height: 6%;}
}
@keyframes st_move_03 {
  0% {height: 0%;}
  100% {height: 6%;}
}
@-webkit-keyframes pageldg_hide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes pageldg_hide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* 공통 */
.text_hide {overflow: hidden; text-indent: -9999px;}
.font_InkLipquid {font-family: 'InkLipquid'!important; font-weight: 400!important;}
.font_gmarketsans {font-family: 'GmarketSans', sans-serif;}
.font_misaeng {font-family: 'SDMisaeng', sans-serif;}

.btn_primary_line {display: inline-block; padding: 8px 15px; border: 2px solid #fff; border-radius: 40px; box-sizing: border-box; font-weight: 700; color: #fff;}
.btn_primary_line.large {padding: 17px 32px 15px 32px; font-size: 24px;}
.btn_primary_line.large .text {margin-bottom: 4px; line-height: 0;}
.btn_primary_line span {display: inline-block; vertical-align: middle;}
.btn_primary_line.large .icon_right {margin-left: 16px; width: 36px; height: 36px;}
.btn_primary_line:hover {background: #fff; color: #5d1fff;}
.btn_primary_line:hover .icon_right .fill_target {fill: #5d1fff;}
.btn_primary_bg {display: inline-block; padding: 8px 15px; border-radius: 40px; border: 1px solid #fff; background: #5d1fff; box-sizing: border-box; font-weight: 700; color: #fff;}
.btn_primary_bg.large {padding: 16px 32px; font-size: 24px;}
.btn_switch {display: inline-block; position: relative; padding: 2px; border: 2px solid #5d1fff; border-radius: 40px; font-weight: 700; color: #5d1fff;}
.btn_switch .switch_bg {display: block; position: absolute; top: 2px; left: 2px; width: 62px; height: calc(100% - 4px); border-radius: 20px; line-height: 32px; background: #5d1fff; transition: left .5s;}
.btn_switch.move .switch_bg {left: calc(50% - 3px);}
.btn_switch button {position: relative; padding: 0 14px; line-height: 32px; font-weight: 700; color: #fff; transition: color .5s;}
.btn_switch button:nth-of-type(1) {padding: 0 10px 0 14px; border-radius: 20px 0 0 20px; color: #fff;}
.btn_switch button:nth-of-type(2) {padding: 0 14px 0 10px; border-radius: 0 20px 20px 0; color: #5d1fff;}
.btn_switch button img {display: none;}
.btn_switch.move button:nth-of-type(1) {color: #5d1fff;}
.btn_switch.move button:nth-of-type(2) {color: #fff;}

/* about box */
.fl {float: left;}
.fr {float: right;}
.full_bg {background: #5d1fff;}
.canvas_container {width: 100% !important; height: auto !important;}
.canvas_container canvas {position: static !important; width: 100% !important; height: auto !important;}

/* section */
.stn {min-width: 1280px; padding: 0 30px; text-align: center;}
.content {display: inline-block; width: 1280px;}
.content .content_tit span {display: block;}
.content .content_tit span:first-child {font-size: 48px; font-weight: 700; letter-spacing: -2px; color: 
#1a1a1a;}
.content .content_tit span:last-child {margin-top: 24px; font-size: 18px; color: #616c78;}
.content .sub_content_tit span {display: block; text-align: left;}
.content .sub_content_tit span:first-child {font-size: 24px; font-weight: 700; color: #000; letter-spacing: -1px;}
.content .sub_content_tit span:last-child {margin-top: 12px; font-size: 18px; color: #616c78; letter-spacing: -0.6px;}

.lyr_bg_dim {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 999;} 
.lyrPlayBox {display: none; position: fixed; top: 50%; left: 50%; width: 1000px; min-height: 150px; border-radius: 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); transform: translate(-50%, -50%); z-index: 9999;}
#lyr_video_player {display: block;}
#lyr_video_player .lyr_ct {width: 1000px;}
#lyr_video_player .lyr_ct video {width: 100%;}
#lyr_video_player .btn_lyr_close {display: inline-block; position: absolute; top: -40px; right: 0px; width: 40px; height: 40px;}
#lyr_video_player .btn_lyr_close .html_code {display: block; height: 100%; line-height: 28px; font-size: 56px; color: #fff;}

/* wrap */
#wrap {overflow: hidden; position: relative; width: 100%; min-width: 1280px;}

/* header */
#header {overflow: hidden; position: fixed; top: 0; left: 0; right: 0; width: 100%; min-width: 1280px; height: 80px; border-bottom: 1px solid #5d1fff; padding: 0 30px; background: #fff; z-index: 10; box-sizing: border-box;}
#header .header_wrap {height: 100%; padding: 16px 38px; box-sizing: border-box;}
#header h1 {display: inline-block; width: 172px; height: 48px; background: url(../images/logo_ava.svg) no-repeat 0 0;}
#gnb_wrap {float: right;}
#gnb {display: block; margin: 4px 0 0 0;}
#gnb li {display: inline-block; margin-top: 6px; vertical-align: middle;}
#gnb li+li {margin-left: 48px;}
#gnb li a {display: block; padding: 8px 13px; font-weight: 700; color: #5d1fff; letter-spacing: normal; box-sizing: border-box;}
#gnb li a img {display: none;}
#gnb li .start {color: #fff;}
#header .btn_ham {display: none; position: absolute; top: 10px; right: 8px; width: 40px; height: 40px; transition: all 0.3s ease-out; cursor: pointer; z-index: 250;}
#header .btn_ham span {display: block; position: absolute; left: 12px; width: 16px; height: 3px; border-radius: 3px; background: #5d1fff; z-index: 5;}
#header .btn_ham span:nth-child(1) {top: 12px; -webkit-animation: menu_bar1 0.8s forwards; animation: menu_bar1 0.8s forwards;}
#header .btn_ham span:nth-child(2) {top: 19px;}
#header .btn_ham span:nth-child(3) {bottom: 11px; -webkit-animation: menu_bar2 0.8s forwards; animation: menu_bar2 0.8s forwards;}
#header .btn_ham.active {position: fixed;}
#header .btn_ham.active span {background: #5d1fff;} 
#header .btn_ham.active span:nth-child(1) {top: 13px; -webkit-animation: active_menu_bar1 0.8s forwards; animation: active_menu_bar1 0.8s forwards;} 
#header .btn_ham.active span:nth-child(2) {opacity: 0;}
#header .btn_ham.active span:nth-child(3) {bottom: -6px; -webkit-animation: active_menu_bar2 0.8s forwards; animation: active_menu_bar2 0.8s forwards;}
@keyframes menu_bar1 {
  0% {transform: translateY(7px) rotate(45deg);}
  50% {transform: translateY(7px) rotate(0);}
  100% {transform: translateY(0) rotate(0);}
}
@keyframes menu_bar2 {
  0% {transform: translateY(-7px) rotate(-45deg);}
  50% {transform: translateY(-7px) rotate(0);}
  100% {transform: translateY(0) rotate(0);}
}
@keyframes active_menu_bar1 {
  0% {transform: translateY(0) rotate(0);}
  50% {transform: translateY(5px) rotate(0);}
  100% {transform: translateY(5px) rotate(45deg);}
}
@keyframes active_menu_bar2 {
  0% {transform: translateY(0) rotate(0);}
  50% {transform: translateY(-25px) rotate(0);}
  100% {transform: translateY(-25px) rotate(-45deg);}
}
#header.visual_bg {border: none; background: #5d1fff;} 
#header.visual_bg #gnb li a {color: #ded2ff;}
#header.visual_bg #gnb li .start {background: #fff; color: #5d1fff;}
#header.visual_bg h1 {background-image: url(../images/logo_ava_white.svg);}
#header.visual_bg .btn_ham span {background: #fff;}
#header.visual_bg .btn_switch {border-color: #fff; color: #fff;}
#header.visual_bg .btn_switch .switch_bg {background: #fff;}
#header.visual_bg .btn_switch button {color: #5d1fff;}
#header.visual_bg .btn_switch button:nth-of-type(1) {color: #5d1fff;}
#header.visual_bg .btn_switch button:nth-of-type(2) {color: #fff;}
#header.visual_bg .btn_switch.move button:nth-of-type(1) {color: #fff;}
#header.visual_bg .btn_switch.move button:nth-of-type(2) {color: #5d1fff;}
#header.visual_bg.menu_on .btn_ham span {background: #5d1fff;}

/* container */
#container {padding: 80px 0 0 0;}

/* footer */
#footer {width: 100%; padding: 0 30px; border-top: 1px solid #e4e8eb; box-sizing: border-box; text-align: center;}
#footer .content {padding: 48px 0; text-align: left;}
#footer .footer_logo,
#footer .footer_cont {display: inline-block; vertical-align: top;}
#footer .footer_logo {width: 174px;}
#footer .footer_logo img {width: 100%;}
#footer .footer_cont {margin: 0 0 0 78px;}
#footer .footer_nav li {display: inline-block;}
#footer .footer_nav .nav_list {display: block; height: 100%; padding: 10px; line-height: 14px; font-size: 14px; font-weight: 700; color: #a8b0bc; letter-spacing: normal;}
#footer .footer_nav li+li {margin-left: 25px;}
#footer .footer_cont .info_txt {display: block; margin: 36px 0 0 0; line-height: 14px; font-size: 14px; color: #a8b0bc;}
#footer .footer_cont .copyright {line-height: 14px; font-size: 12px; font-weight: 700; color: #a8b0bc; letter-spacing: normal;}
#footer .footer_cont .copyright span {font-weight: 500;}

/* visual */
.visual .content {margin: 60px 0 134px 0;}
.visual .visual_text {width: 400px; margin: 120px 0 0 0; text-align: left;}
.visual .visual_text .text_static {display: block; font-size: 40px; font-weight: 700; letter-spacing: -2px; color: #fff;}
.visual .visual_text .text_static span {font-size: 72px; letter-spacing: -3.2px;}
.visual .visual_text .text_large {display: block; line-height: 1; font-size: 140px; color: #fff;}
.visual .visual_image {overflow: hidden; width: 768px; height: 720px; background: #fff; box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.3);}
.visual .visual_btn {margin-top: 56px;}
.visual .visual_image {border-radius: 24px; border: 1px solid #e3e8eb;}

/* intro */
.intro .content {margin-top: 124px;}
.intro .content:first-child {margin-top: 85px;}
.intro .content .cont_image {overflow: hidden; width: 722px; height: 624px; position: relative;}
.intro .content .cont_image img {width: 100%;}
.intro .content .cont_image video {width: 100%;}
.intro .content .cont_text {position: relative; width: 558px; height: 624px; text-align: left;}
.intro .content .cont_text .text_box {position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%, -50%); box-sizing: border-box;}
.intro .content .cont_text .tit {line-height: 68px; font-size: 48px; font-weight: 700; color: #1a1a1a; letter-spacing: -2px;}
.intro .content .cont_text .desc {margin: 24px 0 0 0; line-height: 32px; font-size: 18px; color: #616c78; letter-spacing: -1px;}
.intro .content .font_InkLipquid {font-size: 80px;}
.intro .content .cont_text.fl .text_box {padding: 0 0 0 24px;}
.intro .content .cont_text.fr .text_box {padding: 0 0 0 70px;}
.intro .cont01_animation {position: relative;}
.intro .cont01_animation .cont_image {position: relative;}
.intro .cont01_animation .cont_image img {width: 100%;}
.intro .cont01_animation .cont_image .left {width: 548px;}
.intro .cont01_animation .cont_image .right {position: absolute; right: -174px; bottom: -56px; width: 446px; opacity: 0;}
.intro .cont01_animation .cont_image .right.active {animation-name: cont01Animation; animation-duration: 1.5s; animation-timing-function: 1; animation-fill-mode: forwards;}

@keyframes cont01Animation {
  0% {transform: translate(0, 0); opacity: 0;}
  100% {transform: translate(-150px, -30px); opacity: 1;}
}

.intro .content .info {position: absolute; left: 0px; bottom: 0; font-size: 12px; color: #414853; letter-spacing: -1px;}

/* movie_youtube */
.movie_youtube {background: #f4f6f8; margin-top: 124px;}
.movie_youtube .content {padding: 68px 0; text-align: left;}
.movie_youtube .movie_tit {font-size: 24px; font-weight: 700; color: #000; letter-spacing: -1px;} 
.movie_youtube .movie {width: 1280px; height: 720px; margin: 38px 0 0 0;}

/* tutorial */
.tutorial .content {padding: 124px 0;}
.tutorial .tutorial_tit {padding: 30px 0; border-radius: 0 100px 100px 100px; background: #552cf5;}
.tutorial .tutorial_tit .tit {line-height: 68px; font-size: 40px; font-weight: 700; letter-spacing: -1.8px; color: #fff;}
.tutorial .tutorial_tit .tit .font_InkLipquid {font-size: 80px;}
.tutorial .tutorial_tit .tit_mobile {display: none; line-height: 1.3; font-size: 24px;}
.tutorial .btn_tutorial {display: inline-block; padding: 15px 32px; font-size: 24px; color: #fff;}
.tutorial .btn_tutorial .icon_right {margin-left: 16px;}
.tutorial .tutorial_cont {margin: 124px 0 0 0;}
.tutorial .tutorial_cont .image_box {width: 768px; height: 1004px; margin: 25px 0 0; position: relative; overflow: hidden;}
.tutorial .tutorial_cont .image_box .image {overflow: hidden; display: none; width: 100%; height: 100%; border-radius: 24px; opacity: 0; transition: opacity .1s;}
.tutorial .tutorial_cont .image_box .image.active {display: block; animation-name: tutorial_img; animation-duration: .5s; animation-iteration-count: 1; animation-fill-mode: both;} 
.tutorial .tutorial_cont .image_box video {width: 100%;}

@keyframes tutorial_img {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* folder_box */
.tutorial .tutorial_cont .folder_box+.folder_box {margin-top: 16px;}

/* connect_pipe */
.tutorial .tutorial_cont .folder_box .connect_pipe {display: inline-block; position: relative; width: 40px; height: 40px; border-radius: 20px; border: 8px solid #e4e8eb; background: #fff; box-sizing: border-box; vertical-align: middle;}
.tutorial .tutorial_cont .folder_box .connect_pipe:after {content: ''; display: block; position: absolute; top: 50%; left: 32px; width: 50px; border-top: 1px dotted #e4e8eb;}
.tutorial .tutorial_cont .folder_box .connect_pipe:before {content: ''; display: block; position: absolute; top: 100%; left: 8px; width: 8px; height: 235px; background: #e3e8eb;}
.tutorial .tutorial_cont .folder_box:last-child .connect_pipe:before {display: none;}

/* folder */
.tutorial .tutorial_cont .folder {display: inline-block; position: relative; width: 353px; height: 250px; margin-left: 20px; vertical-align: middle; cursor: pointer;}
.tutorial .tutorial_cont .folder_back {position: relative; top: 25px; left: 24px; width: 284px; height: 60px; border-radius: 20px 20px 0 0; background: #C9D0D8;}
.tutorial .tutorial_cont .folder_front {position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: url(../images/img_folder.svg) no-repeat 0 100%;}
.tutorial .tutorial_cont .folder_cont {position: relative; width: 236px; padding-left: 50px; text-align: left;}
.tutorial .tutorial_cont .folder_cont .icon {overflow: hidden; display: inline-block; width: 44px; height: 44px; padding: 6px; border-radius: 8px; background: #a8b0bc; box-sizing: border-box; vertical-align: bottom;}
.tutorial .tutorial_cont .folder .folder_tit {display: inline-block; margin-left: 16px; vertical-align: bottom; font-size: 20px; font-weight: 700; color: #414853;} 
.tutorial .tutorial_cont .folder .folder_desc {margin: 12px 0 0 0; color: #414853;}

/* folder_box.open */
.tutorial .tutorial_cont .folder_box.open .connect_pipe {border: none; box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.24);}
.tutorial .tutorial_cont .folder_box.open .connect_pipe:before {left: 16px;}
.tutorial .tutorial_cont .folder_box.open .connect_pipe:after {left: 40px;}
.tutorial .tutorial_cont .folder_box.open .folder_front {background-image: url(../images/img_folder_open.svg);}
.tutorial .tutorial_cont .folder_box.open .folder_back {top: 15px; left: 34px; width: 284px;}
.tutorial .tutorial_cont .folder_box:nth-child(1).open .connect_pipe,
.tutorial .tutorial_cont .folder_box:nth-child(1).open .folder_back,
.tutorial .tutorial_cont .folder_box:nth-child(1).open .icon {background: #5d20ff;}
.tutorial .tutorial_cont .folder_box:nth-child(2).open .connect_pipe,
.tutorial .tutorial_cont .folder_box:nth-child(2).open .folder_back,
.tutorial .tutorial_cont .folder_box:nth-child(2).open .icon {background: #0964ff;}
.tutorial .tutorial_cont .folder_box:nth-child(3).open .connect_pipe,
.tutorial .tutorial_cont .folder_box:nth-child(3).open .folder_back,
.tutorial .tutorial_cont .folder_box:nth-child(3).open .icon {background: #1baffd;}
.tutorial .tutorial_cont .folder_box:nth-child(4).open .connect_pipe,
.tutorial .tutorial_cont .folder_box:nth-child(4).open .folder_back,
.tutorial .tutorial_cont .folder_box:nth-child(4).open .icon {background: #1db6cc;}
.tutorial .tutorial_cont .folder_box:nth-child(1).open .connect_pipe:after {border-color: #5d20ff;}
.tutorial .tutorial_cont .folder_box:nth-child(2).open .connect_pipe:after {border-color: #0964ff;}
.tutorial .tutorial_cont .folder_box:nth-child(3).open .connect_pipe:after {border-color: #1baffd;}
.tutorial .tutorial_cont .folder_box:nth-child(4).open .connect_pipe:after {border-color: #1db6cc;}
.tutorial .tutorial_cont .folder_box.open .folder_tit {color: #000;}
.tutorial .tutorial_cont .folder_box.open .folder_desc {color: #000;}
.tutorial .tutorial_cont .mobile_folder_wrap {display: none; padding: 0 0 30px 0;}
.tutorial .tutorial_cont .mobile_folder_wrap .folder_cont {display: inline-block; padding: 16px 0;}
.tutorial .tutorial_cont .mobile_folder_wrap .folder_cont .icon {width: 36px; height: 36px; padding: 6px;}
.tutorial .tutorial_cont .mobile_folder_wrap .folder_cont .icon img {width: 24px; height: 24px;}
.tutorial .tutorial_cont .mobile_folder_wrap .folder_tit {margin-left: 16px; font-weight: 700; color: #000;}
.tutorial .tutorial_cont .mobile_folder_wrap .folder_desc {margin-top: 12px; font-size: 12px; color: #000;}
.mobile_folder_wrap .swiper-pagination {bottom: 0;}
.mobile_folder_wrap.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin: 0;}
.mobile_folder_wrap .swiper-pagination-bullet {float: left; width: 25%; height: 4px; border-radius: 0; background: #f4f6f8; opacity: 1;}
.mobile_folder_wrap .swiper-pagination .swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active {background: #5d1fff; border-radius: 4px;}
.mobile_folder_wrap .swiper-pagination .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active {background: #0964ff; border-radius: 4px;}
.mobile_folder_wrap .swiper-pagination .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active {background: #1baffd; border-radius: 4px;}
.mobile_folder_wrap .swiper-pagination .swiper-pagination-bullet:nth-child(4).swiper-pagination-bullet-active {background: #1db6cc; border-radius: 4px;}

/* try_ava */
.try_ava .content {margin: 60px 0 90px 0;}
.try_ava .try_tit {display: block; font-size: 44px; font-weight: 700; letter-spacing: -2px; color: #fff;} 
.try_ava .try_tit.tit_mobile {display: none; line-height: inherit; font-size: 32px; letter-spacing: -1.4px;}
.try_ava .try_desc {display: block; margin: 16px 0 0 0; line-height: 36px; font-size: 20px; letter-spacing: -2px; color: #fff;}
.try_ava .btn_primary_line {margin: 36px 0 0 0;}

/* any_questions */
.any_questions .content {padding: 128px 0 160px 0;}
.any_questions .questions_tit {font-size: 40px; font-weight: 700; color: #414853; letter-spacing: -1.8px;}
.any_questions .questions_btns {margin: 60px 0 0 0;}
.any_questions .questions_btns .btn_banner {overflow: hidden; position: relative; width: 616px; height: 200px; padding: 0 48px 0 68px; background: #f4f6f8; text-align: left; box-sizing: border-box;}
.any_questions .questions_btns .btn_banner a {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.any_questions .questions_btns .btn_banner p {display: inline-block; margin: 50px 0 0 0; font-size: 18px; color: #616c78;}
.any_questions .questions_btns .btn_banner p span {display: block; margin: 13px 0 0 0; font-size: 40px; font-weight: 700; color: #414853; letter-spacing: -1.8px;}
.any_questions .questions_btns .btn_banner .image_box {display: inline-block; position: relative; top: -36px; width: 272px; height: 272px; border-radius: 50%; background: #fff;} 
.any_questions .questions_btns .btn_banner .image_box img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

@media screen and (max-width:768px) {
  .btn_primary_line.large {padding: 7px 16px 5px 30px; font-size: 16px;}
  .btn_primary_line.large .icon_right {width: 32px; height: 32px; margin-left: 8px;}
  .btn_primary_line.large .icon_right svg {width: 100%; height: 100%;}
  #wrap {min-width: auto;}
  #header {min-width: 320px; height: 60px; padding: 0;}
  #header .header_wrap {min-width: auto; width: 100%; padding: 14px 24px;}
  #header h1 {width: 87px; height: 24px; margin-top: 4px; background-size: contain;}
  #header .btn_ham {display: block;}
  #gnb_wrap {display: none; position: fixed; top: 0; right: 0; width: 240px; height: 100%; padding-top: 112px; background: #fff url(../images/logo_ava.svg) no-repeat 50% 40px;}
  #gnb {overflow: auto; position: relative; margin: 0; padding-top: 80px; height: calc(100% - 112px); background: #f4f6f8;}
  #gnb li {display: block; background: #fff;}
  #gnb li a {height: 68px; padding: 10px 24px; font-size: 16px;}
  #gnb li:nth-child(1) a {color: #0964ff !important;}
  #gnb li:nth-child(2) a {color: #1baffd !important;}
  #gnb li:nth-child(3) a {color: #1db6cc !important;}
  #gnb li:nth-child(4) a {color: #5d1fff !important; background: #fff;}
  #gnb li.ava_start {position: absolute; top: 0; left: 0; width: 100%; margin-top: 12px;}
  #gnb li.ava_start a {border-radius: 0;}
  #gnb li a img {display: inline-block; margin-right: 24px; vertical-align: middle;}
  #gnb li+li {margin-left: 0;}
  #gnb .btn_switch {display: block; position: absolute; left: 0; bottom: 20%; width: 100%; padding: 0; border: none; border-radius: 0; text-align: center;}
  #gnb .btn_switch .switch_bg {display: none;}
  #gnb .btn_switch button {border: 1px solid #e4e8eb; border-radius: 8px; background: #fff; font-size: 14px;}
  #gnb .btn_switch button:nth-of-type(1),
  #gnb .btn_switch button:nth-of-type(2) {padding: 10px 24px;}
  #gnb .btn_switch button + button {margin-left: 24px;}
  #gnb .btn_switch button img {display: block;}
  #gnb .btn_switch button span {margin-top: 8px; color: #414853;}
  #gnb .btn_switch button.active {border-color: #552cf5;}
  #gnb .btn_switch.move button:nth-of-type(1),
  #gnb .btn_switch.move button:nth-of-type(2),
  #header.visual_bg .btn_switch.move button:nth-of-type(1),
  #header.visual_bg .btn_switch.move button:nth-of-type(2) {color: #414853;}
  #header.menu_on #gnb_wrap {display: block;}
  #header.menu_on .header_wrap:before {content: ''; display: block; position: fixed; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.45);}

  #container {padding-top: 60px;}
  .stn {overflow: hidden; min-width: auto; padding: 0 24px;}
  .content {width: 100%;}
  .content .tit_mobile {display: block !important;} 
  .content .content_tit {text-align: left;}
  .content .content_tit span:first-child {font-size: 24px; letter-spacing: -1px;}
  .content .content_tit span:last-child {margin-top: 12px; font-size: 14px; letter-spacing: -0.6px;}
  .content .sub_content_tit span:first-child {font-size: 16px; letter-spacing: -0.8px;}
  .content .sub_content_tit span:last-child {font-size: 14px; letter-spacing: -0.6px;}
  .visual .visual_text {float: none; display: inline-block; width: 100%; margin: 0; text-align: center;}
  .visual .visual_image {float: none; display: inline-block; width: 100%; max-width: 500px; height: 292px; margin-top: 24px;}
  .visual .content {margin: 48px 0 83px 0;} 
  .visual .visual_text .text_static {line-height: 57px; font-size: 24px; letter-spacing: -1px;}
  .visual .visual_text .text_static .font_InkLipquid {font-size: 48px; letter-spacing: -2px;}
  .visual .visual_text .text_large {line-height: 82px; font-size: 72px;}
  .visual .visual_btn {float: none; margin-top: 68px;}
  .intro .content:first-child {margin-top: 36px;}
  .intro .content {margin: 36px 0 0 0; text-align: center;}
  .intro .content+.content {margin: 36px 0 0 0;} 
  .intro .content:last-child {margin-bottom: 48px;}
  .intro .content .cont_text {float: none; display: inline-block; width: 100%; max-width: 500px; height: auto;}
  .intro .content .cont_text .text_box {position: relative; top: auto; left: auto; transform: unset;}
  .intro .content .cont_text.fl .text_box,
  .intro .content .cont_text.fr .text_box {padding: 0;}
  .intro .content .cont_text .tit {line-height: 36px; font-size: 28px;}
  .intro .content .cont_text .desc {margin-top: 16px; line-height: inherit; font-size: 14px;}
  .intro .content .cont_image {float: none; display: inline-block; width: 100%; max-width: 500px; height: auto; margin: 16px 0 30px 0;}
  .intro .content .font_InkLipquid {font-size: 40px;}
  .intro .cont01_animation .cont_image .left {width: 100%;}
  .intro .cont01_animation .cont_image .right {width: 200px; right: 0px; bottom: 0px; opacity: 1;}
  .intro .cont01_animation .cont_image .right.active {animation: none;}
  .intro .content .info {display: inline-block; position: static; left: auto; bottom: auto; width: 100%; max-width: 500px; text-align: left;}
  .movie_youtube {margin-top: 0;}
  .movie_youtube .content {padding: 24px 0; text-align: center;}
  .movie_youtube .movie_tit {display: inline-block; width: 212px; line-height: inherit; font-size: 16px;}
  .movie_youtube .movie {position: relative; width: 100%; height: 0; margin-top: 24px; padding-bottom: 56.25%;}
  .movie_youtube .movie iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
  .tutorial .content {padding: 48px 0;}
  .tutorial .tutorial_tit {padding: 13px 0 17px 0;}
  .tutorial .tutorial_tit .tit {display: none;}
  .tutorial .tutorial_tit .tit .font_InkLipquid {font-size: 48px;}
  .tutorial .btn_tutorial {padding: 0 32px; line-height: 30px; font-size: 16px;}
  .tutorial .btn_tutorial .icon_right {width: 32px; height: 32px; margin-left: 6px;}
  .tutorial .tutorial_cont {margin-top: 48px;} 
  .tutorial .tutorial_cont .image_box {float: none; display: inline-block; max-width: 500px; width: 100%; height: 408px; margin: 0; display: none;} 
  .tutorial .tutorial_cont .image.swiper-slide {display: inline-block; max-width: 500px; height: 408px; overflow: hidden;}
  .tutorial .tutorial_cont .image.swiper-slide video {width: 100%;} 
  .tutorial .tutorial_cont .text_box {float: none;} 
  .tutorial .tutorial_cont .folder_wrap {display: none;}
  .tutorial .tutorial_cont .mobile_folder_wrap {display: block;}
  #lyr_video_player.lyrPlayBox {width: calc(100% - 40px);}
  #lyr_video_player .lyr_ct {width: 100%;}
  .try_ava .content {margin: 40px 0;}
  .try_ava .try_tit {display: none;}
  .try_ava .try_desc {line-height: 24px; font-size: 16px; font-weight: 400; letter-spacing: -0.7px;}
  .any_questions .content {padding: 48px 0;}
  .any_questions .questions_tit {line-height: inherit; font-size: 24px; letter-spacing: -1px;}
  .any_questions .questions_btns {margin: 24px 0 0 0;}
  .any_questions .questions_btns .btn_banner {float: none; display: inline-block; max-width: 500px; width: 100%; height: auto; padding: 14px 24px;}
  .any_questions .questions_btns .btn_banner+.btn_banner {margin-top: 16px;}
  .any_questions .questions_btns .btn_banner p {margin: 5px 0 0 0; line-height: inherit; font-size: 14px;}
  .any_questions .questions_btns .btn_banner p span {margin: 6px 0 0 0; line-height: inherit; font-size: 24px;}
  .any_questions .questions_btns .btn_banner .image_box {top: auto; width: 72px; height: 72px;}
  .any_questions .questions_btns .btn_banner .image_box video {width: 40px; height: 40px;}
  #footer {padding: 0 24px;}
  #footer .content {padding: 16px 0 66px 0;}
  #footer .footer_logo {width: 96px;} 
  #footer .footer_cont {display: block; margin: 12px 0 0 0;}
  #footer .footer_cont li:nth-child(3) {display: block; margin: 0;}
  #footer .footer_nav .nav_list {padding: 10px 0; font-size: 12px;}
  #footer .footer_nav li:last-child {position: absolute; left: 50%; bottom: 24px; transform: translate(-50%, 0); margin: 0;}
  #footer .footer_cont .info_txt {margin: 16px 0 0 0; font-size: 10px;}
  #footer .footer_cont .copyright {margin-top: 24px; text-align: center;}
}

/* 이벤트 페이지 */
#wrap.event {min-width: 1340px;}
.event #container {padding: 0;}
.event .stn {min-width: 100%;}
.event .content {width: 1280px;}
.event audio {display: none;}
.event .event_tit {text-align: left;}
.event .event_tit .tit,
.event .event_tit .audio {display: inline-block; vertical-align: bottom;}
.event .event_tit .tit span,
.event .event_tit .tit em {line-height: 1; font-family: 'GmarketSans', sans-serif; color: 414853;}
.event .event_tit .tit span:first-child {font-size: 24px; letter-spacing: -1px;}
.event .event_tit .tit span:last-child {display: block; margin-top: 15px; font-size: 40px; font-weight: 700; letter-spacing: -2px;}
.event .event_tit .audio {margin-left: 24px;}
.event .event_tit .audio .btn_audio {display: inline-block; width: 48px; height: 48px; border-radius: 24px; background: #1db6cc; vertical-align: middle;}
.event .event_tit .audio span {display: inline-block; margin-left: 12px; vertical-align: middle; font-size: 14px; color: #616c78;}
.event .event_tit .audio em {font-weight: 700; color: #616c78;}

.event .event_start.mobile {display: none; background-size: auto 120%;}
.event .event_start {height: 100vh; min-height: 950px; padding: 0; background: url(../images/event/start/bg_start.svg) no-repeat 50% 100%; background-size: cover;}
.event .event_start .content {position: relative; width: 100%; max-width: 1420px; height: 100%;}
.event .event_start .img_center {display: inline-block; width: 80%; height: 76%; background: url(../images/event/start/img_baam.svg) no-repeat 50% -10%; background-size: contain;}
.event .event_start .mina {position: absolute; top: 380px; left: 5%; width: 30%;}
.event .event_start .mina img {width: 100%;}
.event .event_start .mina .btn_audio {position: absolute; top: 35%; left: 20%;}
.event .event_start .sponge {position: absolute; top: 0; right: 0; width: 30%;}
.event .event_start .sponge img {width: 100%;}
.event .event_start .sponge .btn_audio {position: absolute; top: 40%; right: 10%;}
.event .event_start .try_text {position: absolute; left: 50%; bottom: 68px; transform: translate(-50%, 0);}
.event .event_start .try_text p {font-weight: 700; color: #fff;}
.event .event_start .try_text p span {font-weight: 300;}
.event .event_start .try_text p:nth-child(1) {font-size: 24px;}
.event .event_start .try_text p:nth-child(2) {margin-top: 10px; font-size: 36px;}
.event .event_start .try_text .btns {margin-top: 46px;}
.event .event_start .try_text a {display: inline-block; width: 152px; height: 60px; line-height: 56px; font-size: 24px; font-weight: 700;}
.event .event_start .try_text a + a {margin-left: 124px;}
.event .event_start .try_text a:nth-child(1) {color: #a8b0bc;}
.event .event_start .try_text a:nth-child(2) {background: url(../images/event/start/img_button.svg) no-repeat 0 0; background-size: contain; color: #5d1fff;}
.event #swiper_event_start {height: 100%;}
.event #swiper_event_start .swiper-pagination-bullet {width: 24px; height: 24px; margin: 0 8px; border-radius: 12px; background: #ae8fff;}
.event #swiper_event_start .swiper-pagination-bullet.swiper-pagination-bullet-active {width: 48px; background: #1db6cc;}

.event .event_visual {padding: 0;}
.event .event_visual .content {position: relative; width: 100%; max-width: 1914px;}
.event .event_visual .icons {display: inline-block;}
.event .event_visual .icons .icon_box {overflow: hidden; padding-right: 24px;}
.event .event_visual .icons .icon {float: left; position: relative; width: 210px; height: 210px; margin: 24px 0 0 24px; padding: 16px; border-radius: 16px; background: #f4f6f8; box-sizing: border-box;}
.event .event_visual .icons .icon > p {position: absolute; top: 16px; right: 16px; line-height: 13px; font-size: 12px; color: #c9d0d8; letter-spacing: -0.5px;}
.event .event_visual .icons .icon .name {font-weight: 700;}
.event .event_visual .icons .icon img {width: 100%; vertical-align: top;}
.event .event_visual .texts {overflow: hidden; margin: 22px;}
.event .event_visual .texts .text_box {width: 448px; height: 324px; border: 4px solid #f4f6f8; border-radius: 16px; background: url(../images/event/img_doublequote.svg) no-repeat 50% 50%; box-sizing: border-box;}
.event .event_visual .texts .text_box .text {margin-top: 114px; line-height: 36px; font-size: 24px; font-weight: 700; color: #616c78; letter-spacing: -1px;}
.event .event_visual .pr_text {position: absolute; top: 492px; left: 492px; width: 912px; height: 560px; border: 4px solid #f4f6f8; border-radius: 16px; background: #fff; box-sizing: border-box;}
.event .event_visual .pr_text .ribbon_tit {height: 56px; margin-top: 40px; padding-top: 12px; background: url(../images/event/img_ribbon.svg) no-repeat 50% 0; font-size: 24px; color: #fff; text-align: center; text-shadow: 0 3px 3px #0095e3; box-sizing: border-box;}
.event .event_visual .pr_text .logo {display: inline-block; margin-top: 24px; width: 420px;}
.event .event_visual .pr_text .logo img {width: 100%; vertical-align: top;}
.event .event_visual .pr_text .pr {margin-top: 24px;}
.event .event_visual .pr_text .pr  p {line-height: 36px; font-size: 20px; font-weight: 700; color: #414853; letter-spacing: -1px;}
.event .event_visual .pr_text .more {display: inline-block; position: relative; margin-top: 58px;}
.event .event_visual .pr_text .more span {position: absolute; top: -15px; left: calc(100% + 41px); margin-top: 58px; font-size: 32px; color: #616c78; transform: rotate(-15deg); transform-origin: top left; white-space: pre;}

.event .advantages .content {position: relative; margin: 148px 0 165px 0; padding: 0 0 25px 180px; text-align: left; box-sizing: border-box;}
.event .advantages .tit_img {position: absolute; top: 0; left: 0;}
.event .advantages .event_tit {margin: 10px 0 0 90px;}
.event .advantages .list_wrap {margin-top: 56px;}
.event .advantages li {display: inline-block;}
.event .advantages li + li {margin-left: 28px;}
.event .advantages li:nth-child(1) .box {background: #5d1fff;}
.event .advantages li:nth-child(2) .box {background: #0964ff;}
.event .advantages li:nth-child(3) .box {background: #1baffd;}
.event .advantages li:nth-child(4) .box {background: #1db6cc;}
.event .advantages li .box {padding: 32px 31px 24px 31px; border-radius: 8px; text-align: center;}
.event .advantages li .box .icon {display: inline-block; width: 112px; height: 112px; border-radius: 50%; background: #fff;}
.event .advantages li .box .icon img {display: inline-block; margin-top: 28px;}
.event .advantages li .box .text {min-width: 186px; margin-top: 12px;}
.event .advantages li .box .text span,
.event .advantages li .box .text em {font-size: 24px; display: block; color: #fff;}
.event .advantages li .box .text em {font-weight: 700;}

.event .experience.full_bg {background: #f4f6f8;}
.event .experience .content {margin-bottom: 68px; text-align: left;}
.event .experience .tit_img_wrap {display: inline-block; position: relative; height: 180px; vertical-align: middle;}
.event .experience .tit_img {position: relative; top: -34px; left: 15px; vertical-align: middle;}
.event .experience .event_tit {display: inline-block; margin-left: 24px; vertical-align: middle;}
.event .experience .list .box_wrap {position: relative; padding-top: 20px;}
.event .experience .list .box_wrap .media_box {position: absolute; z-index: 2; top: 0; left: 0px; width: 100%; padding: 0 20px; box-sizing: border-box;}
.event .experience .list .box_wrap .media_box a {display: block;}
.event .experience .list .box_wrap .media {width: 100%; border-radius: 4px; box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.16);}
.event .experience .list .box_wrap .text_box {overflow: hidden; position: relative; z-index: 1; top: 0; left: 0; width: 100%; padding-top: 52%; border-radius: 4px; background: #616c78;}
.event .experience .list .box_wrap .text_box .review {margin-bottom: 44px; padding: 0 20px; font-size: 20px; font-weight: 300; color: #fff; letter-spacing: -1px;}
.event .experience .list .box_wrap .text_box .writer {padding: 14px 0; background: #414853; font-size: 16px; font-weight: 700; color: #fff; text-align: center; letter-spacing: normal;}
.event #swiper_experience {position: relative; padding-right: 80px;}
.event #swiper_experience:before {content: ''; display: block; position: absolute; z-index: 2; top: 0; right: 0; width: 80px; height: 100%; background: #f4f6f8;}
.event #swiper_experience .swiper-pagination {position: static; left: auto; bottom: auto; margin-top: 40px;}
.event #swiper_experience .swiper-pagination-bullet {width: 20px; height: 20px; border-radius: 10px; background: #c9d0d8; opacity: 1;}
.event #swiper_experience .swiper-pagination-bullet.swiper-pagination-bullet-active {width: 60px; background: #1db6cc;}
.event #swiper_experience .swiper-button-next {right: 0; width: 56px; height: 56px; border: 1px solid #fff; border-radius: 50%; background: #616c78;}
.event #swiper_experience .swiper-button-next:after {font-size: 24px; color: #fff;}

.event .membership .content {position: relative; padding: 112px 0; background: url(../images/event/img_melina.svg) no-repeat 77% 50%;}
.event .membership .content > span {display: block; letter-spacing: normal;}
.event .membership .content > span:nth-child(1) {font-size: 40px; font-weight: 700; color: #000; letter-spacing: normal;}
.event .membership .content > span:nth-child(2) {font-size: 48px; color: #000;}
.event .membership .content > span:nth-child(2) em {font-size: 72px;}
.event .membership .content a {margin-top: 48px; padding-left: 138px; background: #5d1fff url(../images/logo_ava_white.svg) no-repeat 40px 13px; background-size: 82px;}
.event .membership .info {position: absolute; right: 0; bottom: 24px; font-size: 14px; color: #616c78;}
.event .membership .info em {font-weight: 700;}

.event #footer {background: #1a1a1c;}
.event #footer .content {padding: 42px 0; text-align: center;}
.event #footer span {display: inline-block; margin-right: 24px; vertical-align: middle; font-size: 24px; color: #e3e8eb; letter-spacing: -1px;}
.event #footer img {vertical-align: middle;}

@media screen and (max-width:1919px){
  .event .event_visual .pr_text .ribbon_tit {margin-top: 35px;}
  .event .event_visual .pr_text .logo {margin-top: 22px;}
  .event .event_visual .pr_text .pr {margin-top: 22px;}
  .event .event_visual .pr_text .more {margin-top: 30px;}
}

@media screen and (max-width:1500px){
  .event .event_visual .pr_text .ribbon_tit {height: 46px; padding-top: 9px; background-size: 500px; font-size: 20px;}
  .event .event_visual .pr_text .logo {margin-top: 20px;}
  .event .event_visual .pr_text .pr {margin-top: 20px;}
  .event .event_visual .pr_text .more {margin-top: 28px;}
}

@media screen and (max-width:768px){
  body {min-width: 320px;}
  #wrap.event {min-width: auto;}
  .event .stn {min-width: auto; padding: 0 20px;}
  .event .content {min-width: auto; width: 100%;}

  .event .event_start {min-height: 560px; padding: 0; background-position: 43% 100%;}
  .event .event_start.pc {display: none;}
  .event .event_start.mobile {display: block; background-position: 40% 100%;}

  .event .event_start .mina {position: relative; top: auto; left: auto; width: 100%; padding-top: 30%;}
  .event .event_start .mina img {width: 90%;}
  .event .event_start .mina .btn_audio {top: 49%;}
  .event .event_start .sponge {position: relative; top: auto; right: auto; width: 100%; padding-top: 23%;}
  .event .event_start .sponge img {width: 90%;}
  .event .event_start .sponge .btn_audio {top: 52%; left: 18%; right: auto;}
  .event .event_start .img_center {width: 100%; height: 100%; background: url(../images/event/start/img_baam_mobile.svg) no-repeat 60% 0; background-size: 150%;}
  .event .event_start .try_text {width: 100%; bottom: 8%;}
  .event .event_start .try_text p:nth-child(1) {display: inline-block; width: 192px; font-size: 14px;}
  .event .event_start .try_text p:nth-child(2) {font-size: 20px;}
  .event .event_start .try_text .btns {margin-top: 24px;}
  .event .event_start .try_text a {width: 128px; height: 52px; line-height: 46px; font-size: 20px;}
  .event .event_start .try_text a + a {margin-left: 24px;}

  .event .event_visual {padding: 0;}
  .event .event_visual .icons .icon_box {display: inline-grid; grid-template-columns: repeat(4, 1fr); padding-right: 8px;}
  .event .event_visual .icons .icon_box:last-child {grid-template-columns: repeat(2, 1fr);}
  .event .event_visual .icons .icon_box:last-child .fr,
  .event_visual .icons .icon_box:last-child .fl {float: none; display: grid; grid-template-columns: repeat(2, 1fr);}
  .event .event_visual .icons {display: block;}
  .event .event_visual .icons .icon {width: auto; height: auto; margin: 8px 0 0 8px; border-radius: 4px;}
  .event .event_visual .icons .icon > p {top: 6px; right: 6px; font-size: 4px;}

  .event_visual .texts {margin: 8px;}
  .event .event_visual .texts .text_box {width: calc(50% - 4px); height: auto; border-width: 2px; background: none;}
  .event .event_visual .texts .text_box .text {margin: 0; padding: 8px 0; line-height: 24px; font-size: 14px;}
  .event .event_visual .pr_text {height: auto; border-width: 2px;}
  .event .event_visual .pr_text {position: relative; top: auto; left: auto; width: calc(100% - 16px); margin: 0 8px;}
  .event .event_visual .pr_text .ribbon_tit {height: 30px; margin-top: 16px; padding-top: 7px; background-size: 300px; line-height: 1; font-size: 12px;}
  .event .event_visual .pr_text .logo {width: 228px; margin-top: 15px;}
  .event .event_visual .pr_text .pr {margin: 15px 0 16px;}
  .event .event_visual .pr_text .pr p {display: inline-block; width: 184px; line-height: 20px; font-size: 14px;}
  .event .event_visual .pr_text .more {display: none;}

  .event .advantages .content {margin: 45px 0; padding: 0;}
  .event .advantages .tit_img {display: inline-block; position: static; top: auto; left: auto; width: 97px;}
  .event .advantages .event_tit {display: inline-block; margin: 25px 0 0 0;}
  .event .event_tit .tit,
  .event .event_tit .audio {display: block;}
  .event .event_tit .tit span:first-child {font-size: 16px;}
  .event .event_tit .tit span:last-child {margin-top: 5px; font-size: 24px;}
  .event .event_tit .audio {margin: 24px 0 0 0;}
  .event .event_tit .audio .btn_audio {width: 40px; height: 40px;}
  .event .event_tit .audio .btn_audio img {width: 24px;}
  .event .event_tit .audio span {margin-left: 6px; font-size: 10px; letter-spacing: -0.5px;}
  .event .advantages .list_wrap {margin-top: 0;}
  .event .advantages .list_wrap .list {display: inline-grid; grid-template-columns: repeat(2, 1fr); gap: 16px; width: 100%;}
  .event .advantages li + li {margin: 0;}
  .event .advantages li .box {width: 100%; padding: 20px 0;}
  .event .advantages li .box .icon {width: 72px; height: 72px;}
  .event .advantages li .box .icon img {width: 40px; margin-top: 16px;}
  .event .advantages li .box .text {min-width: auto; margin-top: 8px;}
  .event .advantages li .box .text span,
  .event .advantages li .box .text em {font-size: 16px;}

  .event .experience {overflow: initial; position: relative; margin-top: 75px;}
  .event .experience .tit_img_wrap {height: auto;}
  .event .experience .tit_img {position: absolute; top: -50px; left: 20px; width: 68px;}
  .event .experience .event_tit {position: absolute; top: -75px; left: 124px; width: 140px;}
  .event .experience .event_tit .tit span:first-child {font-size: 16px; letter-spacing: -0.8px;}
  .event .experience .event_tit .tit span:last-child {font-size: 24px; letter-spacing: -1px;}
  .event .experience .list_wrap {margin-top: 58px;}
  .event .experience .list .box_wrap .text_box .review {min-height: 38px; margin-bottom: 20px; font-size: 14px;}
  .event .experience .list .box_wrap .text_box .writer {font-size: 14px;}
  .event #swiper_experience {padding: 0;}
  .event #swiper_experience:before {display: none;}
  .event #swiper_experience .swiper-button-next {display: none;}
  .event #swiper_experience .swiper-pagination {display: inline-flex;}
  .event #swiper_experience .swiper-pagination-bullet {width: 17%; height: 4px; margin: 0; border-radius: 3px;}
  .event #swiper_experience .swiper-pagination-bullet.swiper-pagination-bullet-active {width: 17%;}

  .event .membership .content {padding: 40px 0 48px 0; background-position: 50% 100px; background-size: 90px;}
  .event .membership .content > span:nth-child(1) {font-size: 20px;}
  .event .membership .content > span:nth-child(2) {margin-top: 110px; font-size: 24px;}
  .event .membership .content > span:nth-child(2) em {font-size: 36px;}
  .event .membership .content .btn_primary_bg {margin-top: 24px; padding: 6px 20px 10px 96px; background-size: 54px; background-position: 32px 12px}
  .event .membership .content .btn_primary_bg .text {font-size: 16px;}
  .event .membership .content .btn_primary_bg .icon_right {width: 24px; vertical-align: middle;}
  .event .membership .content > span {position: static; right: auto; bottom: auto; margin-top: 24px; font-size: 10px;}
}

@media screen and (max-width:359px){
  .event .event_visual .pr_text .ribbon_tit {background-size: 275px;}
  .event .advantages .tit_img {width: 70px;}
  .event .advantages .event_tit {margin-top: 10px;}
  .event .event_tit .audio {margin-top: 5px;}
  .event .advantages li .box {padding: 14px 0;}
  .event .experience .list .box_wrap .text_box {padding-top: 48%;}
  .event .event_start .try_text {bottom: 4%;}
}

/* 문의하기 페이지 */
.inquiry .content {padding: 124px 0;}
.inquiry .forms {margin-top: 104px; text-align: center;}
.inquiry .forms .box {display: inline-block; width: 1024px; text-align: left;}
.inquiry .forms dl {overflow: hidden; margin-top: 20px;}
.inquiry .forms dt,
.inquiry .forms dd {display: inline-block; vertical-align: top;}
.inquiry .forms dt {width: 100px; padding-top: 14px; font-size: 20px; color: #000;}
.inquiry .forms dd {float: right; width: calc(100% - 140px); margin-left: 20px;}
.inquiry .forms .info {display: block; margin-top: 24px; line-height: 24px; font-size: 14px; color: #616c78; text-align: left;}
.inquiry .forms .info img {display: inline-block; margin-right: 6px; vertical-align: middle;}
.inquiry .forms .info span {vertical-align: middle;}
.inquiry .forms .btn_inquiry {text-align: center;}
.inquiry .forms button {display: inline-block; margin-top: 124px; padding: 16px 176px; border: 1px solid #c9d0d8; border-radius: 4px; font-size: 24px; font-weight: 700; color: #616c78;}
.inquiry .forms button:hover {background: #616c78; color: #fff;}

.inquiry .check_list {border-top: 1px solid #cad0d7; margin-top: 70px; padding-top: 70px;}
.inquiry .ipt_box {display: block;}
.inquiry .ipt_txt {display: block; width: 100%; padding: 13px 24px; border: 1px solid #c9d0d8; border-radius: 4px; background: #f4f6f8; font-size: 20px; color: #a8b0bc; box-sizing: border-box;}
.inquiry .ipt_txt::placeholder {font-weight: 400; color: #a8b0bc;}
.inquiry .ipt_txt:focus {background: #fff; font-weight: 700; color: #414853;}
.inquiry textarea.ipt_txt {height: 400px; line-height: 1.8; font-size: 16px;}
.inquiry textarea.ipt_txt:focus {font-weight: 400;}
.inquiry .ipt_chk {position: absolute; overflow: hidden; width: 1px; height: 1px; padding: 0; margin: -1px; clip: rect(0,0,0,0); border: 0;}
.inquiry .ipt_chk + label {position: relative; padding-left: 36px; font-weight: 700; color: #414853;}
.inquiry .ipt_chk + label:before {content: ''; position: absolute; top: 50%; left: 0; width: 24px; height: 24px; margin: 0; text-align: center; font-size: 0.75em; line-height: 18px; border: 1px solid #adb8c3; border-radius: 3px; background: #fff; box-sizing: border-box; transform: translate(0, -50%);}
.inquiry .ipt_chk:checked + label:before {content: url(../images/ico_check.svg); border: none;}
.inquiry .check_list .info {color: #414853;}

@media screen and (max-width:768px){
  .inquiry .content {padding: 40px 0 68px 0;}
  .inquiry .forms {margin-top: 0;}
  .inquiry .forms .box {width: 100%;}
  .inquiry .forms dl {margin-top: 24px;}
  .inquiry .forms dt,
  .inquiry .forms dd {display: block;}
  .inquiry .forms dt {padding: 0; font-size: 16px; font-weight: 700;}
  .inquiry .forms dd {float: none; width: 100%; margin: 12px 0 0 0;}
  .inquiry .ipt_txt {font-size: 16px;}
  .inquiry .forms .info span {line-height: 20px;}
  .inquiry .check_list {margin-top: 48px; padding-top: 48px;}
  .inquiry .forms button {width: 100%; padding: 10px 0; margin-top: 48px; text-align: center;}
}

/* 요금안내 페이지 */
.rates .category {padding-top: 125px;}
.rates .info_tit {text-align: left;}
.rates .info_tit span {vertical-align: middle; font-weight: 700; color: #414853;}
.rates .info_tit img {margin-right: 8px; vertical-align: middle;}
.rates .info {line-height: 1.8; font-size: 14px; color: #616c78; text-align: left;}
.rates .category_list {margin-top: 104px; text-align: left;}
.rates .category_list li .label span {display: inline-block; padding: 6px 12px; border-radius: 4px; background: #f4f6f8; font-size: 12px; font-weight: 700; color: #414853; letter-spacing: 1px;}
.rates .category_list li .tit {margin-top: 16px;}
.rates .category_list li .tit span {display: block; line-height: 1.5; font-weight: 700; color: #000;}
.rates .category_list li .tit .f_normal {display: inline; font-weight: 400;}
.rates .category_list li .desc {height: 164px; margin-top: 12px;}
.rates .category_list li .desc span {display: block; line-height: 1.8; font-size: 14px; color: #414853;}
.rates .category_list li .price {margin-top: 24px; padding: 24px 0 36px; border-top: 1px solid #e4e8eb; text-align: center; letter-spacing: normal;}
.rates .category_list li .price span {font-size: 14px; color: #a8b0bc;}
.rates .category_list li .price em {font-size: 24px; font-weight: 700; color: #414853;}
.rates .category_list li .price em span {font-size: 16px; color: #414853;}
.rates .category_list li a {display: block; width: 100%; padding: 10px 0; border: 1px solid #f3f6f7; border-radius: 4px; font-size: 20px; font-weight: 700; color: #414853; text-align: center;}
.rates .category_list li a:hover {background: #f4f6f8;}
.rates .category_list .lite .label span {background: #dcf3f7; color: #1db6cc;}
.rates .category_list .lite .price em {color: #1db6cc;}
.rates .category_list .lite .price em span {color: #1db6cc;}
.rates .category_list .lite a {border-color: #dcf3f7; color: #1db6cc;}
.rates .category_list .lite a:hover {background: #dcf3f7;}
.rates .category_list .standard .label span {background: #ddf3ff; color: #1baffd;}
.rates .category_list .standard .price em {color: #1baffd;}
.rates .category_list .standard .price em span {color: #1baffd;}
.rates .category_list .standard a {border-color: #ddf3ff; color: #1baffd;}
.rates .category_list .standard a:hover {background: #ddf3ff;}
.rates .category_list .business .label span {background: #dae8ff; color: #0964ff;}
.rates .category_list .business .price em {color: #0964ff;}
.rates .category_list .business .price em span {color: #0964ff;}
.rates .category_list .business a {border-color: #dae8ff; color: #0964ff;}
.rates .category_list .business a:hover {background: #dae8ff;}
.rates .category_list .enterprise .label span {background: #e5dffe; color: #5d1fff;}
.rates .category_list .enterprise .price em {color: #5d1fff;}
.rates .category_list .enterprise .price em span {color: #5d1fff;}
.rates .category_list .enterprise a {border-color: #e5dffe; color: #5d1fff;}
.rates .category_list .enterprise a:hover {background: #e5dffe;}
.rates .category_info {margin-top: 72px;}
.rates .rate {padding: 124px 0;}
.rates .rate_box {margin-top: 40px;}
.rates .rate_box .rate_tit_mobile {display: none; overflow-x: auto; margin-bottom: 16px; text-align: left; white-space: nowrap;}
.rates .rate_box .rate_tit_mobile button {padding: 8px; color: #000;}
.rates .rate_box .rate_tit_mobile button.active {border-bottom: 5px solid #c9d0d8; font-weight: 700;}
.rates .rate_box {overflow: hidden;}
.rates .rate_box li {float: left; line-height: 24px;}
.rates .rate_box li + li {margin-left: 12px;}
.rates .rate_box li .cont_tit {border-top: 1px solid #cad0d7;}
.rates .rate_box .rate_tit {overflow: hidden; text-align: center;}
.rates .rate_box .rate_tit div {padding: 32px 0;}
.rates .rate_box .rate_tit div:first-child {float: left; width: 200px; padding-left: 35px; text-align: left; box-sizing: border-box;}
.rates .rate_box .rate_tit div:last-child {float: right; width: 206px; background: #f4f6f8; font-size: 24px; font-weight: 700; color: #000; letter-spacing: normal;}
.rates .rate_box .cont_tit {overflow: hidden;}
.rates .rate_box .cont_tit div {padding: 20px 0;}
.rates .rate_box .cont_tit div:first-child {float: left; width: 200px; padding-left: 35px; font-size: 20px; font-weight: 700; color: #000; text-align: left; letter-spacing: -1px; box-sizing: border-box;}
.rates .rate_box .cont_tit div:last-child {float: right; width: 206px; background: #f4f6f8;}
.rates .rate_box .cont_dropdown > div {overflow: hidden;}
.rates .rate_box .cont_dropdown > div > div {padding: 20px 0;}
.rates .rate_box .cont_dropdown > div div:first-child {float: left; width: 200px; padding-left: 35px; color: #414853; text-align: left; text-indent: 12px; box-sizing: border-box;}
.rates .rate_box .cont_dropdown > div div:last-child {float: right; width: 206px; background: #f4f6f8;}
.rates .rate_box .cont_dropdown .drop_tit {overflow: hidden;}
.rates .rate_box .cont_dropdown .drop_tit div:first-child {float: left; width: 200px; padding-left: 35px; text-align: left; text-indent: 0; box-sizing: border-box;}
.rates .rate_box .cont_dropdown .drop_tit div:last-child {float: right; width: 206px; background: #f4f6f8;}
.rates .rate_box li .rate_tit div:first-child,
.rates .rate_box li .cont_tit div:first-child,
.rates .rate_box li .cont_dropdown > div div:first-child,
.rates .rate_box li .cont_dropdown .drop_tit div:first-child {display: none;}
.rates .rate_box li:first-child .rate_tit div:first-child,
.rates .rate_box li:first-child .cont_tit div:first-child,
.rates .rate_box li:first-child .cont_dropdown > div div:first-child,
.rates .rate_box li:first-child .cont_dropdown .drop_tit div:first-child {display: block;}
.rates .rate_info {margin-top: 48px;}
.rates .rate_info .info_tit {margin-bottom: 12px;}

@media screen and (max-width:768px){
  .rates .category {padding-top: 40px;}
  .rates .category_list {margin-top: 24px;}
  .rates .category_list li {padding: 20px; border: 1px solid #e3e8eb; border-radius: 4px; box-sizing: border-box;}
  .rates .category_info {margin-top: 24px;}
  .rates .info {line-height: inherit; font-size: 12px;}
  .rates .rate {padding: 68px 0;}
  .rates .rate_box {margin-top: 24px;}
  .rates .rate_box .rate_tit {display: none;}
  .rates .rate_box .rate_tit_mobile {display: block;}
  .rates .rate_box li {float: none; display: none;}
  .rates .rate_box li.active {display: block;}
  .rates .rate_box li .cont_dropdown {display: none;}
  .rates .rate_box li .cont_tit.active + .cont_dropdown {display: block;}
  .rates .rate_box li .cont_tit div:last-child {background: url(../images/ico_chevrondown.svg) no-repeat 0 50%;}
  .rates .rate_box li .cont_tit.active div:last-child {background: url(../images/ico_chevronup.svg) no-repeat 0 50%;}
  .rates .rate_box li + li {margin: 0;}
  .rates .rate_box li .cont_tit div:first-child,
  .rates .rate_box li .cont_dropdown > div div:first-child,
  .rates .rate_box li .cont_dropdown .drop_tit div:first-child {display: block;}
  .rates .rate_box .cont_tit,
  .rates .rate_box .cont_dropdown > div {width: 100%; border-top: 1px solid #cad0d7;}
  .rates .rate_box .cont_tit div:first-child,
  .rates .rate_box .cont_dropdown > div div:first-child,
  .rates .rate_box .cont_dropdown .drop_tit div:first-child {width: calc(100% - 48px); padding-left: 24px; background: #f4f6f8;}
  .rates .rate_box .cont_tit div:first-child {font-size: 16px;}
  .rates .rate_box .cont_dropdown > div div:first-child {font-size: 14px;}
  .rates .rate_box .cont_tit div:last-child,
  .rates .rate_box .cont_dropdown > div div:last-child,
  .rates .rate_box .cont_dropdown .drop_tit div:last-child {width: 48px; text-align: left;}
  .rates .rate_box .cont_tit div:first-child,
  .rates .rate_box .cont_tit div:last-child {background-color: #fff;}
  .rates .rate_box .cont_tit div,
  .rates .rate_box .cont_dropdown > div > div {padding: 12px 0;}
  .rates .rate_info {margin-top: 24px;}
}